In [1]:
import sys; sys.path.append("../")

from clean.baton_rouge_csd_pprr import clean_17, clean_19
from lib.explore import show_unique
from lib.match import (
    match_records, print_match_result, ColumnsIndex, JaroWinklerSimilarity,
    StringSimilarity, DateSimilarity, ThresholdClassifier
)
from lib.date import combine_date_columns

In [2]:
df17 = clean_17()
df17

,year,employee_id,last_name,first_name,middle_initial,department_code,department_desc,rank_code,rank_desc,employment_status,annual_salary,data_production_year,hire_year,hire_month,hire_day,term_year,term_month,term_day,agency
0,2008,337,adams,rodney,p,5020001,police department-uniform patrol bureau,5020,police captain,0,86637.85,2017,1980,12,22,2010,11,17,Baton Rouge CSD
1,2009,337,adams,rodney,p,5020001,police department-uniform patrol bureau,5020,police captain,0,81537.06,2017,1980,12,22,2010,11,17,Baton Rouge CSD
2,2010,337,adams,rodney,p,5020001,police department-uniform patrol bureau,5020,police captain,5,66863.96,2017,1980,12,22,2010,11,17,Baton Rouge CSD
3,2008,604,adams,leif,t,5020001,police department-uniform patrol bureau,5010,police sergeant,0,61178.34,2017,1988,7,28,,,,Baton Rouge CSD
4,2009,604,adams,leif,t,5020001,police department-uniform patrol bureau,5010,police sergeant,0,60324.48,2017,1988,7,28,,,,Baton Rouge CSD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10042,2017,500461,edlund,tonya,s,5020001,police department-uniform patrol bureau,5005,police officer,0,49303.83,2017,2013,2,18,,,,Baton Rouge CSD
10043,2017,511420,langston jr,robert,m,5020001,police department-uniform patrol bureau,5005,police officer,0,43748.32,2017,2014,6,30,,,,Baton Rouge CSD
10044,2017,528439,guevara,maria,j,5020001,police department-uniform patrol bureau,5005,police officer,0,35700.99,2017,2016,11,14,,,,Baton Rouge CSD
10045,2017,515868,brown,justin,p,5020001,police department-uniform patrol bureau,5005,police officer,0,40314.29,2017,2015,4,20,,,,Baton Rouge CSD
10046,2017,418552,stevenson,william,p,5060001,police department-criminal invest bureau,5010,police sergeant,0,77481.67,2017,1998,7,31,,,,Baton Rouge CSD

In [3]:
df19 = clean_19()
df19

,year,last_name,first_name,middle_initial,department_code,department_desc,rank_code,rank_desc,employment_status,annual_salary,employee_id,data_production_year,hire_year,hire_month,hire_day,term_year,term_month,term_day,agency
0,2018,williams,decory,l,5040,police-operational serv bureau,2070,senior stock clerk,active,26541.06,0xF1ABD670358E036C31296E66B3B66C382AC00812,2019,2014,6,23,,,,Baton Rouge CSD
1,2018,weissberg,deena,j,5020,police-uniform patrol bureau,5005,police officer,active,53024.53,0xAF3E133428B9E25C55BC59FE534248E6A0C0F17B,2019,2010,3,31,,,,Baton Rouge CSD
2,2018,graham,michael,h,5050,police-communications,5115,police comm officer i-42 hrs,inactive,54243.63,0x9109C85A45B703F87F1413A405549A2CEA9AB556,2019,2007,4,21,2019,1,22,Baton Rouge CSD
3,2018,gillich,joshua,m,5070,police-criminal investigation,5005,police officer,active,28738.00,0xB4C96D80854DD27E76D8CC9E21960EEBDA52E962,2019,2008,12,8,,,,Baton Rouge CSD
4,2018,saleh,haled,,5020,police-uniform patrol bureau,5005,police officer,inactive,62144.25,0x1F1362EA41D1BC65BE321C0A378A20159F9A26D0,2019,2006,6,12,2019,4,26,Baton Rouge CSD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1957,2018,howard,walter,c,5060,police-special operations,6525,school crossing guard,active,942.50,0x0B9918551C179FAF20295B3C0CB7798486824D12,2019,2018,10,24,,,,Baton Rouge CSD
1958,2018,houston,stacy,m,5060,police-special operations,6525,school crossing guard,active,928.00,0x08AB94787936E21703BA8ABB75A6B57237E83FF4,2019,2018,10,24,,,,Baton Rouge CSD
1959,2018,dyson,kenneth,w,5060,police-special operations,6525,school crossing guard,active,928.00,0x6BE2349E0ECE2FA121CA321B3C85CCA02311E62C,2019,2018,10,24,,,,Baton Rouge CSD
1960,2018,augustus,robert,l,5060,police-special operations,6525,school crossing guard,inactive,913.50,0x9E065978592E8F4AE463B70C70C8A3C1ED6F9389,2019,2018,10,24,2019,6,10,Baton Rouge CSD
1961,2018,byrd,deandrea,n,5010,police-administration,6510,college student intern,inactive,261.00,0x3DF1D27854014CD414A5210B2F7028A9ADE87D82,2019,2018,12,17,2019,6,17,Baton Rouge CSD

In [16]:
dfa = df17[["last_name", "first_name", "middle_initial", "rank_code", "employee_id"]]
dfa.loc[:, "hire_date"] = combine_date_columns(df17, "hire_year", "hire_month", "hire_day")
dfa.loc[:, "rank_code"] = dfa.rank_code.astype("str")
dfa.loc[:, "lnsf"] = dfa.last_name.map(lambda x: "" if x == "" else x[:2])
dfa = dfa.drop_duplicates("employee_id").set_index("employee_id", drop=True)

dfb = df19[["last_name", "first_name", "middle_initial", "rank_code", "employee_id"]]
dfb.loc[:, "hire_date"] = combine_date_columns(df19, "hire_year", "hire_month", "hire_day")
dfb.loc[:, "rank_code"] = dfb.rank_code.astype("str")
dfb.loc[:, "lnsf"] = dfb.last_name.map(lambda x: "" if x == "" else x[:2])
dfb = dfb.drop_duplicates("employee_id").set_index("employee_id", drop=True)

matches, potential_matches, non_matches = match_records(
    ColumnsIndex(["first_name", "lnsf"]),
    ThresholdClassifier(
        fields={
            "last_name": JaroWinklerSimilarity(0.25),
            "middle_initial": StringSimilarity(),
            "rank_code": StringSimilarity(),
            "hire_date": DateSimilarity()
        },
        thresholds=[0.8, 0.6]
    ),
    dfa,
    dfb
)

In [17]:
print_match_result(dfa, dfb, [], potential_matches, [])

matches: 0
potential matches: 64
non-matches: 0

*** POTENTIAL MATCHES ***

                                           last_name first_name middle_initial rank_code  hire_date lnsf
439037                                          carr   calandra              w    110090 2007-01-26   ca
0x7698330419D7539E743E9F4985411FAF76E64261      carr   calandra              w      2014 2006-10-14   ca

                                            last_name first_name middle_initial rank_code  hire_date lnsf
531804                                      henderson     kierra              s    110090 2017-05-08   he
0x25761D2C0BCA9CC35A95D54C003393964D0F8746  henderson     kierra                     2014 2017-05-08   he

                                           last_name first_name middle_initial rank_code  hire_date lnsf
343250                                       canning       mark              w      5005 1997-09-05   ca
0xE10DECE4047471685A87FBD7663235C920AF266F    carrie       mark              j      5005 2014-06-30   ca

                                           last_name   first_name middle_initial rank_code  hire_date lnsf
394513                                       mcclure  christopher              w      5005 2000-08-14   mc
0xBF91D431389989D17674008C379587B6308503E4  mcdowell  christopher              k      5005 2006-02-27   mc

                                           last_name first_name middle_initial rank_code  hire_date lnsf
521655                                         simms     taylar              j    110090 2017-05-08   si
0xBA42347B3FD300DC9636788B2DA5CE32CCB010D2     simms     taylar              j      2014 2016-11-09   si

                                           last_name first_name middle_initial rank_code  hire_date lnsf
372323                                         moses     robert              c      5005 2004-04-19   mo
0x3D5BDF107DE596CE77E8CE48A61B585F52BBB61D   moruzzi     robert              j      5005 2008-07-19   mo

                                           last_name first_name middle_initial rank_code  hire_date lnsf
440841                                       johnson    brandon              l      5005 2006-06-12   jo
0x5375EF76B6DC19BB987A8EAB45F489E7ABD6CCC8   johnson    brandon              t      5010 1999-04-01   jo

                                           last_name first_name middle_initial rank_code  hire_date lnsf
370975                                       neyland      paige              r    110132 1991-06-17   ne
0xE12809C9823BD87C393EF4771DEEDDE51BF314B2   neyland      paige              r      2018 1988-12-07   ne

                                           last_name first_name middle_initial rank_code  hire_date lnsf
359297                                        landry      debra              a      5106 2001-05-29   la
0xE3BE37D663E1AF2D8656BD7F81C4212F498CE6EA    landry      debra              a      5200 2000-09-13   la

                                           last_name first_name middle_initial rank_code  hire_date lnsf
385735                                         elzey      kevin              d    113125 2006-10-16   el
0x4B14FDAE270977C65AC7CC87581A3F83AC7CB27B     elzey      kevin              d      5210 1998-08-06   el

                                           last_name first_name middle_initial rank_code  hire_date lnsf
384445                                        ned jr      larry              m      5005 1996-04-08   ne
0x7F7AEBEA4D94CD047A68575A1B7DB59904EC1EAA       ned      larry              m      5010 1996-02-04   ne

                                           last_name first_name middle_initial rank_code  hire_date lnsf
252905                                        spears    barbara              a    110645 2012-12-10   sp
0xAF4C20BCEEB8F19C940ACDF268E85DBB4EC7CDC8    spears    barbara              a      2098 1980-02-21   sp

                                           last_name first_name middle_initial rank_code  hire_date lnsf
359556                                       bellard       john              l      5005 1998-07-31   be
0xBFB6BE800E9E6DD26EA03396046B7B3D011EFF6C   belcher       john              d      5005 2008-04-14   be

                                           last_name first_name middle_initial rank_code  hire_date lnsf
522740                                        harris      grant              g    400074 2016-01-21   ha
0x8273D1150247C93B4CA9E3CFB76EF36739B559E1    harris      grant              g      6510 2019-08-12   ha

                                           last_name first_name middle_initial rank_code  hire_date lnsf
441007                                      thompson    michael              n      5005 2006-06-12   th
0xAA0E9F704B12A27AF259750F79B22F99EFDB68C5    thomas    michael              w      5005 2001-09-24   th

                                           last_name first_name middle_initial rank_code  hire_date lnsf
462748                                      matthews      jason              d      5005 2008-12-08   ma
0xB4B45B6BE6F1B02EA91F697172F0A4D15382179F    martin      jason              b      5005 2002-05-20   ma

                                            last_name first_name middle_initial rank_code  hire_date lnsf
341541                                      bourgeois     jeremy              p      5005 2003-03-05   bo
0x2EA01DED1B55529877CD383F52DA5A00A065214D     bonnet     jeremy              j      5005 2015-10-19   bo

                                            last_name first_name middle_initial rank_code  hire_date lnsf
521434                                         bonnet     jeremy              j      5005 2015-10-19   bo
0x5A7E7745847673577D8920192440042BE8C9B385  bourgeois     jeremy              p      5005 2003-03-05   bo

                                           last_name first_name middle_initial rank_code  hire_date lnsf
282723                                       lebouef      karen              w    110620 1995-01-03   le
0x8EF8AF707DAAA2B70A0E76E61AAF9537B1FB4D7E   lebouef      karen              w      2030 1983-06-17   le

                                           last_name first_name middle_initial rank_code  hire_date lnsf
440680                                       bethany    brandon              m      5005 2006-06-12   be
0x6E7933B203B43E98AFACE689FC3EE5DCAD6600D2    beatty    brandon              l      5005 2014-06-30   be

                                           last_name first_name middle_initial rank_code  hire_date lnsf
511382                                        beatty    brandon              l      5005 2014-06-30   be
0x4F3D77742C3FE57B7B5885D05C98F34AAF6C6B67   bethany    brandon              m      5005 2006-06-12   be

                                           last_name first_name middle_initial rank_code  hire_date lnsf
276979                                       weishar       todd              d      5010 1985-06-17   we
0x4049DA66C1965ACDF504363250695627B0A9E32E      webb       todd              l      5010 1998-07-31   we

                                                   last_name first_name middle_initial rank_code  hire_date lnsf
469262                                              starwood   shirelle              l    400074 2013-11-04   st
0x86C2CC4137BA0C9A8392CAD3F9837980390245C3  starwood-chester   shirelle              l      5200 2015-04-20   st

                                           last_name first_name middle_initial rank_code  hire_date lnsf
373087                                        bowman    kenneth              s      5005 1996-08-09   bo
0xC2D56260D5EEE598E5FC24121DDD47E8DF71AF38   bourque    kenneth              k      5005 2005-08-15   bo

                                           last_name first_name middle_initial rank_code  hire_date lnsf
206849                                        turner     willie              j      5015 1983-07-18   tu
0x3AE67B230A98D731FC1A3E8667CBA4D3DA464F67    turner     willie              d      5005 2008-03-25   tu

                                           last_name first_name middle_initial rank_code  hire_date lnsf
383910                                         royal     althea              p    110090 2012-05-07   ro
0xBD5807001FBCA75EA05F231D53E99B8F33F6D316     royal     althea              p      2016 1992-04-22   ro

                                           last_name first_name middle_initial rank_code  hire_date lnsf
479721                                        hooker      mikea              l    400074 2011-10-03   ho
0xEA6190388589E118DA000561D056BBECF8142F4C    hooker      mikea              l      2014 2017-02-27   ho

                                           last_name first_name middle_initial rank_code  hire_date lnsf
492981                                       johnson    traonna              s      5106 2011-12-19   jo
0x3A85D2178D036673A374A5ACAB7DA4DE0361B6E8   johnson    traonna              s      5200 2012-03-21   jo

                                           last_name first_name middle_initial rank_code  hire_date lnsf
179558                                         moses      tracy              l      5106 1988-07-16   mo
0xE11C349AF657A37EDAA85CABE53B25F76EE035F2     moses      tracy              l      5200 1988-06-17   mo

                                            last_name first_name middle_initial rank_code  hire_date lnsf
280836                                      wilkinson    timothy              d      5010 1987-04-27   wi
0xAC4B9FD6CA17EDB1289166DB48B253122F81911C  wilkinson    timothy              j      5005 2016-11-14   wi

                                           last_name first_name middle_initial rank_code  hire_date lnsf
515868                                         brown     justin              p      5005 2015-04-20   br
0x3F6F4DF465E42ACE19E112FA62647521CFBF4ECD   brister     justin              m      5005 2018-10-15   br

                                           last_name first_name middle_initial rank_code  hire_date lnsf
466336                                         kuntz       mary              a      5107 2009-04-25   ku
0xA71EBCEF59D927386148B4D85A1207AB1BFA0C2C     kuntz       mary              a      5115 2004-12-17   ku

                                           last_name first_name middle_initial rank_code  hire_date lnsf
321052                                         rimes    melissa              j      5107 2014-04-23   ri
0x898D99D62E92C4485FFF43391CEC7C59E4FE7D12     rimes    melissa              j      5115 2014-03-10   ri

                                           last_name   first_name middle_initial rank_code  hire_date lnsf
462713                                        ruffin  christopher              m      5005 2013-02-18   ru
0x05A8EA5382B9FD885261BB3EED0527D1D3B07262      rudy  christopher              l      5005 2006-02-27   ru

                                           last_name first_name middle_initial rank_code  hire_date lnsf
128759                                         moore    elouise                   210020 2006-05-17   mo
0x81929283A89C24D62145E8DF553BCB2CD5F2D390     moore    elouise                     2014 1977-10-04   mo

                                           last_name first_name middle_initial rank_code  hire_date lnsf
366170                                         jones     keisha              n    110090 2017-09-25   jo
0x68CB70EA21B8A3528AEE58384AB83DDFBBCDA02B     jones     keisha              n      2014 2012-07-02   jo

                                           last_name first_name middle_initial rank_code  hire_date lnsf
382523                                        thomas     delvan                     5106 2003-12-27   th
0x39B999B2044C453F1DE4DBD893D61F365F49F4E0    thomas     delvan                     5200 2005-01-18   th

                                           last_name first_name middle_initial rank_code  hire_date lnsf
228907                                         evans      anita              e    114235 2009-04-14   ev
0xF754E904DFC75AE544977F3F441A1D1B486392CC     evans      anita              e      2014 1980-05-18   ev

                                           last_name first_name middle_initial rank_code  hire_date lnsf
342300                                      polozola    charles              j      5010 1992-01-09   po
0x4C1B52409CF6BE3896CF163FA17B32E4DA293F2E    pollar    charles              g      5005 2008-04-14   po

                                           last_name first_name middle_initial rank_code  hire_date lnsf
421316                                      anderson  jacquelyn              h      5107 2011-10-17   an
0xBCAFA2E168456D83A56150C2EDC5A7C10BE272C4  anderson  jacquelyn              h      5115 2005-11-07   an

                                           last_name first_name middle_initial rank_code  hire_date lnsf
408069                                         wilks     brandi              j      5127 2009-05-18   wi
0xA8A283FAA41ACA38315C775DB5544BB182721545     wilks     brandi              j      5220 2006-05-19   wi

                                           last_name first_name middle_initial rank_code  hire_date lnsf
164348                                       johnson      janet              m    210020 2006-05-17   jo
0xC6731F4A07ACF83354F4E3137D3E528B10BB02C4   johnson      janet              m      2014 1976-12-29   jo

                                           last_name first_name middle_initial rank_code  hire_date lnsf
358290                                        roy jr      james              m      5005 2004-04-19   ro
0x2BCEFE2ED09FA35DC6BF22D590BE971AC69647AA      rowe      james              e      5005 2011-08-22   ro

                                           last_name first_name middle_initial rank_code  hire_date lnsf
490962                                       rowe jr      james              e      5005 2011-08-22   ro
0xE4CE5F091C3057A3B03E82F4196A29B2C0B6BD75       roy      james              m      5005 2004-04-19   ro

                                           last_name first_name middle_initial rank_code  hire_date lnsf
329983                                      williams       liza              s    110090 2004-11-29   wi
0x084B3AF47AF339166EBC6120A52059499A7B2D38  williams       liza              s      5005 1997-11-29   wi

                                           last_name first_name middle_initial rank_code  hire_date lnsf
337315                                         white        joy              b    110090 2016-09-19   wh
0x9E434FBC18017B851FBE8EDA491F202F583E9D7A     white        joy              b      2016 2015-02-19   wh

                                           last_name first_name middle_initial rank_code  hire_date lnsf
320480                                        thomas      bryan              k      5005 2003-03-05   th
0x023C147537DFE1C60595364EE7A14CFC793E396D  thompson      bryan              g      5005 2004-11-29   th

                                           last_name first_name middle_initial rank_code  hire_date lnsf
333026                                       welborn      james              r      5005 1993-07-16   we
0x9D4F34A2F02D2F96031A11885C451CFD550C0705     weber      james              e      5005 2004-04-19   we

                                           last_name first_name middle_initial rank_code  hire_date lnsf
423335                                        hudson      tammy              j    110090 2006-10-25   hu
0x7E1709717D81F6E029068C0EA4681603A7BF5506    hudson      tammy              j      2018 2005-08-20   hu

                                            last_name first_name middle_initial rank_code  hire_date lnsf
363553                                          blust    brandon              m      5005 2002-05-20   bl
0x73FB9760F330BCF6D3B61D28A67CCC8BA37A7F8F  blackwell    brandon              d      5005 2012-07-30   bl

                                            last_name first_name middle_initial rank_code  hire_date lnsf
496758                                      blackwell    brandon              d      5005 2012-07-30   bl
0x458F344B75C9D1B29E1B01CF8CBF1D1EF95830DC      blust    brandon              m      5005 2002-05-20   bl

                                           last_name first_name middle_initial rank_code  hire_date lnsf
358525                                         smith       dena              r    110625 2013-06-17   sm
0x1BB86249E47B0487ADE26CD7ADCE54E3DF97F638     smith       dena              r      2096 1997-11-13   sm

                                           last_name first_name middle_initial rank_code  hire_date lnsf
445088                                       hammond    canisha              s    110090 2008-09-29   ha
0x85B7DDA7149E6A1238BAA48BA814B163ECBD5C5C   hammond    canisha              s      2030 2015-10-12   ha

                                           last_name first_name middle_initial rank_code  hire_date lnsf
312266                                      mccleary    michael              a      5005 1997-10-04   mc
0x8EDC876B9222F23379F666107CF18B6D810E89C5  mccarley    michael              j      5010 1996-01-02   mc

                                           last_name first_name middle_initial rank_code  hire_date lnsf
62790                                         decuir     fannie              b    110090 2013-09-09   de
0xFC5DDE654B1D78F421F87A0BD8207900B580219B    decuir     fannie              b      2016 2010-01-07   de

                                           last_name first_name middle_initial rank_code  hire_date lnsf
506443                                      moore iv     hillar              c    400074 2013-10-15   mo
0xCB449D32AF0B7F31456D50D13A5CC7E397A8DDEB     moore     hillar              c      2014 2017-08-21   mo

                                           last_name first_name middle_initial rank_code  hire_date lnsf
461873                                          king   lashonda              k    110090 2011-11-14   ki
0x02DB8E85943FFB476112D800C3010E376F2799E3      king   lashonda              k      2014 2011-06-16   ki

                                           last_name first_name middle_initial rank_code  hire_date lnsf
473880                                      mckneely    lasunia              c    405600 2009-07-14   mc
0x7F31157FA6B9CE4FF6504214F2BF1B6431C3B848  mckneely    lasunia              c      5115 2019-01-10   mc

                                           last_name   first_name middle_initial rank_code  hire_date lnsf
421626                                         magee  christopher              b      5005 2009-12-15   ma
0x13F2C75746608613E0AD6B92541464289E103134    manuel  christopher              m      5005 2013-02-18   ma

                                           last_name   first_name middle_initial rank_code  hire_date lnsf
500445                                        manuel  christopher              m      5005 2013-02-18   ma
0xE5D5DB2513A4CCFB08C5F5D94F73A0948664DAEA     magee  christopher              b      5005 2008-01-01   ma

                                             last_name first_name middle_initial rank_code  hire_date lnsf
334685                                      johnson jr     donald              l      5005 2003-03-05   jo
0xDBBFE06F066CC0E5A6B24BE221476BAAA2B0F9A6     johnson     donald              r      5005 2008-04-14   jo

                                             last_name first_name middle_initial rank_code  hire_date lnsf
457221                                      johnson jr     donald              r      5005 2008-04-14   jo
0x7E107DE3FA1437E84BC766BF7C84641BCD258A7C     johnson     donald              l      5005 2003-03-05   jo

                                           last_name first_name middle_initial rank_code  hire_date lnsf
490938                                       crisler      james              m      5005 2011-08-22   cr