In [1]:
import sys; sys.path.append("../")

from clean.baton_rouge_csd_pprr import clean_17, clean_19
from lib.explore import show_unique

In [2]:
df17 = clean_17()
df17

,data_production_year,employee_id,last_name,first_name,middle_initial,department_code,department_desc,rank_code,rank_desc,hire_date,term_date,employment_status,annual_salary,uid
0,2008,337,adams,rodney,p,5020001,police department-uniform patrol bureau,5020,police captain,1980-12-22,2010-11-17,0,86637.85,357a6fdf7642bf815a88822c447d9dc4
1,2009,337,adams,rodney,p,5020001,police department-uniform patrol bureau,5020,police captain,1980-12-22,2010-11-17,0,81537.06,357a6fdf7642bf815a88822c447d9dc4
2,2010,337,adams,rodney,p,5020001,police department-uniform patrol bureau,5020,police captain,1980-12-22,2010-11-17,5,66863.96,357a6fdf7642bf815a88822c447d9dc4
3,2008,604,adams,leif,t,5020001,police department-uniform patrol bureau,5010,police sergeant,1988-07-28,NaT,0,61178.34,9cf81d8026a9018052c429cc4e56739b
4,2009,604,adams,leif,t,5020001,police department-uniform patrol bureau,5010,police sergeant,1988-07-28,NaT,0,60324.48,9cf81d8026a9018052c429cc4e56739b
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10042,2017,500461,edlund,tonya,s,5020001,police department-uniform patrol bureau,5005,police officer,2013-02-18,NaT,0,49303.83,be812234679b956143632da6106f0910
10043,2017,511420,langston jr,robert,m,5020001,police department-uniform patrol bureau,5005,police officer,2014-06-30,NaT,0,43748.32,68fa9419145303a2e52e3fe0522524ae
10044,2017,528439,guevara,maria,j,5020001,police department-uniform patrol bureau,5005,police officer,2016-11-14,NaT,0,35700.99,4ca736da63bc2c3aa262c8bf5d196c20
10045,2017,515868,brown,justin,p,5020001,police department-uniform patrol bureau,5005,police officer,2015-04-20,NaT,0,40314.29,fa83fc5abf8a429f95f314718766e614
10046,2017,418552,stevenson,william,p,5060001,police department-criminal invest bureau,5010,police sergeant,1998-07-31,NaT,0,77481.67,81b1e25a2a1fed2030f043103e175b9d

In [4]:
show_unique(df17)

10047 rows
data_production_year:
    dtype: int64
    unique: 10
        [2008 2009 2010 2011 2012 2013 2014 2015 2016 2017]
employee_id:
    dtype: int64
    unique: 1604
last_name:
    dtype: object
    unique: 1058
first_name:
    dtype: object
    unique: 848
middle_initial:
    dtype: object
    unique: 26
        ['p' 't' 'g' '' 'o' 'e' 'k' 'r' 'd' 'l' 'a' 'b' 'w' 'j' 'm' 'c' 's' 'h'
 'i' 'n' 'f' 'u' 'z' 'v' 'y' 'q']
department_code:
    dtype: int64
    unique: 8
        [5020001 5060001 5050001 5010001 5050011 5013601 5013701 5050021]
department_desc:
    dtype: object
    unique: 8
        ['police department-uniform patrol bureau'
 'police department-criminal invest bureau'
 'police department-operation serv bureau'
 'police department-administration' 'police department-communications'
 'brave grant' 'byrne crim jus innov (bcji)'
 'police department-special operations']
rank_code:
    dtype: int64
    unique: 56
        [  5020   5010   5015 405470 110090 999999   5005   5025   5108 110620
 110625    420 100090 100550   5125 110630   5110 210020 300101 110132
 100100   5106   5111 114235 113105   5135   5104 110645 102350 114220
 114215   5130   5127   5107 102305 114237 114225 100548 100095   5000
   5128 400074 100260 105655 113125 102310 110435   5145 111130   5105
 114230 111108 405600 300103   5030   5129]
rank_desc:
    dtype: object
    unique: 55
        ['police captain' 'police sergeant' 'police lieutenant'
 'school crossing guard' 'clerical specialist' 'exception job code'
 'police officer' 'police major' 'police communications ofc ii-42/hrs'
 'administrative specialist i' 'administrative specialist ii'
 'police chief' 'accounting associate i' 'police business manager'
 'police automotive motorcycle mech' 'senior administrative specialist'
 'pol supply offcr' 'clerical specialist (job-share)'
 'community service aide' 'senior clerical specialist' 'accountant'
 'police criminal information spec i'
 'police criminal information spec ii' 'crime specialist' 'stock clerk i'
 'police fingerprint technician ii' 'police communications supervisor'
 'records supervisor' 'pc lan specialist' 'accreditation specialist'
 'accreditation analyst' 'police fingerprint technician i'
 'crime intelligence analyst' 'police communications ofcr i-42/hrs'
 'computer prog/systems analyst i' 'senior crime specialist'
 'police evidence technician' 'assistant police business manager'
 'accounting associate ii' 'police cadet'
 'crime stoppers information analyst' 'college student intern/contract'
 'crime statistician' 'police victim advocate' 'senior stock clerk'
 'computer programmer/sys analy ii' 'senior legal specialist'
 'police latent print examiner' 'senior fiscal specialist'
 'secretary to the chief of police' 'police forensic scientist'
 'fiscal specialist' 'community resource officer'
 'community outreach specialist' 'deputy chief of police']
hire_date:
    dtype: datetime64[ns]
    unique: 666
term_date:
    dtype: datetime64[ns]
    unique: 543
employment_status:
    dtype: int64
    unique: 3
        [0 5 1]
annual_salary:
    dtype: float64
    unique: 9282
uid:
    dtype: object
    unique: 1604

In [5]:
df19 = clean_19()
df19

,data_production_year,last_name,first_name,middle_initial,department_code,department_desc,rank_code,rank_desc,hire_date,term_date,employment_status,annual_salary,employee_id,uid
0,2018,williams,decory,l,5040,police-operational serv bureau,2070,senior stock clerk,2014-06-23,NaT,A,26541.06,0xF1ABD670358E036C31296E66B3B66C382AC00812,2c26c1da182e017154760576bb26d178
1,2018,weissberg,deena,j,5020,police-uniform patrol bureau,5005,police officer,2010-03-31,NaT,A,53024.53,0xAF3E133428B9E25C55BC59FE534248E6A0C0F17B,b4911ac24a815588b44f634a2994652b
2,2018,graham,michael,h,5050,police-communications,5115,police comm officer i-42 hrs,2007-04-21,2019-01-22,I,54243.63,0x9109C85A45B703F87F1413A405549A2CEA9AB556,375b7460fced4f1c25800ab70aad3539
3,2018,gillich,joshua,m,5070,police-criminal investigation,5005,police officer,2008-12-08,NaT,A,28738.00,0xB4C96D80854DD27E76D8CC9E21960EEBDA52E962,f3a681bf5b2ea66f984df7d95ae390e1
4,2018,saleh,haled,,5020,police-uniform patrol bureau,5005,police officer,2006-06-12,2019-04-26,I,62144.25,0x1F1362EA41D1BC65BE321C0A378A20159F9A26D0,bd0a7112d1ce9caf09c00dd75e759411
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1957,2018,howard,walter,c,5060,police-special operations,6525,school crossing guard,2018-10-24,NaT,A,942.50,0x0B9918551C179FAF20295B3C0CB7798486824D12,b809606018d8c135d42348fe0ddc7457
1958,2018,houston,stacy,m,5060,police-special operations,6525,school crossing guard,2018-10-24,NaT,A,928.00,0x08AB94787936E21703BA8ABB75A6B57237E83FF4,cad7ff3de443661681277b85450a209d
1959,2018,dyson,kenneth,w,5060,police-special operations,6525,school crossing guard,2018-10-24,NaT,A,928.00,0x6BE2349E0ECE2FA121CA321B3C85CCA02311E62C,4720d7b49d294945e5fd8dcb9ba129bd
1960,2018,augustus,robert,l,5060,police-special operations,6525,school crossing guard,2018-10-24,2019-06-10,I,913.50,0x9E065978592E8F4AE463B70C70C8A3C1ED6F9389,bf23de2bb605f07db3277192bce6ca28
1961,2018,byrd,deandrea,n,5010,police-administration,6510,college student intern,2018-12-17,2019-06-17,I,261.00,0x3DF1D27854014CD414A5210B2F7028A9ADE87D82,db6c0c9569c8e832e8dc0ac5246a7a3d

In [6]:
df17[["department_code", "department_desc"]].drop_duplicates().sort_values("department_code").reset_index(drop=True)

   department_code                           department_desc
0          5010001          police department-administration
1          5013601                               brave grant
2          5013701               byrne crim jus innov (bcji)
3          5020001   police department-uniform patrol bureau
4          5050001   police department-operation serv bureau
5          5050011          police department-communications
6          5050021      police department-special operations
7          5060001  police department-criminal invest bureau

In [7]:
df19[["department_code", "department_desc"]].drop_duplicates().sort_values("department_code").reset_index(drop=True)

   department_code                 department_desc
0             5010           police-administration
1             5020    police-uniform patrol bureau
2             5040  police-operational serv bureau
3             5050           police-communications
4             5060       police-special operations
5             5070   police-criminal investigation

In [8]:
ranks_17 = df17[["rank_code", "rank_desc"]].drop_duplicates().sort_values("rank_code").reset_index(drop=True)
ranks_17[ranks_17.rank_desc.duplicated(keep=False)]

    rank_code                  rank_desc
18       5129  police forensic scientist
46     114230  police forensic scientist

In [9]:
ranks_19 = df19[["rank_code", "rank_desc"]].drop_duplicates().sort_values("rank_code").reset_index(drop=True)
ranks_19[ranks_19.rank_desc.duplicated(keep=False)]

    rank_code           rank_desc
2        1484  crime statistician
39       5227  crime statistician