In [1]:
import sys; sys.path.append("../")

from clean.baton_rouge_csd_pprr import clean_17, clean_19
from match.baton_rouge_csd import match_officers
from lib.explore import show_unique
from lib.date import combine_date_columns

In [2]:
df17 = clean_17()
df17

,year,employee_id,last_name,first_name,middle_initial,department_code,department_desc,rank_code,rank_desc,employment_status,annual_salary,data_production_year,hire_year,hire_month,hire_day,term_year,term_month,term_day,agency
0,2008,337,adams,rodney,p,5020001,police department-uniform patrol bureau,5020,police captain,0,86637.85,2017,1980,12,22,2010,11,17,Baton Rouge CSD
1,2009,337,adams,rodney,p,5020001,police department-uniform patrol bureau,5020,police captain,0,81537.06,2017,1980,12,22,2010,11,17,Baton Rouge CSD
2,2010,337,adams,rodney,p,5020001,police department-uniform patrol bureau,5020,police captain,5,66863.96,2017,1980,12,22,2010,11,17,Baton Rouge CSD
3,2008,604,adams,leif,t,5020001,police department-uniform patrol bureau,5010,police sergeant,0,61178.34,2017,1988,7,28,,,,Baton Rouge CSD
4,2009,604,adams,leif,t,5020001,police department-uniform patrol bureau,5010,police sergeant,0,60324.48,2017,1988,7,28,,,,Baton Rouge CSD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10042,2017,500461,edlund,tonya,s,5020001,police department-uniform patrol bureau,5005,police officer,0,49303.83,2017,2013,2,18,,,,Baton Rouge CSD
10043,2017,511420,langston jr,robert,m,5020001,police department-uniform patrol bureau,5005,police officer,0,43748.32,2017,2014,6,30,,,,Baton Rouge CSD
10044,2017,528439,guevara,maria,j,5020001,police department-uniform patrol bureau,5005,police officer,0,35700.99,2017,2016,11,14,,,,Baton Rouge CSD
10045,2017,515868,brown,justin,p,5020001,police department-uniform patrol bureau,5005,police officer,0,40314.29,2017,2015,4,20,,,,Baton Rouge CSD
10046,2017,418552,stevenson,william,p,5060001,police department-criminal invest bureau,5010,police sergeant,0,77481.67,2017,1998,7,31,,,,Baton Rouge CSD

In [3]:
df19 = clean_19()
df19

,year,last_name,first_name,middle_initial,department_code,department_desc,rank_code,rank_desc,employment_status,annual_salary,employee_id,data_production_year,hire_year,hire_month,hire_day,term_year,term_month,term_day,agency
0,2018,williams,decory,l,5040,police-operational serv bureau,2070,senior stock clerk,active,26541.06,0xF1ABD670358E036C31296E66B3B66C382AC00812,2019,2014,6,23,,,,Baton Rouge CSD
1,2018,weissberg,deena,j,5020,police-uniform patrol bureau,5005,police officer,active,53024.53,0xAF3E133428B9E25C55BC59FE534248E6A0C0F17B,2019,2010,3,31,,,,Baton Rouge CSD
2,2018,graham,michael,h,5050,police-communications,5115,police comm officer i-42 hrs,inactive,54243.63,0x9109C85A45B703F87F1413A405549A2CEA9AB556,2019,2007,4,21,2019,1,22,Baton Rouge CSD
3,2018,gillich,joshua,m,5070,police-criminal investigation,5005,police officer,active,28738.00,0xB4C96D80854DD27E76D8CC9E21960EEBDA52E962,2019,2008,12,8,,,,Baton Rouge CSD
4,2018,saleh,haled,,5020,police-uniform patrol bureau,5005,police officer,inactive,62144.25,0x1F1362EA41D1BC65BE321C0A378A20159F9A26D0,2019,2006,6,12,2019,4,26,Baton Rouge CSD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1957,2018,howard,walter,c,5060,police-special operations,6525,school crossing guard,active,942.50,0x0B9918551C179FAF20295B3C0CB7798486824D12,2019,2018,10,24,,,,Baton Rouge CSD
1958,2018,houston,stacy,m,5060,police-special operations,6525,school crossing guard,active,928.00,0x08AB94787936E21703BA8ABB75A6B57237E83FF4,2019,2018,10,24,,,,Baton Rouge CSD
1959,2018,dyson,kenneth,w,5060,police-special operations,6525,school crossing guard,active,928.00,0x6BE2349E0ECE2FA121CA321B3C85CCA02311E62C,2019,2018,10,24,,,,Baton Rouge CSD
1960,2018,augustus,robert,l,5060,police-special operations,6525,school crossing guard,inactive,913.50,0x9E065978592E8F4AE463B70C70C8A3C1ED6F9389,2019,2018,10,24,2019,6,10,Baton Rouge CSD
1961,2018,byrd,deandrea,n,5010,police-administration,6510,college student intern,inactive,261.00,0x3DF1D27854014CD414A5210B2F7028A9ADE87D82,2019,2018,12,17,2019,6,17,Baton Rouge CSD

In [4]:
df17, df19 = match_officers(df17, df19)
df17

,year,employee_id,last_name,first_name,middle_initial,department_code,department_desc,rank_code,rank_desc,employment_status,annual_salary,data_production_year,hire_year,hire_month,hire_day,term_year,term_month,term_day,agency,uid
0,2008,337,adams,rodney,p,5020001,police department-uniform patrol bureau,5020,police captain,0,86637.85,2017,1980,12,22,2010,11,17,Baton Rouge CSD,357a6fdf7642bf815a88822c447d9dc4
1,2009,337,adams,rodney,p,5020001,police department-uniform patrol bureau,5020,police captain,0,81537.06,2017,1980,12,22,2010,11,17,Baton Rouge CSD,357a6fdf7642bf815a88822c447d9dc4
2,2010,337,adams,rodney,p,5020001,police department-uniform patrol bureau,5020,police captain,5,66863.96,2017,1980,12,22,2010,11,17,Baton Rouge CSD,357a6fdf7642bf815a88822c447d9dc4
3,2008,604,adams,leif,t,5020001,police department-uniform patrol bureau,5010,police sergeant,0,61178.34,2017,1988,7,28,,,,Baton Rouge CSD,9cf81d8026a9018052c429cc4e56739b
4,2009,604,adams,leif,t,5020001,police department-uniform patrol bureau,5010,police sergeant,0,60324.48,2017,1988,7,28,,,,Baton Rouge CSD,9cf81d8026a9018052c429cc4e56739b
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10042,2017,500461,edlund,tonya,s,5020001,police department-uniform patrol bureau,5005,police officer,0,49303.83,2017,2013,2,18,,,,Baton Rouge CSD,a155c5b550a37d083e6e5aaf30bda922
10043,2017,511420,langston jr,robert,m,5020001,police department-uniform patrol bureau,5005,police officer,0,43748.32,2017,2014,6,30,,,,Baton Rouge CSD,7c5e439f1296bc3a7c56ad48cb5bf959
10044,2017,528439,guevara,maria,j,5020001,police department-uniform patrol bureau,5005,police officer,0,35700.99,2017,2016,11,14,,,,Baton Rouge CSD,6821c7aca92e640d12a0d67815059399
10045,2017,515868,brown,justin,p,5020001,police department-uniform patrol bureau,5005,police officer,0,40314.29,2017,2015,4,20,,,,Baton Rouge CSD,c20dac31968848547eaa82b3e5073994
10046,2017,418552,stevenson,william,p,5060001,police department-criminal invest bureau,5010,police sergeant,0,77481.67,2017,1998,7,31,,,,Baton Rouge CSD,eaa8696b7c09ea183f2e33e11ca4a904

In [5]:
df19

,year,last_name,first_name,middle_initial,department_code,department_desc,rank_code,rank_desc,employment_status,annual_salary,employee_id,data_production_year,hire_year,hire_month,hire_day,term_year,term_month,term_day,agency,uid
0,2018,williams,decory,l,5040,police-operational serv bureau,2070,senior stock clerk,active,26541.06,0xF1ABD670358E036C31296E66B3B66C382AC00812,2019,2014,6,23,,,,Baton Rouge CSD,2c26c1da182e017154760576bb26d178
1,2018,weissberg,deena,j,5020,police-uniform patrol bureau,5005,police officer,active,53024.53,0xAF3E133428B9E25C55BC59FE534248E6A0C0F17B,2019,2010,3,31,,,,Baton Rouge CSD,b4911ac24a815588b44f634a2994652b
2,2018,graham,michael,h,5050,police-communications,5115,police comm officer i-42 hrs,inactive,54243.63,0x9109C85A45B703F87F1413A405549A2CEA9AB556,2019,2007,4,21,2019,1,22,Baton Rouge CSD,375b7460fced4f1c25800ab70aad3539
3,2018,gillich,joshua,m,5070,police-criminal investigation,5005,police officer,active,28738.00,0xB4C96D80854DD27E76D8CC9E21960EEBDA52E962,2019,2008,12,8,,,,Baton Rouge CSD,f3a681bf5b2ea66f984df7d95ae390e1
4,2018,saleh,haled,,5020,police-uniform patrol bureau,5005,police officer,inactive,62144.25,0x1F1362EA41D1BC65BE321C0A378A20159F9A26D0,2019,2006,6,12,2019,4,26,Baton Rouge CSD,bd0a7112d1ce9caf09c00dd75e759411
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1957,2018,howard,walter,c,5060,police-special operations,6525,school crossing guard,active,942.50,0x0B9918551C179FAF20295B3C0CB7798486824D12,2019,2018,10,24,,,,Baton Rouge CSD,b809606018d8c135d42348fe0ddc7457
1958,2018,houston,stacy,m,5060,police-special operations,6525,school crossing guard,active,928.00,0x08AB94787936E21703BA8ABB75A6B57237E83FF4,2019,2018,10,24,,,,Baton Rouge CSD,cad7ff3de443661681277b85450a209d
1959,2018,dyson,kenneth,w,5060,police-special operations,6525,school crossing guard,active,928.00,0x6BE2349E0ECE2FA121CA321B3C85CCA02311E62C,2019,2018,10,24,,,,Baton Rouge CSD,4720d7b49d294945e5fd8dcb9ba129bd
1960,2018,augustus,robert,l,5060,police-special operations,6525,school crossing guard,inactive,913.50,0x9E065978592E8F4AE463B70C70C8A3C1ED6F9389,2019,2018,10,24,2019,6,10,Baton Rouge CSD,bf23de2bb605f07db3277192bce6ca28
1961,2018,byrd,deandrea,n,5010,police-administration,6510,college student intern,inactive,261.00,0x3DF1D27854014CD414A5210B2F7028A9ADE87D82,2019,2018,12,17,2019,6,17,Baton Rouge CSD,db6c0c9569c8e832e8dc0ac5246a7a3d