In [1]:
import sys; sys.path.append("../")

from clean.baton_rouge_csd_pprr import clean_17, clean_19
from lib.explore import show_unique
from lib.match import (
    match_records, print_match_result, ColumnsIndex, JaroWinklerSimilarity,
    StringSimilarity, DateSimilarity, ThresholdClassifier
)
from lib.date import combine_date_columns

In [2]:
df17 = clean_17()
df17

,year,employee_id,last_name,first_name,middle_initial,department_code,department_desc,rank_code,rank_desc,employment_status,annual_salary,data_production_year,hire_year,hire_month,hire_day,term_year,term_month,term_day,agency
0,2008,337,adams,rodney,p,5020001,police department-uniform patrol bureau,5020,police captain,0,86637.85,2017,1980,12,22,2010,11,17,Baton Rouge CSD
1,2009,337,adams,rodney,p,5020001,police department-uniform patrol bureau,5020,police captain,0,81537.06,2017,1980,12,22,2010,11,17,Baton Rouge CSD
2,2010,337,adams,rodney,p,5020001,police department-uniform patrol bureau,5020,police captain,5,66863.96,2017,1980,12,22,2010,11,17,Baton Rouge CSD
3,2008,604,adams,leif,t,5020001,police department-uniform patrol bureau,5010,police sergeant,0,61178.34,2017,1988,7,28,,,,Baton Rouge CSD
4,2009,604,adams,leif,t,5020001,police department-uniform patrol bureau,5010,police sergeant,0,60324.48,2017,1988,7,28,,,,Baton Rouge CSD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10042,2017,500461,edlund,tonya,s,5020001,police department-uniform patrol bureau,5005,police officer,0,49303.83,2017,2013,2,18,,,,Baton Rouge CSD
10043,2017,511420,langston jr,robert,m,5020001,police department-uniform patrol bureau,5005,police officer,0,43748.32,2017,2014,6,30,,,,Baton Rouge CSD
10044,2017,528439,guevara,maria,j,5020001,police department-uniform patrol bureau,5005,police officer,0,35700.99,2017,2016,11,14,,,,Baton Rouge CSD
10045,2017,515868,brown,justin,p,5020001,police department-uniform patrol bureau,5005,police officer,0,40314.29,2017,2015,4,20,,,,Baton Rouge CSD
10046,2017,418552,stevenson,william,p,5060001,police department-criminal invest bureau,5010,police sergeant,0,77481.67,2017,1998,7,31,,,,Baton Rouge CSD

In [3]:
df19 = clean_19()
df19

,year,last_name,first_name,middle_initial,department_code,department_desc,rank_code,rank_desc,employment_status,annual_salary,employee_id,data_production_year,hire_year,hire_month,hire_day,term_year,term_month,term_day,agency
0,2018,williams,decory,l,5040,police-operational serv bureau,2070,senior stock clerk,active,26541.06,0xF1ABD670358E036C31296E66B3B66C382AC00812,2019,2014,6,23,,,,Baton Rouge CSD
1,2018,weissberg,deena,j,5020,police-uniform patrol bureau,5005,police officer,active,53024.53,0xAF3E133428B9E25C55BC59FE534248E6A0C0F17B,2019,2010,3,31,,,,Baton Rouge CSD
2,2018,graham,michael,h,5050,police-communications,5115,police comm officer i-42 hrs,inactive,54243.63,0x9109C85A45B703F87F1413A405549A2CEA9AB556,2019,2007,4,21,2019,1,22,Baton Rouge CSD
3,2018,gillich,joshua,m,5070,police-criminal investigation,5005,police officer,active,28738.00,0xB4C96D80854DD27E76D8CC9E21960EEBDA52E962,2019,2008,12,8,,,,Baton Rouge CSD
4,2018,saleh,haled,,5020,police-uniform patrol bureau,5005,police officer,inactive,62144.25,0x1F1362EA41D1BC65BE321C0A378A20159F9A26D0,2019,2006,6,12,2019,4,26,Baton Rouge CSD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1957,2018,howard,walter,c,5060,police-special operations,6525,school crossing guard,active,942.50,0x0B9918551C179FAF20295B3C0CB7798486824D12,2019,2018,10,24,,,,Baton Rouge CSD
1958,2018,houston,stacy,m,5060,police-special operations,6525,school crossing guard,active,928.00,0x08AB94787936E21703BA8ABB75A6B57237E83FF4,2019,2018,10,24,,,,Baton Rouge CSD
1959,2018,dyson,kenneth,w,5060,police-special operations,6525,school crossing guard,active,928.00,0x6BE2349E0ECE2FA121CA321B3C85CCA02311E62C,2019,2018,10,24,,,,Baton Rouge CSD
1960,2018,augustus,robert,l,5060,police-special operations,6525,school crossing guard,inactive,913.50,0x9E065978592E8F4AE463B70C70C8A3C1ED6F9389,2019,2018,10,24,2019,6,10,Baton Rouge CSD
1961,2018,byrd,deandrea,n,5010,police-administration,6510,college student intern,inactive,261.00,0x3DF1D27854014CD414A5210B2F7028A9ADE87D82,2019,2018,12,17,2019,6,17,Baton Rouge CSD

In [4]:
dfa = df17[["last_name", "first_name", "middle_initial", "rank_code", "employee_id"]]
dfa.loc[:, "hire_date"] = combine_date_columns(df17, "hire_year", "hire_month", "hire_day")
dfa.loc[:, "rank_code"] = dfa.rank_code.astype("str")
dfa.loc[:, "lnsf"] = dfa.last_name.map(lambda x: "" if x == "" else x[:2])
dfa = dfa.drop_duplicates("employee_id").set_index("employee_id", drop=True)

dfb = df19[["last_name", "first_name", "middle_initial", "rank_code", "employee_id"]]
dfb.loc[:, "hire_date"] = combine_date_columns(df19, "hire_year", "hire_month", "hire_day")
dfb.loc[:, "rank_code"] = dfb.rank_code.astype("str")
dfb.loc[:, "lnsf"] = dfb.last_name.map(lambda x: "" if x == "" else x[:2])
dfb = dfb.drop_duplicates("employee_id").set_index("employee_id", drop=True)

matches, potential_matches, non_matches = match_records(
    ColumnsIndex(["first_name", "lnsf"]),
    ThresholdClassifier(
        fields={
            "last_name": JaroWinklerSimilarity(0.25),
            "middle_initial": StringSimilarity(),
            "rank_code": StringSimilarity(),
            "hire_date": DateSimilarity()
        },
        thresholds=[0.8, 0.6]
    ),
    dfa,
    dfb
)

In [7]:
print("match records between 2017 (upper row) and 2019 (lower row) pprr:")
print_match_result(dfa, dfb, matches, potential_matches, [])

match records between 2017 (upper row) and 2019 (lower row) pprr:
matches: 849
potential matches: 64
non-matches: 0

*** MATCHES ***

                                           last_name first_name middle_initial rank_code  hire_date lnsf
487406                                          noah    terence              j      5005 2011-01-24   no
0xC79FCE75B1583DDD36A96178757E0D8D0AC91228      noah    terence              j      5005 2011-01-24   no

                                           last_name first_name middle_initial rank_code  hire_date lnsf
507873                                        oakley    kiantae              m    110090 2014-03-11   oa
0x0608E230D59A7FA3786F9FE341A14DF7B71E6C08    oakley    kiantae              m      2032 2014-03-11   oa

                                           last_name first_name middle_initial rank_code  hire_date lnsf
313700                                       johnson    brandon              t      5005 1999-04-01   jo
0x5375EF76B6DC19BB987A8EAB45F489E7ABD6CCC8   johnson    brandon              t      5010 1999-04-01   jo

                                           last_name first_name middle_initial rank_code  hire_date lnsf
405116                                        thomas  cleveland              m      5005 1997-01-04   th
0x90150B85162E63375395D9B9B8F143A7CE5F9CFC    thomas  cleveland              m      5010 1997-01-04   th

                                           last_name first_name middle_initial rank_code  hire_date lnsf
512109                                      thornton  cleveland              l    405470 2014-08-22   th
0xC2B919DE5B0233CFB72DDAC091441955334356D9  thornton  cleveland              l      6525 2014-08-22   th

                                           last_name   first_name middle_initial rank_code  hire_date lnsf
329150                                        taylor  christopher              b      5005 1995-09-01   ta
0xE4D3D3F0FCE651D09AEE5480EC5E58268CCC2409    taylor  christopher              b      5010 1995-09-01   ta

                                           last_name first_name middle_initial rank_code  hire_date lnsf
511480                                        carrie       mark              j      5005 2014-06-30   ca
0xE10DECE4047471685A87FBD7663235C920AF266F    carrie       mark              j      5005 2014-06-30   ca

                                           last_name first_name middle_initial rank_code  hire_date lnsf
315877                                           lam    tat-chi                     5005 1997-09-05   la
0xF3751173CF413033DA9676F3AC6086157005059C       lam    tat-chi                     5010 1997-09-05   la

                                           last_name first_name middle_initial rank_code  hire_date lnsf
352985                                         young     jessie              s    405470 2005-02-09   yo
0xE194297FB5CCE91F977FEA1D0EBB70EE5D36E359     young     jessie              s      6525 2005-02-09   yo

                                           last_name first_name middle_initial rank_code  hire_date lnsf
327271                                          tate    stewart              w      5005 2003-03-05   ta
0xD0F463FF1EA85E4C15EBC2635A7D8666A79AA2A7      tate    stewart              w      5005 2003-03-05   ta

                                           last_name first_name middle_initial rank_code  hire_date lnsf
463132                                        walker      erica              l    110090 2008-12-22   wa
0x952B1D3C000DD8B840AD03461F71C71A0CB83086    walker      erica              l      2016 2008-12-22   wa

                                           last_name first_name middle_initial rank_code  hire_date lnsf
500461                                        edlund      tonya              s      5005 2013-02-18   ed
0xB035833A23DB701A0B28D89C9567A2F8567F3651    edlund      tonya              s      5005 2013-02-18   ed

                                           last_name first_name middle_initial rank_code  hire_date lnsf
319775                                         pryer   ladricca              m    114235 1997-05-21   pr
0xFBAACB960902382E4F6C96F2D8F225C24EECADB4     pryer   ladricca              m      2092 1997-05-21   pr

                                           last_name first_name middle_initial rank_code  hire_date lnsf
475149                                       walters    gabriel              s      5005 2009-08-31   wa
0xB7A2C36611F3D7AC0923675949CA43244FEDE229   walters    gabriel              s      5005 2009-08-31   wa

                                             last_name first_name middle_initial rank_code  hire_date lnsf
462730                                      olivier jr       carl              a      5005 2008-12-08   ol
0xC076CFC485C8BA2F77EBC74A81DCD94BC3EB540D     olivier       carl              a      5005 2008-12-08   ol

                                           last_name first_name middle_initial rank_code  hire_date lnsf
359190                                         rawls     joseph              c      5005 1994-07-18   ra
0x3A5FC83F31558E73D2DF0B537E4A628EC2C5AABB     rawls     joseph              c      5015 1994-07-18   ra

                                           last_name first_name middle_initial rank_code  hire_date lnsf
366110                                       earnest     demara              l      5005 2012-07-23   ea
0x22B1E9639CA39A26E8585C13F7F4237B6AB8A3EA   earnest     demara              l      5005 2006-12-02   ea

                                           last_name first_name middle_initial rank_code  hire_date lnsf
505811                                        searcy  elizabeth              a    405470 2013-08-28   se
0x0DFA2BEE468CCC689C70E9F621DCA149E06F51AB    searcy  elizabeth              a      6525 2013-08-28   se

                                           last_name first_name middle_initial rank_code  hire_date lnsf
459992                                         sylve   shandrea              m      5107 2008-07-21   sy
0x0A9598CDAD8C65805B7886305C6CB7D3A4CA6D81     sylve   shandrea              m      5115 2008-07-21   sy

                                           last_name first_name middle_initial rank_code  hire_date lnsf
490733                                       bickham       brad              r      5005 2011-08-08   bi
0xDE5CC0629ED9C360C70281A825AA0CC2C3DD4E17   bickham       brad              r      5005 2011-08-08   bi

                                           last_name first_name middle_initial rank_code  hire_date lnsf
511307                                      crow iii     robert              b      5005 2014-06-30   cr
0x06E80210C4D05684C666906D9E2EA73355087D0B      crow     robert              b      5005 2014-06-30   cr

                                           last_name first_name middle_initial rank_code  hire_date lnsf
457167                                        migues   jonathon              j      5005 2008-04-14   mi
0xD8D948F134F19C11588D4EF77D905EC6FB68A576    migues   jonathon              j      5005 2008-04-14   mi

                                           last_name first_name middle_initial rank_code  hire_date lnsf
494321                                         davis      maude              a    405470 2012-04-10   da
0xA71150A488DE70A5EC94323F7B2566B9BD63C16E     davis      maude              a      6525 2012-04-10   da

                                           last_name first_name middle_initial rank_code  hire_date lnsf
329061                                      harrison      dwana              o    110090 2012-06-03   ha
0x3AE80CE7FA474024DDF7958035C8153E35CF912C  harrison      dwana              o      2014 2012-06-03   ha

                                           last_name first_name middle_initial rank_code  hire_date lnsf
6831                                          arnett    richard              r      5010 1987-04-27   ar
0x9B3AA2709C85DBA67B6F4901FBABC732F44CF074    arnett    richard              r      5020 1987-04-27   ar

                                              last_name first_name middle_initial rank_code  hire_date lnsf
528676                                      woodfolk jr    william                   405470 2016-12-02   wo
0xD3EC16D1868EDC7DA81BE9FC203F819281C0E4BA     woodfolk    william                     6525 2016-12-02   wo

                                           last_name first_name middle_initial rank_code  hire_date lnsf
336599                                         perry      jason              m    999999 1997-09-13   pe
0xD9E8CDC75AD12149198CBFB2458E83EFC106EDE4     perry      jason              m      6045 1997-09-13   pe

                                           last_name   first_name middle_initial rank_code  hire_date lnsf
394513                                       mcclure  christopher              w      5005 2000-08-14   mc
0xCCAFF0FE3EABD25A5DB01C96B2E374E6314C6983   mcclure  christopher              w      5010 2000-08-14   mc

                                           last_name   first_name middle_initial rank_code  hire_date lnsf
438022                                      mcdowell  christopher              k      5005 2006-02-27   mc
0xBF91D431389989D17674008C379587B6308503E4  mcdowell  christopher              k      5005 2006-02-27   mc

                                             last_name first_name middle_initial rank_code  hire_date lnsf
532061                                      jarrell sr  roosevelt                   405470 2017-05-19   ja
0x59F350234788B18767DA2F2B6BFFAF6D84C97700     jarrell  roosevelt                     6525 2017-05-19   ja

                                           last_name first_name middle_initial rank_code  hire_date lnsf
26867                                       brashier    raymond              w      5010 1986-01-16   br
0x1D3F0C101015D3955231DA017DB281A73188AA6F  brashier    raymond              w      5020 1986-01-16   br

                                           last_name first_name middle_initial rank_code  hire_date lnsf
361208                                          bihm       gary              l      5005 2000-08-14   bi
0x7E4099B8426E7F9E32ACD799D7AA938B3B261718      bihm       gary              l      5010 2000-08-14   bi

                                           last_name   first_name middle_initial rank_code  hire_date lnsf
438006                                          rudy  christopher              l      5005 2006-02-27   ru
0x05A8EA5382B9FD885261BB3EED0527D1D3B07262      rudy  christopher              l      5005 2006-02-27   ru

                                           last_name first_name middle_initial rank_code  hire_date lnsf
406406                                          penn   lakeitha              t    113105 2008-10-23   pe
0x8E5089878175FE67A983F4984463EB8C76CFCD57      penn   lakeitha              t      5005 2008-10-23   pe

                                           last_name first_name middle_initial rank_code  hire_date lnsf
532053                                       wallace     arthur              l    405470 2017-05-19   wa
0x905AB9811BEDE5CF6F3CE6B42495A8C42870F379   wallace     arthur              l      6525 2017-05-19   wa

                                           last_name first_name middle_initial rank_code  hire_date lnsf
320706                                        anders    jeffrey              s      5005 1998-05-18   an
0xFDC01209F90EDA589F0453B7E29E0114923ECD8B    anders    jeffrey              s      5005 1998-05-18   an

                                           last_name first_name middle_initial rank_code  hire_date lnsf
440817                                       iverson     daniel              d      5005 2006-06-12   iv
0x5DFA738B6C92518D508CE804980DB107ACEFD5A2   iverson     daniel              d      5005 2006-06-12   iv

                                           last_name first_name middle_initial rank_code  hire_date lnsf
440760                                        forbes      danny              m      5005 2006-06-12   fo
0xF1C6CFB5C5A959AEE655E4F9250CA8303668074A    forbes      danny              m      5005 2006-06-12   fo

                                           last_name first_name middle_initial rank_code  hire_date lnsf
350559                                          neal      addie              b    405470 2001-08-15   ne
0x2881EC90D41847129776F53077F4BB461A9DDCA9      neal      addie              b      6525 2001-08-15   ne

                                             last_name first_name middle_initial rank_code  hire_date lnsf
374474                                      johnson sr     jerald              w      5005 2004-04-19   jo
0x904ADDEFC74BE7D6562A127A60C1B3C61AB17893     johnson     jerald              w      5005 2004-04-19   jo

                                           last_name first_name middle_initial rank_code  hire_date lnsf
76546                                       fairburn    charles              d      5010 1987-04-27   fa
0x8700F469BE02A32DD6E5EE2CD2471BB04B4D463E  fairburn    charles              d      5020 1987-04-27   fa

                                           last_name first_name middle_initial rank_code  hire_date lnsf
506710                                      shelmire   sharlene              p    405470 2013-11-06   sh
0x1B5EE1D2A2B9255241A8D9F103C453640D7BC477  shelmire   sharlene              p      6525 2013-11-06   sh

                                           last_name first_name middle_initial rank_code  hire_date lnsf
462802                                        ducote       jace              d      5005 2008-12-08   du
0x8AA3613447FF1B33D52A3E058A65D020A4390CF0    ducote       jace              d      5005 2008-12-08   du

                                           last_name first_name middle_initial rank_code  hire_date lnsf
524603                                      lawrence    bradley              j      5005 2016-05-16   la
0x74885532D6A5DF92FB13013E510B37C678333ACC  lawrence    bradley              j      5005 2016-05-16   la

                                           last_name first_name middle_initial rank_code  hire_date lnsf
528625                                      williams    antonio              c      5005 2016-11-14   wi
0x0E960B3C0F76EB4B5E063ABFF708E0F9E4A1F25C  williams    antonio              c      5005 2016-11-14   wi

                                           last_name first_name middle_initial rank_code  hire_date lnsf
506117                                         beard     chanta              t      5106 2013-09-16   be
0xD572720D10DF3D30E11A7DBCA7BFC3EA9AFE4E46     beard     chanta              t      5005 2013-09-16   be

                                           last_name first_name middle_initial rank_code  hire_date lnsf
232319                                       rushing      chris              k      5010 1986-01-13   ru
0x8FC1BB57C95FE04D4A8ACAB34CA0576AC19FDC01   rushing      chris              k      5020 1986-01-13   ru

                                           last_name first_name middle_initial rank_code  hire_date lnsf
328189                                        duncan    randall              l      5005 1994-07-18   du
0xBA801E780B399D6337A03689E75B8C03AA57D3A9    duncan    randall              l      5015 1994-07-18   du

                                           last_name first_name middle_initial rank_code  hire_date lnsf
364177                                          hart       bret              l      5005 2001-09-24   ha
0x8B2B8A6CCB9E126E712940882203CDA4DF4EF515      hart       bret              l      5005 2001-09-24   ha

                                           last_name first_name middle_initial rank_code  hire_date lnsf
403938                                        harris     sherri              b      5005 2006-02-27   ha
0x3B12993C073623489BEEECDEB9BF8AC9D77D7212    harris     sherri              b      5005 2006-02-27   ha

                                           last_name first_name middle_initial rank_code  hire_date lnsf
523224                                       sampson      irvin              c    400074 2016-02-29   sa
0xB3938D9F6AFCBA73A3B1F911C501653F426FF497   sampson      irvin              c      6510 2016-02-29   sa

                                           last_name first_name middle_initial rank_code  hire_date lnsf
404489                                          gill    richard              m      5005 1992-08-07   gi
0xDDD3C67A889763E30904D66C95E120DFC3DF6A45      gill    richard              m      5015 1992-08-07   gi

                                           last_name first_name middle_initial rank_code  hire_date lnsf
457019                                      mcginnis     dustin              c      5005 2008-04-14   mc
0x26AF178FEA9FA7EBDF73DFBB388E71DF2291B3FB  mcginnis     dustin              c      5005 2008-04-14   mc

                                           last_name first_name middle_initial rank_code  hire_date lnsf
332089                                       burrell      sonya              r    110620 1996-09-16   bu
0xAA23F7C48A6074023875B7C69A7F4873243EBD36   burrell      sonya              r      2018 1996-09-16   bu

                                           last_name first_name middle_initial rank_code  hire_date lnsf
491055                                          hall     travis              t      5005 2011-08-22   ha
0xBEFE497A740C8F4AABB635C06F07549336D5360D      hall     travis              t      5005 2011-08-22   ha

                                            last_name first_name middle_initial rank_code  hire_date lnsf
425338                                      davis iii    charles              l      5005 2005-08-15   da
0xFD70C5E226F94A016DDD3EE05D88AF131E536169      davis    charles              l      5005 2005-08-15   da

                                           last_name first_name middle_initial rank_code  hire_date lnsf
379514                                          pope     ernest              c      5005 2002-05-20   po
0xCFF906D6BC644C336037482678062C5A06963C29      pope     ernest              c      5005 2002-05-20   po

                                           last_name first_name middle_initial rank_code  hire_date lnsf
514861                                       lamotte   jonathan              j      5005 2015-02-23   la
0xDD824A3B8C2F738C359558544544BFCBBF88FA9F   lamotte   jonathan              j      5005 2015-02-23   la

                                           last_name first_name middle_initial rank_code  hire_date lnsf
396176                                        hunter      brian              k      5005 2003-03-05   hu
0x6DD8450939FF9EC93B6875EFC0C299D1323B48C9    hunter      brian              k      5005 2016-05-03   hu

                                           last_name first_name middle_initial rank_code  hire_date lnsf
319503                                        murphy    stephan                     5005 1993-07-16   mu
0x789EF3D6E1196152C1E7CCADC639C306254A305E    murphy    stephan                     5015 1993-07-16   mu

                                           last_name first_name middle_initial rank_code  hire_date lnsf
146307                                          odom   caroline              k      5015 1982-01-11   od
0xC9FD5824570A8776CD58A2A873319BAF011FF686      odom   caroline              k      5020 1982-01-11   od

                                           last_name first_name middle_initial rank_code  hire_date lnsf
349461                                        martin      jason              b      5005 2002-05-20   ma
0xB4B45B6BE6F1B02EA91F697172F0A4D15382179F    martin      jason              b      5005 2002-05-20   ma

                                           last_name first_name middle_initial rank_code  hire_date lnsf
446815                                      roussell       kama              j      5005 2007-02-26   ro