In [1]:
import sys; sys.path.append("../")

from clean.baton_rouge_csd_pprr import clean_17, clean_19
from lib.explore import show_unique

In [2]:
df17 = clean_17()
df17

,data_production_year,employee_id,last_name,first_name,middle_initial,department_code,department_desc,rank_code,rank_desc,employment_status,annual_salary,hire_year,hire_month,hire_day,term_year,term_month,term_day,agency
0,2008,337,adams,rodney,p,5020001,police department-uniform patrol bureau,5020,police captain,0,86637.85,1980,12,22,2010,11,17,Baton Rouge CSD
1,2009,337,adams,rodney,p,5020001,police department-uniform patrol bureau,5020,police captain,0,81537.06,1980,12,22,2010,11,17,Baton Rouge CSD
2,2010,337,adams,rodney,p,5020001,police department-uniform patrol bureau,5020,police captain,5,66863.96,1980,12,22,2010,11,17,Baton Rouge CSD
3,2008,604,adams,leif,t,5020001,police department-uniform patrol bureau,5010,police sergeant,0,61178.34,1988,7,28,,,,Baton Rouge CSD
4,2009,604,adams,leif,t,5020001,police department-uniform patrol bureau,5010,police sergeant,0,60324.48,1988,7,28,,,,Baton Rouge CSD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10042,2017,500461,edlund,tonya,s,5020001,police department-uniform patrol bureau,5005,police officer,0,49303.83,2013,2,18,,,,Baton Rouge CSD
10043,2017,511420,langston jr,robert,m,5020001,police department-uniform patrol bureau,5005,police officer,0,43748.32,2014,6,30,,,,Baton Rouge CSD
10044,2017,528439,guevara,maria,j,5020001,police department-uniform patrol bureau,5005,police officer,0,35700.99,2016,11,14,,,,Baton Rouge CSD
10045,2017,515868,brown,justin,p,5020001,police department-uniform patrol bureau,5005,police officer,0,40314.29,2015,4,20,,,,Baton Rouge CSD
10046,2017,418552,stevenson,william,p,5060001,police department-criminal invest bureau,5010,police sergeant,0,77481.67,1998,7,31,,,,Baton Rouge CSD

In [7]:
df17[df17.employment_status == 5]

,data_production_year,employee_id,last_name,first_name,middle_initial,department_code,department_desc,rank_code,rank_desc,employment_status,annual_salary,hire_year,hire_month,hire_day,term_year,term_month,term_day,agency
2,2010,337,adams,rodney,p,5020001,police department-uniform patrol bureau,5020,police captain,5,66863.96,1980,12,22,2010,11,17,Baton Rouge CSD
26,2014,2755,scott jr,alonzo,,5020001,police department-uniform patrol bureau,5015,police lieutenant,5,81407.42,1986,5,12,2014,7,3,Baton Rouge CSD
30,2011,4286,anthony,kathleen,o,5050001,police department-operation serv bureau,110090,clerical specialist,5,5620.11,1989,8,10,2010,11,23,Baton Rouge CSD
32,2009,6645,armstrong,charles,e,5010001,police department-administration,5015,police lieutenant,5,118524.06,1983,7,18,2009,11,16,Baton Rouge CSD
37,2012,6750,anderson,owen,k,5050001,police department-operation serv bureau,5010,police sergeant,5,7313.69,1987,4,27,2012,1,23,Baton Rouge CSD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9953,2017,514756,milton,kandis,k,5060001,police department-criminal invest bureau,110132,senior clerical specialist,5,2274.75,2015,5,5,2017,1,30,Baton Rouge CSD
9981,2017,529877,jackson,latyra,t,5050001,police department-operation serv bureau,110090,clerical specialist,5,13968.56,2017,2,20,2017,10,23,Baton Rouge CSD
9987,2017,513172,miller,emily,j,5060001,police department-criminal invest bureau,400074,college student intern/contract,5,396.00,2014,10,6,2017,3,7,Baton Rouge CSD
10036,2017,524700,bethel,cynthia,m,5020001,police department-uniform patrol bureau,5005,police officer,5,6400.75,2016,5,16,2017,2,12,Baton Rouge CSD
10039,2017,529621,robinson,imani,r,5010001,police department-administration,400074,college student intern/contract,5,5836.50,2017,2,6,2017,9,1,Baton Rouge CSD

In [3]:
df19 = clean_19()
df19

,data_production_year,last_name,first_name,middle_initial,department_code,department_desc,rank_code,rank_desc,employment_status,annual_salary,employee_id,hire_year,hire_month,hire_day,term_year,term_month,term_day,agency
0,2018,williams,decory,l,5040,police-operational serv bureau,2070,senior stock clerk,A,26541.06,0xF1ABD670358E036C31296E66B3B66C382AC00812,2014,6,23,,,,Baton Rouge CSD
1,2018,weissberg,deena,j,5020,police-uniform patrol bureau,5005,police officer,A,53024.53,0xAF3E133428B9E25C55BC59FE534248E6A0C0F17B,2010,3,31,,,,Baton Rouge CSD
2,2018,graham,michael,h,5050,police-communications,5115,police comm officer i-42 hrs,I,54243.63,0x9109C85A45B703F87F1413A405549A2CEA9AB556,2007,4,21,2019,1,22,Baton Rouge CSD
3,2018,gillich,joshua,m,5070,police-criminal investigation,5005,police officer,A,28738.00,0xB4C96D80854DD27E76D8CC9E21960EEBDA52E962,2008,12,8,,,,Baton Rouge CSD
4,2018,saleh,haled,,5020,police-uniform patrol bureau,5005,police officer,I,62144.25,0x1F1362EA41D1BC65BE321C0A378A20159F9A26D0,2006,6,12,2019,4,26,Baton Rouge CSD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1957,2018,howard,walter,c,5060,police-special operations,6525,school crossing guard,A,942.50,0x0B9918551C179FAF20295B3C0CB7798486824D12,2018,10,24,,,,Baton Rouge CSD
1958,2018,houston,stacy,m,5060,police-special operations,6525,school crossing guard,A,928.00,0x08AB94787936E21703BA8ABB75A6B57237E83FF4,2018,10,24,,,,Baton Rouge CSD
1959,2018,dyson,kenneth,w,5060,police-special operations,6525,school crossing guard,A,928.00,0x6BE2349E0ECE2FA121CA321B3C85CCA02311E62C,2018,10,24,,,,Baton Rouge CSD
1960,2018,augustus,robert,l,5060,police-special operations,6525,school crossing guard,I,913.50,0x9E065978592E8F4AE463B70C70C8A3C1ED6F9389,2018,10,24,2019,6,10,Baton Rouge CSD
1961,2018,byrd,deandrea,n,5010,police-administration,6510,college student intern,I,261.00,0x3DF1D27854014CD414A5210B2F7028A9ADE87D82,2018,12,17,2019,6,17,Baton Rouge CSD

In [9]:
df17[["department_code", "department_desc"]].drop_duplicates()

      department_code                           department_desc
0             5020001   police department-uniform patrol bureau
10            5060001  police department-criminal invest bureau
20            5050001   police department-operation serv bureau
31            5010001          police department-administration
96            5050011          police department-communications
4434          5013601                               brave grant
7111          5013701               byrne crim jus innov (bcji)
7337          5050021      police department-special operations

In [8]:
df19[["department_code", "department_desc"]].drop_duplicates()

    department_code                 department_desc
0              5040  police-operational serv bureau
1              5020    police-uniform patrol bureau
2              5050           police-communications
3              5070   police-criminal investigation
5              5060       police-special operations
31             5010           police-administration

In [4]:
df17[["department_code", "department_desc"]].drop_duplicates().sort_values("department_code").reset_index(drop=True)

   department_code                           department_desc
0          5010001          police department-administration
1          5013601                               brave grant
2          5013701               byrne crim jus innov (bcji)
3          5020001   police department-uniform patrol bureau
4          5050001   police department-operation serv bureau
5          5050011          police department-communications
6          5050021      police department-special operations
7          5060001  police department-criminal invest bureau

In [5]:
df19[["department_code", "department_desc"]].drop_duplicates().sort_values("department_code").reset_index(drop=True)

   department_code                 department_desc
0             5010           police-administration
1             5020    police-uniform patrol bureau
2             5040  police-operational serv bureau
3             5050           police-communications
4             5060       police-special operations
5             5070   police-criminal investigation

In [6]:
ranks_17 = df17[["rank_code", "rank_desc"]].drop_duplicates().sort_values("rank_code").reset_index(drop=True)
ranks_17[ranks_17.rank_desc.duplicated(keep=False)]

    rank_code                  rank_desc
18       5129  police forensic scientist
46     114230  police forensic scientist

In [7]:
ranks_19 = df19[["rank_code", "rank_desc"]].drop_duplicates().sort_values("rank_code").reset_index(drop=True)
ranks_19[ranks_19.rank_desc.duplicated(keep=False)]

    rank_code           rank_desc
2        1484  crime statistician
39       5227  crime statistician