In [1]:
import sys; sys.path.append("../")
import re
import datetime
import io

import pandas as pd

from clean.baton_rouge_fpcsb_lprr import clean
from lib.rows import duplicate_row
from lib.explore import show_unique

In [2]:
df = clean()

df

standardize_from_lookup_table: unmatched sequences:
  {'', '/', ' - ', ' & ', ' / ', '-', ' '}

,docket_no,action,resolution,hearing_year,hearing_month,hearing_day,representative,rank_desc,last_name,first_name,middle_name,middle_initial
0,10-03,20-day suspension,Overturned by Board (01-19-2012),2012,1,15,,,nacoste,otis,,
1,11-10,termination,"Board approved Continuance to May 17, 2012 per...",2012,2,16,,,moore,alicia,,m
2,11-11,15-day suspension,Rescheduled,2012,3,15,,,schilling,robert,,
3,12-03,termination,Board upheld Chief White's decision to terminate,2012,4,19,,,hollis,pamela,,b
4,11-10,termination,Appealed to 19th Judicial Court,2012,5,17,,,moore,alicia,,m
...,...,...,...,...,...,...,...,...,...,...,...,...
429,07-05,1-day suspension,Board upheld,2007,10,18,dirks,,landry iii,carroll,,j
430,07-06,termination,Stayed Criminal INVestigation,2007,12,16,dirks,,davis,nathan,,
431,07-02,termination,Board Voted 4 - 1 to uphold Chief Smith,2007,12,15,tate,,handy,todd,,
432,07-06,termination,NaN,2007,12,20,,,davis,nathan,,
433,07-07,termination,NaN,2008,1,1,,,nauman,james,,

In [5]:
df.representative.unique()

array(['', 'fire dept', 'dirks', 'crystal lafleur', 'dirk',
       'floyd falcon', 'none', 'floyd', 'police', 'w robert gill',
       'falcon', 'farrugia', 'moore', 'dirks iii', 'falcon jr', 'davis',
       'moore iii', 'tate'], dtype=object)

In [6]:
df[df.representative == "police"]

,docket_no,action,resolution,hearing_year,hearing_month,hearing_day,representative,rank_desc,last_name,first_name,middle_name,middle_initial
224,99-33,termination,Chief Upheld,2000,2,17,police,,davis,daryl,,w