In [1]:
import sys; sys.path.append("../")

import pandas as pd

from lib.explore import show_unique
from lib.match import ThresholdMatcher, JaroWinklerSimilarity, ColumnsIndex, StringSimilarity
from clean.baton_rouge_so_cprr import clean18

In [2]:
df = clean18()
df

../clean/baton_rouge_so_cprr.py:13: FutureWarning: The default value of regex will change from True to False in a future version.
  names1 = df.name.str.strip().str.replace(
../lib/clean.py:166: FutureWarning: The default value of regex will change from True to False in a future version.
  return series.str.strip().str.replace(r"[^\w-]+", " ").str.replace(r"\s+", " ")\
../clean/baton_rouge_so_cprr.py:32: FutureWarning: The default value of regex will change from True to False in a future version.
  df.loc[:, 'charges'] = infractions.iloc[:, 1].fillna('').str.strip()\
../lib/clean.py:142: FutureWarning: The default value of regex will change from True to False in a future version.
  df.loc[:, col] = df[col].str.strip().str.lower()\
../lib/clean.py:134: FutureWarning: The default value of regex will change from True to False in a future version.
  df.loc[:, col] = df[col].str.strip().str.lower()\
../clean/baton_rouge_so_cprr.py:24: FutureWarning: The default value of regex will change from True to False in a future version.
  df.loc[:, "action"] = df.action.str.lower().str.strip()\

,badge_no,rank_desc,race,sex,birth_year,complainant_type,disposition,action,department_desc,first_name,...,rank_month,rank_day,occur_year,occur_month,occur_day,occur_time,data_production_year,agency,uid,complaint_uid
0,2206,sergeant,white,male,1984,public,founded,forwarded completed report to administration f...,uniform patrol,william,...,2,6,2018,1,26,21:00,2018,Baton Rouge SO,f04d00d49f3a3af62a4ef8d898128967,f394944ae9b41fd6c8954c1c1066836c
1,1711,corporal,white,male,1984,administration,founded,7 day suspension | 6 month loss of take-home v...,scat,eric,...,2,13,2018,2,20,00:00,2018,Baton Rouge SO,6df321fd2d3a1065cd3348a030c3b57d,ba168de35beec3cf74a1b1226ddaacca
2,1308,lieutenant,white,male,1968,coworker,founded,resigned,parish prison (training),eddie,...,9,6,2018,3,12,00:00,2018,Baton Rouge SO,93d62cbf2429bed3c991c7ca94d0e9ec,5bf37424900f4f8bf8444c333d51382a
3,1534,sergeant,black,male,1966,coworker,inconclusive,none,construction services,troy,...,6,15,2018,3,15,00:00,2018,Baton Rouge SO,75de7f919c8111a1add42e7cb6f50eff,5c0038dba8e9450e1a62ed12dbe24052
4,2527,deputy,black,female,1986,public,founded,verbal warning from captain flynn about courte...,community policing,pashion,...,12,16,2018,4,8,15:30,2018,Baton Rouge SO,b90063033d73d8adc4e860e4573850b9,0dffd9333f29d11c8841d098403d3079
5,1797,corporal,white,female,1982,supervisor,founded,none,financial crimes,leighann,...,2,9,2018,4,11,10:00,2018,Baton Rouge SO,e8b3c86ddb531932a255ca5025795a3e,45b1802fa547a979afb303531565a648
6,769,captain,black,female,1965,subordinate,unfounded,none,communications,eleanor,...,6,16,2018,4,13,12:00,2018,Baton Rouge SO,6549909c5f296244010e9a0c15c0c8f8,b90a8163ee464331653778ebf779299c
7,2067,deputy,white,male,1982,public,inconclusive,none,scat,john,...,11,17,2018,4,19,00:00,2018,Baton Rouge SO,64523d48fed87f1800f48bf53db968fe,996d570817888b6a234626fdfb1dabd8
8,1519,lieutenant,white,male,1982,administration,founded,5 day suspension,uniform patrol,justin,...,11,27,2018,4,22,00:00,2018,Baton Rouge SO,3b70999f0c3638f6970c7256a4b0d620,479c8b60aef7612d2eb7912348f5a4fa
9,2363,sergeant,white,male,1983,public,unfounded,none,uniform patrol,dustin,...,11,27,2018,5,10,00:00,2018,Baton Rouge SO,1ba99b3655e70bcd6e3d60e24f1a1df3,dc9430e69b8c84997ed5235ca882d06a
10,1053,lieutenant,white,male,1972,public,founded,verbal reprimand,uniform patrol,michael,...,8,15,2018,6,15,00:00,2018,Baton Rouge SO,6b8849a2f2d5ebefddf623c4d36d9a19,aac86e161caa50d9023de5282263dd3b
11,2592,deputy,black,male,1989,,founded,terminated,uniform patrol,kenneth,...,10,22,2018,6,24,12:00,2018,Baton Rouge SO,88e7bebcb4265f8f6786e02b1bd028b8,203ae9cd058f7c1889af8763878f8bab
12,2571,deputy,black,male,1989,public,founded,7 day suspension | money deducted from pay,uniform patrol,courtney,...,6,18,2018,7,7,00:00,2018,Baton Rouge SO,06e443ed9c62f503e554cee5d8d53cd6,db67892c083eacfad5fbd66453db7ccc
13,2414,corporal,black,female,1990,coworker,unfounded,none,communications,anastatia,...,3,19,2018,9,23,00:00,2018,Baton Rouge SO,900f3c640c51ba3e1d2a2de658d1f6b0,9cdff83cb5cdbeed3ecf8c9b9ad35747
14,2528,deputy,black,female,1993,public,founded,action was pending when his next complaint cam...,parish prison,ricky,...,12,16,2018,10,14,00:00,2018,Baton Rouge SO,31d92ddf532dc71e654546809e14eb3e,ff355fffdcf23b66d72ed53ba22506fd
15,2528,deputy,black,female,1993,public,founded,terminated,parish prison,ricky,...,12,16,2018,11,14,00:00,2018,Baton Rouge SO,31d92ddf532dc71e654546809e14eb3e,cccb27698d34d407c85956c479f823fe
16,2571,deputy,black,female,1989,public,founded,transferred,uniform patrol,courtney,...,6,18,2018,11,28,00:00,2018,Baton Rouge SO,06e443ed9c62f503e554cee5d8d53cd6,a2a52895abb54219cee71bd64ee5900f
17,1067,deputy,black,female,1976,public,founded,5 day suspension,parish prison,joshua,...,8,24,2018,11,30,00:00,2018,Baton Rouge SO,608127e6486d231403324c45ca3dcfa6,0c1ea213c4c744d59dddca713c426db7

In [3]:
df[df.complaint_uid.duplicated()]

Empty DataFrame
Columns: [badge_no, rank_desc, race, sex, birth_year, complainant_type, disposition, action, department_desc, first_name, middle_initial, last_name, charges, rank_year, rank_month, rank_day, occur_year, occur_month, occur_day, occur_time, data_production_year, agency, uid, complaint_uid]
Index: []

[0 rows x 24 columns]

In [4]:
pprr = pd.read_csv("../data/match/pprr_baton_rouge_csd_2019.csv")
pprr

,year,last_name,first_name,middle_initial,department_code,department_desc,rank_code,rank_desc,employment_status,annual_salary,...,hire_year,hire_month,hire_day,term_year,term_month,term_day,agency,uid,level_1_cert_date,last_pc_12_qualification_date
0,2018,williams,decory,l,5040,police-operational serv bureau,2070,senior stock clerk,active,26541.06,...,2014,6,23,NaN,NaN,NaN,Baton Rouge CSD,6b1b11e685bf2b6be76eb85a56ff47a6,NaN,NaN
1,2018,weissberg,deena,j,5020,police-uniform patrol bureau,5005,police officer,active,53024.53,...,2010,3,31,NaN,NaN,NaN,Baton Rouge CSD,830b637f0eff1672df622c228005f8ed,NaN,NaN
2,2018,graham,michael,h,5050,police-communications,5115,police comm officer i-42 hrs,inactive,54243.63,...,2007,4,21,2019.0,1.0,22.0,Baton Rouge CSD,e91081834424eab42d2c1519c93c558a,NaN,NaN
3,2018,gillich,joshua,m,5070,police-criminal investigation,5005,police officer,active,28738.00,...,2008,12,8,NaN,NaN,NaN,Baton Rouge CSD,a2f8eb18d214233bc8cc61d1eec86653,2009-04-22,2020-07-15
4,2018,saleh,haled,NaN,5020,police-uniform patrol bureau,5005,police officer,inactive,62144.25,...,2006,6,12,2019.0,4.0,26.0,Baton Rouge CSD,38ba903c314b093eae2b3dac8c4587ee,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1957,2018,howard,walter,c,5060,police-special operations,6525,school crossing guard,active,942.50,...,2018,10,24,NaN,NaN,NaN,Baton Rouge CSD,7853fef8a85f2e467609190b8d430b19,NaN,NaN
1958,2018,houston,stacy,m,5060,police-special operations,6525,school crossing guard,active,928.00,...,2018,10,24,NaN,NaN,NaN,Baton Rouge CSD,2365ddfa5da9a0d53954985f350d374f,NaN,NaN
1959,2018,dyson,kenneth,w,5060,police-special operations,6525,school crossing guard,active,928.00,...,2018,10,24,NaN,NaN,NaN,Baton Rouge CSD,3fc29868f45c3b698372ee18767e407c,NaN,NaN
1960,2018,augustus,robert,l,5060,police-special operations,6525,school crossing guard,inactive,913.50,...,2018,10,24,2019.0,6.0,10.0,Baton Rouge CSD,6a339e98b96903c875416d0516c3780a,NaN,NaN
1961,2018,byrd,deandrea,n,5010,police-administration,6510,college student intern,inactive,261.00,...,2018,12,17,2019.0,6.0,17.0,Baton Rouge CSD,8fc2019534a8b5b216b102608c939632,NaN,NaN

In [5]:
dfa = df[['first_name', 'middle_initial', 'last_name', 'uid']]\
    .drop_duplicates().set_index('uid')
dfa.loc[:, 'fnc'] = dfa.first_name.map(lambda x: x[:1])
dfb = pprr[['first_name', 'middle_initial', 'last_name', 'uid']]\
    .drop_duplicates().set_index('uid')
dfb.loc[:, 'fnc'] = dfb.first_name.map(lambda x: x[:1])
matcher = ThresholdMatcher(dfa, dfb, ColumnsIndex(['fnc']), {
    'middle_initial': StringSimilarity(),
    'first_name': JaroWinklerSimilarity(),
    'last_name': JaroWinklerSimilarity(),
})

In [6]:
matcher.get_sample_pairs()

                                                                first_name  \
score_range pair_idx sim_score row_key
0.90-0.85   0        0.855868  88e7bebcb4265f8f6786e02b1bd028b8    kenneth
                               0bbcbb4e4b2dc172244df569f88263ef    kenneth
0.85-0.80   0        0.840829  1ba99b3655e70bcd6e3d60e24f1a1df3     dustin
                               fb71af1938a6ea981e50b2309d488127      duane
0.80-0.75   0        0.753519  06e443ed9c62f503e554cee5d8d53cd6   courtney
                               73af887d940cce5865dbab8e49fccbcf    charles
0.75-0.70   0        0.735947  608127e6486d231403324c45ca3dcfa6     joshua
                               fb55b246807f713c0899f7398c919693     joshua
            1        0.729603  900f3c640c51ba3e1d2a2de658d1f6b0  anastatia
                               5ed9194f492a232a009538fb07d54f07    alandus

                                                                middle_initial  \
score_range pair_idx sim_score row_key
0.90-0.85   0        0.855868  88e7bebcb4265f8f6786e02b1bd028b8              j
                               0bbcbb4e4b2dc172244df569f88263ef              j
0.85-0.80   0        0.840829  1ba99b3655e70bcd6e3d60e24f1a1df3              l
                               fb71af1938a6ea981e50b2309d488127              l
0.80-0.75   0        0.753519  06e443ed9c62f503e554cee5d8d53cd6              r
                               73af887d940cce5865dbab8e49fccbcf              r
0.75-0.70   0        0.735947  608127e6486d231403324c45ca3dcfa6
                               fb55b246807f713c0899f7398c919693              l
            1        0.729603  900f3c640c51ba3e1d2a2de658d1f6b0              a
                               5ed9194f492a232a009538fb07d54f07              a

                                                                  last_name  \
score_range pair_idx sim_score row_key
0.90-0.85   0        0.855868  88e7bebcb4265f8f6786e02b1bd028b8      parker
                               0bbcbb4e4b2dc172244df569f88263ef      stelly
0.85-0.80   0        0.840829  1ba99b3655e70bcd6e3d60e24f1a1df3  strickland
                               fb71af1938a6ea981e50b2309d488127     scrantz
0.80-0.75   0        0.753519  06e443ed9c62f503e554cee5d8d53cd6       jones
                               73af887d940cce5865dbab8e49fccbcf   blacknell
0.75-0.70   0        0.735947  608127e6486d231403324c45ca3dcfa6     rollins
                               fb55b246807f713c0899f7398c919693       ellis
            1        0.729603  900f3c640c51ba3e1d2a2de658d1f6b0       selby
                               5ed9194f492a232a009538fb07d54f07     bickham

                                                                fnc
score_range pair_idx sim_score row_key
0.90-0.85   0        0.855868  88e7bebcb4265f8f6786e02b1bd028b8   k
                               0bbcbb4e4b2dc172244df569f88263ef   k
0.85-0.80   0        0.840829  1ba99b3655e70bcd6e3d60e24f1a1df3   d
                               fb71af1938a6ea981e50b2309d488127   d
0.80-0.75   0        0.753519  06e443ed9c62f503e554cee5d8d53cd6   c
                               73af887d940cce5865dbab8e49fccbcf   c
0.75-0.70   0        0.735947  608127e6486d231403324c45ca3dcfa6   j
                               fb55b246807f713c0899f7398c919693   j
            1        0.729603  900f3c640c51ba3e1d2a2de658d1f6b0   a
                               5ed9194f492a232a009538fb07d54f07   a