In [1]:
import sys; sys.path.append("../")

import pandas as pd

from lib.explore import show_unique
from lib.post import prepare_post
from lib.match import ThresholdMatcher, JaroWinklerSimilarity, ColumnsIndex, StringSimilarity
from clean.baton_rouge_so_cprr import clean18

In [2]:
# df = clean18()
# df

In [3]:
df = pd.read_csv('../data/match/cprr_baton_rouge_so_2018.csv')
post = prepare_post('e. baton rouge so')

In [7]:
df.loc[df.action.fillna('').str.contains('termina'), ['uid', 'occur_year', 'occur_month', 'occur_day']]

                                 uid  occur_year  occur_month  occur_day
11  88e7bebcb4265f8f6786e02b1bd028b8        2018            6         24
15  31d92ddf532dc71e654546809e14eb3e        2018           11         14

In [9]:
post[post.uid == '31d92ddf532dc71e654546809e14eb3e']

Empty DataFrame
Columns: [agency, last_name, first_name, employment_status, level_1_cert_date, last_pc_12_qualification_date, data_production_year, hire_year, hire_month, hire_day, uid]
Index: []