In [1]:
import sys; sys.path.append("../")

import pandas as pd

from clean.brusly_pd import clean_cprr, clean_pprr, clean_award
from lib.match import (
    ThresholdMatcher, NoopIndex, JaroWinklerSimilarity
)
from lib.explore import print_df
from match.brusly_pd import add_uid_to_complaint, add_supervisor_uid_to_complaint

In [2]:
# cprr = clean_cprr()
# cprr

In [3]:
award = clean_award()
award

,l_name,f_name,award,receive_year,comments
0,yetman,garret,life saver award,2018,yetman arrived on scene and performed necessar...
1,ross,robyn,life saver award,2018,ross arrived on scene and performed necessary ...
2,mitchel,daniel,officer of the year,2019,NaN
3,southon,tom,officer of the year,2016,NaN
4,southon,tom,officer of the year,2017,NaN
5,fontenot,jason,officer of the year,2018,NaN
6,wallis,steven,officer of the year,2020,NaN
7,southon,tom,hard work appreciation award,2016,NaN
8,lefeaux,jonathan,hard work appreciation award,2016,NaN