In [1]:
import sys; sys.path.append("../")

import pandas as pd

from clean.brusly_pd import clean_cprr, clean_pprr
from match.brusly_pd import add_uid_to_complaint, add_supervisor_uid_to_complaint

In [2]:
cprr = clean_cprr()
cprr

,rule_violation,action,last_name,first_name,supervisor_rank,supervisor_first_name,supervisor_last_name,receive_year,receive_month,receive_day,...,occur_month,occur_day,suspension_start_year,suspension_start_month,suspension_start_day,suspension_end_year,suspension_end_month,suspension_end_day,agency,data_production_year
0,failure to report in a timely manner,first offense counseling,portier,brett,assistant chief,tom,southon,2019,5,3,...,5,3,,,,,,,Brusly PD,2020
1,conduct unbecoming of an officer,suspended without pay,johnson,david,lieutenant,jason,fontenot,2020,5,5,...,4,29,2020,5,13,2020,5,29,Brusly PD,2020

In [4]:
cprr.columns

Index(['rule_violation', 'action', 'last_name', 'first_name',
       'supervisor_rank', 'supervisor_first_name', 'supervisor_last_name',
       'receive_year', 'receive_month', 'receive_day', 'occur_year',
       'occur_month', 'occur_day', 'suspension_start_year',
       'suspension_start_month', 'suspension_start_day', 'suspension_end_year',
       'suspension_end_month', 'suspension_end_day', 'agency',
       'data_production_year'],
      dtype='object')

In [3]:
pprr = clean_pprr()
pprr

,rank_desc,annual_salary,last_name,first_name,middle_initial,birth_year,birth_month,birth_day,hire_year,hire_month,hire_day,term_year,term_month,term_day,uid,agency,data_production_year
0,police officer,43614.48,dupree,anthony,r,1972,5,25,2015,9,8,2018,11,8,5b90bab1c7732760721915f50094657c,Brusly PD,2020
1,police officer,42609.84,cipriano,daniel,d,1972,5,7,2012,8,24,2018,11,8,e005f33e81149c13b9ad13a6d62fe982,Brusly PD,2020
2,police officer,43024.80,johnson,david,d,1968,7,29,2010,8,9,,,,9942549487bc163aa5d4a2461a2989d2,Brusly PD,2020
3,police officer,37876.80,cacioppo,gwen,l,1966,8,16,2014,12,22,2017,2,24,9cf1067d592aec9382c31d0d20a90c9e,Brusly PD,2020
4,police officer,39770.64,mcintyre,ivan,j,1968,1,16,2016,4,11,2017,9,20,27601c41ed0747bebd4a5645a19a35fd,Brusly PD,2020
5,police officer,37848.72,ward,jordan,e,1992,8,28,2016,8,24,2017,7,25,296180b8322983f1750bf5da63adcc2e,Brusly PD,2020
6,police chief,48000.00,lefeaux,jonathan,j,1979,3,9,2014,11,14,,,,c20ee6d572f7d5e77386f7b584f9654b,Brusly PD,2020
7,police officer,50734.32,fontenot,jason,p,1975,2,2,2012,5,15,,,,dbf9a5fca980823dbf5bcc80df4d7588,Brusly PD,2020
8,police officer,39769.60,maranto,shellie,e,1977,3,21,2014,8,1,2017,4,1,be67f802c25fca2673c21226067f09df,Brusly PD,2020
9,police officer,54097.68,southon,thomas,e,1982,11,17,2009,8,9,,,,356b15773506e6a753aed10f642ee64a,Brusly PD,2020
10,police officer,24960.00,leray,ron,,1979,8,7,2015,8,11,2018,9,6,9e43a4c7f2982e82f25f250ac9717bfe,Brusly PD,2020
11,police officer,31200.00,cavalier,neal,,1965,7,20,2005,4,20,,,,15389161322fb6111ef6275b782d79dc,Brusly PD,2020
12,police officer,38176.32,mitchel,danielle,,1977,7,7,2017,5,15,,,,c39bdb41f89eaed49274aa06ab5e525e,Brusly PD,2020
13,police officer,39770.64,ross,robyn,h,1980,6,16,2017,8,11,2019,7,15,922b8cfac0c11a8075dec9f8fccf8e50,Brusly PD,2020
14,police officer,37128.00,yetman,garrett,,1993,9,9,2017,9,24,2019,8,15,79b5ecc48e5bd91ed7c2511ec28789c1,Brusly PD,2020
15,police officer,39355.68,portier,brett,,1988,11,14,2017,10,10,,,,d6a96b162f22d89d91b354dc5862c663,Brusly PD,2020
16,police officer,31200.00,comeau,michael,,1971,6,9,2018,6,11,2019,5,31,fe5b20b4f712e9350edf794f993a3b03,Brusly PD,2020
17,police officer,35992.32,zachary,jordan,,1994,4,22,2018,11,1,2020,1,26,47f5020da0b3319c4a346e95dfaf93be,Brusly PD,2020
18,police officer,24960.00,oubre,sylvest,j,1977,7,5,2019,3,25,2019,5,31,43c827bf135a5e359ab2355791896f74,Brusly PD,2020
19,police officer,37870.56,wallis,stephen,,1957,10,1,2019,4,16,,,,713808fcbd7f9011a8320d355b6991a8,Brusly PD,2020
20,police officer,40098.24,thompson,jeremy,s,1975,5,31,2019,7,8,,,,80d0f954b5d8bd1b6d776f46eec38dd7,Brusly PD,2020
21,police officer,35642.88,tetzel,ronald,a,1969,2,7,2019,8,12,,,,81c6c24fa3d1392a1ce881c8bcf569dd,Brusly PD,2020
22,police officer,33945.60,byrd,devin,e,1983,9,10,2020,2,3,,,,edf4b91c0835d5b4559ed37c9619d5a7,Brusly PD,2020

In [4]:
cprr = add_uid_to_complaint(cprr, pprr)
cprr

,rule_violation,action,supervisor_rank,supervisor_first_name,supervisor_last_name,receive_year,receive_month,receive_day,occur_year,occur_month,occur_day,suspension_start_year,suspension_start_month,suspension_start_day,suspension_end_year,suspension_end_month,suspension_end_day,agency,data_production_year,uid
0,failure to report in a timely manner,first offense counseling,assistant chief,tom,southon,2019,5,3,2019,5,3,,,,,,,Brusly PD,2020,d6a96b162f22d89d91b354dc5862c663
1,conduct unbecoming of an officer,suspended without pay,lieutenant,jason,fontenot,2020,5,5,2020,4,29,2020,5,13,2020,5,29,Brusly PD,2020,9942549487bc163aa5d4a2461a2989d2

In [5]:
cprr = add_supervisor_uid_to_complaint(cprr, pprr)
cprr

,rule_violation,action,supervisor_rank,receive_year,receive_month,receive_day,occur_year,occur_month,occur_day,suspension_start_year,suspension_start_month,suspension_start_day,suspension_end_year,suspension_end_month,suspension_end_day,agency,data_production_year,uid,supervisor_uid
0,failure to report in a timely manner,first offense counseling,assistant chief,2019,5,3,2019,5,3,,,,,,,Brusly PD,2020,d6a96b162f22d89d91b354dc5862c663,356b15773506e6a753aed10f642ee64a
1,conduct unbecoming of an officer,suspended without pay,lieutenant,2020,5,5,2020,4,29,2020,5,13,2020,5,29,Brusly PD,2020,9942549487bc163aa5d4a2461a2989d2,dbf9a5fca980823dbf5bcc80df4d7588