In [1]:
import sys; sys.path.append('../')
import pandas as pd

from clean.caddo_parish_so_pprr import clean

In [2]:
df = clean()
df

,employee_id,rank_desc,annual_salary,first_name,last_name,middle_name,middle_initial,agency,data_production_year,hire_year,hire_month,hire_day,uid
0,199822,deputy - prior service corporal,48347.52,eric,moore,leon,l,Caddo Parish SO,2020,2015,2,2,8bc51e074e83c17a598120782ea1aa05
1,82368,lieutenant,55721.12,james,moore,frederick,f,Caddo Parish SO,2020,2002,9,26,732794f3521eddcc58490abc073ede61
2,174609,p.o.s.t. part-time employ hourly,19448.00,jimmy,moore,dale,d,Caddo Parish SO,2020,2011,12,9,9828531cc69d9ee6c14f70bfa986c116
3,64194,chief administrative officer,106751.84,jobie,moore,lynn,l,Caddo Parish SO,2020,2000,7,1,b2d3c3467da6694f190975e6a02b44fe
4,40491,corporal,57805.28,john,moore,crayton,c,Caddo Parish SO,2020,1998,4,9,6dde52434c841b1c318a9eb9adf608a7
...,...,...,...,...,...,...,...,...,...,...,...,...,...
754,203220,deputy,40649.44,ashantis,mitchell,brielle,b,Caddo Parish SO,2020,2016,6,10,00b9e0c6761cd93242e8a837d36c2acd
755,196517,senior deputy,42292.64,gavin,mitchell,jerrod,j,Caddo Parish SO,2020,2014,6,9,f452758a266ed5f7b4813cbc0a2837de
756,57533,p.o.s.t. part-time employ hourly,17680.00,john,mixon,mark,m,Caddo Parish SO,2020,2017,1,16,4b55a994c781c400c1ef954c1bf2022f
757,46501,lieutenant,63539.84,robert,montoya,manuel,m,Caddo Parish SO,2020,1998,10,22,5e81d88af67c209f2d0f66461021206c
758,71028,manager,53000.48,ardean,moore,latin,l,Caddo Parish SO,2020,2012,10,8,87f23dfac79219a68a143d5140417181

In [3]:
# post = pd.read_csv('../data/clean/pprr_post_2020_11_06.csv')
# post = post[post.agency == 'caddo parish so'].reset_index(drop=True)