In [15]:
import sys; sys.path.append("../")
import pandas as pd

In [16]:
per = pd.read_csv('../data/fuse/personnel.csv')
com = pd.read_csv('../data/fuse/complaint.csv')
event = pd.read_csv('../data/fuse/event.csv')
uof = pd.read_csv('../data/fuse/use_of_force.csv')

/Users/khoipham/.virtualenvs/base/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3169: DtypeWarning: Columns (3,4,9,17,18,20,24,25,32,39,40) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Users/khoipham/.virtualenvs/base/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3169: DtypeWarning: Columns (9,10,12,13,14,16,17,18,19,20,24,25,26,29,30,31) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [1]:
import sys; sys.path.append('../')

import pandas as pd

In [2]:
per = pd.read_csv('../data/fuse/personnel.csv')
per

,uid,last_name,middle_name,middle_initial,first_name,birth_year,birth_month,birth_day,race,sex
0,000526fa05739e97b61343513a92dbc7,St Pe,NaN,E,Cheryl,NaN,NaN,NaN,NaN,NaN
1,00053b0fb61b7ddd8d3f6c55bdcf6a53,Bentley,NaN,NaN,Stephen,NaN,NaN,NaN,NaN,NaN
2,0005624eee7c188d3604f2294dfb195d,Sanchez,C,C,Emile,NaN,NaN,NaN,NaN,male
3,0007884f101d1661937abb130664d2d2,Coleman,NaN,NaN,John,NaN,NaN,NaN,NaN,NaN
4,0007f3f6802b9fa493622d4a23edc00b,Chapman,Wayne,W,Ryan,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
19647,ffe742161e9ec8ce7d646806e14a0981,Hicks,NaN,NaN,Wendy,1955.0,NaN,NaN,NaN,NaN
19648,ffec62d1194c7005a56c227c3b8d8562,Sunseri,S,S,Lucian,1941.0,NaN,NaN,white,male
19649,ffed8bba5b654be261b1eee71ebf01f4,Youngs,NaN,NaN,Michael,NaN,NaN,NaN,NaN,NaN
19650,fff0140215ef8b53a661750445758776,Thaxton,NaN,NaN,Jimmy,NaN,NaN,NaN,NaN,NaN
19651,fff26ff85cbd01722b9da1ceca1fd350,Robin,NaN,NaN,Donny,NaN,NaN,NaN,NaN,NaN

In [7]:
uids = per.loc[per.race == 'w', 'uid'].to_list()

In [4]:
ev = pd.read_csv('../data/fuse/event.csv')
ev

/Users/khoipham/.virtualenvs/base/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3169: DtypeWarning: Columns (5,9,10,12,13,14,16,17,18,19,20,24,25,26,29,30,31,32) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,event_uid,kind,year,month,day,time,raw_date,uid,complaint_uid,appeal_uid,...,employment_status,sworn,officer_inactive,employee_type,years_employed,salary,salary_freq,award,award_comments,left_reason
0,000a481fd9a05f87218458bd00c65a8d,officer_dept,2013,NaN,NaN,NaN,NaN,6d82e73c3d401a0424eef198d7ace669,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,001cbb9af554552273bad1a6082acec1,officer_pay_effective,2011,NaN,NaN,NaN,NaN,3197945e273d79968f5da84b440796d1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,10262.14,yearly,NaN,NaN,NaN
2,00264646f885f9ffcb9bee2d7c7cdd80,officer_dept,2018,NaN,NaN,NaN,NaN,ede3c72ebc58c47f15336060c61dddf8,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,00291fd311feeed77f10659468c6ca4c,officer_pay_effective,2019,NaN,NaN,NaN,NaN,306feb7a91b30f5681c871e9095cbaf1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,62373.35,yearly,NaN,NaN,NaN
4,002add77d35f58244041315df9322b20,officer_rank,2013,NaN,NaN,NaN,NaN,6b9809c17fab75e8992ff82fad0cbdc3,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155856,fea2d292e431fa6fa4fb878d898c4593,officer_pc_12_qualification,2019,6.0,5.0,NaN,2019-06-05,dc6663b725af10ac368a6472ede8ea17,NaN,NaN,...,full-time,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
155857,fea8b6a044cf76f74ed7888460b5d7f7,officer_level_1_cert,2007,10.0,18.0,NaN,2007-10-18,cd72fde1489475fdeda920bda8fe94e3,NaN,NaN,...,full-time,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
155858,feccd2a8b7a5edb95f6d330a919a69c1,officer_pc_12_qualification,2020,10.0,21.0,NaN,2020-10-21,20d1f2c1fecdbbfb8a42a901a034a729,NaN,NaN,...,full-time,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
155859,ff9e194f14b3894c04938cbfdee0eec4,officer_pc_12_qualification,2016,10.0,21.0,NaN,2016-10-21,f299c69735c1aa27ff24313b1de37dcf,NaN,NaN,...,full-time,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
155860,fff0aca61fb5f696a305200a3fe03a0d,officer_hire,2008,6.0,8.0,NaN,NaN,c07070ef131c23861efbdf24df7026dc,NaN,NaN,...,full-time,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
ev.loc[ev.year > 2021, ['agency', 'kind']]

                agency                    kind
46280   New Orleans PD      complaint_incident
49014   New Orleans PD      complaint_incident
53750   New Orleans PD      complaint_incident
57155   New Orleans PD      complaint_incident
66008   New Orleans PD      complaint_incident
83691   New Orleans PD      complaint_incident
85132   New Orleans PD      complaint_incident
88915   New Orleans PD      complaint_incident
90875   New Orleans PD      complaint_incident
92928   New Orleans PD      complaint_incident
108520  New Orleans PD      complaint_incident
111170  New Orleans PD      complaint_incident
112868  New Orleans PD      complaint_incident
130233  New Orleans PD      complaint_incident
133500  New Orleans PD      complaint_incident
150553   Tangipahoa SO  investigation_complete