In [2]:
import sys; sys.path.append("../")
import pandas as pd

In [4]:
per = pd.read_csv('../data/fuse/personnel.csv')
com = pd.read_csv('../data/fuse/complaint.csv')
event = pd.read_csv('../data/fuse/event.csv')
uof = pd.read_csv('../data/fuse/use_of_force.csv')

/Users/khoipham/.virtualenvs/base/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3169: DtypeWarning: Columns (3,5,6,11,19,22,26,27,28,35) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Users/khoipham/.virtualenvs/base/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3169: DtypeWarning: Columns (5,9,10,12,13,14,15,16,17,18,19,20,21,23,24,25,26,29,30,31) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [6]:
per.loc[27, 'uid']

uid               00569b9fe98010b4bc1205e8d31b3994
last_name                                  Lagarde
middle_name                                      B
middle_initial                                   B
first_name                                   Emily
birth_year                                  1954.0
birth_month                                    NaN
birth_day                                      NaN
race                      black / african american
sex                                         female
Name: 27, dtype: object

In [8]:
event.loc[event.uid == '00569b9fe98010b4bc1205e8d31b3994', 'agency']

64779     New Orleans PD
78581     New Orleans PD
133698    New Orleans PD
Name: agency, dtype: object

In [11]:
com.loc[141, ['agency', 'badge_no']]
com.loc[141, 'badge_no']

'2206'

In [13]:
com.loc[com.badge_no.notna(), 'badge_no'].unique()

array(['2206', '1711', '1308', '1534', '2527', '1797', '769', '2067',
       '1519', '2363', '1053', '2592', '2571', '2414', '2528', '1067',
       'HP-50', 'HP-56', 'HP-33', 'PA-23', 'PA-18', 'PA-20', 'PA-28',
       'PA-11', 'PA-8', 'PA-13', 'PA-6', 'PA-9', 'PA-17', 'PA-5', 'PA-4'],
      dtype=object)

In [15]:
event.loc[141972]

event_uid              39d2deb2d646df2b319958680921260e
kind                                 complaint_incident
year                                               2016
month                                              11.0
day                                                 9.0
time                                               5:20
raw_date                                            NaN
uid                    dc12c1ae54c2d5827fa9d4215cbd8f5a
complaint_uid          8ab9947940a4b18a826508328b5607b5
appeal_uid                                          NaN
uof_uid                                             NaN
agency                                    Port Allen PD
badge_no                                          PA-18
employee_id                                         NaN
department_code                                     NaN
department_desc                          uniform patrol
division_desc                                       NaN
sub_division_a_desc                                 NaN
sub_division_b_desc                                 NaN
current_supervisor                                  NaN
employee_class                                      NaN
rank_code                                           NaN
rank_desc                                      corporal
employment_status                                   NaN
sworn                                               NaN
officer_inactive                                    NaN
employee_type                                       NaN
years_employed                                      NaN
salary                                              NaN
salary_freq                                         NaN
award                                               NaN
award_comments                                      NaN
Name: 141972, dtype: object