In [1]:
import sys; sys.path.append("../")
import pandas as pd

In [2]:
per = pd.read_csv('../data/fuse/personnel.csv')
com = pd.read_csv('../data/fuse/complaint.csv')
event = pd.read_csv('../data/fuse/event.csv')
uof = pd.read_csv('../data/fuse/use_of_force.csv')

/Users/khoipham/.virtualenvs/base/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3169: DtypeWarning: Columns (3,4,9,17,18,20,24,25,32,39,40) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Users/khoipham/.virtualenvs/base/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3169: DtypeWarning: Columns (9,10,12,13,14,16,17,18,19,20,24,25,26,29,30,31) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [8]:
per.loc[per.race == 'asian', 'uid']

826      0b2d2193738b8217121b7044ee189799
6445     594d529867eb652748fad65436573504
18149    f661a013ec2411855d84e1b959552a02
Name: uid, dtype: object

In [14]:
event.loc[(event.year > 2021) & (event.agency == 'Tangipahoa SO')]

,event_uid,kind,year,month,day,time,raw_date,uid,complaint_uid,appeal_uid,...,rank_desc,employment_status,sworn,officer_inactive,employee_type,years_employed,salary,salary_freq,award,award_comments
136492,f003ef429f616c71287428abdedf0635,investigation_complete,2028,8.0,24.0,NaN,NaN,da61ac8bcbafdb240f7c83024a495080,4dd575fa0e8a7166fdbccdbf4c752e1b,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
com.loc[com.badge_no.notna(), 'badge_no'].unique()

array(['2067', '2414', '2527', '1534', '2528', '2571', '2363', '2592',
       '1308', '1067', '1053', '769', '1519', '1711', '2206', '1797',
       'HP-50', 'HP-56', 'HP-33', 'PA-23', 'PA-18', 'PA-20', 'PA-28',
       'PA-11', 'PA-8', 'PA-13', 'PA-6', 'PA-9', 'PA-17', 'PA-5', 'PA-4'],
      dtype=object)