In [8]:
import sys; sys.path.append("../")
import pandas as pd
import dirk

In [2]:
per = pd.read_csv('../data/fuse/personnel.csv')
com = pd.read_csv('../data/fuse/allegation.csv')
event = pd.read_csv('../data/fuse/event.csv')
uof = pd.read_csv('../data/fuse/use_of_force.csv')

/Users/khoipham/.virtualenvs/base/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3169: DtypeWarning: Columns (3,7,13,14,16,19,20,23,32,33) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Users/khoipham/.virtualenvs/base/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3169: DtypeWarning: Columns (5,9,10,12,13,14,15,16,17,18,19,20,21,23,24,25,26,30,31,32) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
com

,uid,tracking_number,allegation_uid,investigation_status,assigned_department,assigned_division,traffic_stop,body_worn_camera_available,app_used,citizen_arrested,...,supervisor_rank,badge_no,department_code,department_desc,rank_desc,employment_status,investigator,investigator_uid,investigator_rank,shift_supervisor
0,a9c67a6df7a32825add6f19f715ac538,2010-1,NaN,ret,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,05e3c4b96430f4c9490339f76235c6d0,2010-10,NaN,ret,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,a5f628b46c7c67809d806f5d561bf989,2010-10,NaN,ret,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ad449ca74ebd537bde034deddf439f82,2010-10,NaN,ret,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,9ebdf39ac96719dca8ea4304a964aecb,2010-11,NaN,ret,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30094,b1b4d47d2fddbf18b0d75bc92418ebfd,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,captain,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30095,11bdea6a16aaa1b9a6d68347ee4a9433,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,lieutenant,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30096,51f0fe62d1accb34b8f3e8438e56853b,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30097,dc0ef3524b9e8afaeeaadecb7167b071,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,captain,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30098,c8b0fa1cddc02c86e7e8ac06c66ec7c9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,chief,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
# com.loc[com.allegation_uid.isna() & (com.agency == 'Baton Rouge PD')]
com.loc[com.uid == 'a9c67a6df7a32825add6f19f715ac538']

,uid,tracking_number,allegation_uid,investigation_status,assigned_department,assigned_division,traffic_stop,body_worn_camera_available,app_used,citizen_arrested,...,supervisor_rank,badge_no,department_code,department_desc,rank_desc,employment_status,investigator,investigator_uid,investigator_rank,shift_supervisor
0,a9c67a6df7a32825add6f19f715ac538,2010-1,NaN,ret,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
200,a9c67a6df7a32825add6f19f715ac538,2010-HS,NaN,pa,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
280,a9c67a6df7a32825add6f19f715ac538,2011-84,NaN,ret,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
866,a9c67a6df7a32825add6f19f715ac538,2014-HS,NaN,pa,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
882,a9c67a6df7a32825add6f19f715ac538,2015-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
df = pd.read_csv(dirk.data('fuse/com_baton_rouge_pd.csv'))
df.loc[df.uid == 'a9c67a6df7a32825add6f19f715ac538']

,uid,tracking_number,allegation_uid,investigation_status,allegation,disposition,action,agency,department_code,department_desc,rank_desc
733,a9c67a6df7a32825add6f19f715ac538,2010-HS,6255527cf69b27fe872699a469bb99f4,pa,2:7 damaging department equipment - 18,NaN,letter of reprimand,Baton Rouge PD,NaN,NaN,NaN
1123,a9c67a6df7a32825add6f19f715ac538,2010-1,9ca31493cc91b9c8e703a4d1f88abc50,ret,3:20 use of force,NaN,NaN,Baton Rouge PD,NaN,NaN,NaN
1191,a9c67a6df7a32825add6f19f715ac538,2011-84,a56ccb1c813e362bce7e7772d9d571b1,ret,2:2 shirking duties - 14,NaN,NaN,Baton Rouge PD,NaN,NaN,NaN
1663,a9c67a6df7a32825add6f19f715ac538,2015-16,e687eee4e25d08dd5e802cd99dcdc3fd,NaN,3:20 use of force,not sustained,NaN,Baton Rouge PD,NaN,NaN,NaN
1809,a9c67a6df7a32825add6f19f715ac538,2014-HS,fc771ae8594fa9faa96b890add2e928f,pa,2:7 damaging department equipment - 18,NaN,letter of caution,Baton Rouge PD,NaN,NaN,NaN