In [1]:
import sys; sys.path.append("../")
import pandas as pd

from clean.greenwood_pd_cprr import clean
from clean.post_pprr import clean as clean_post
from match.greenwood_pd import match
from fuse.greenwood_pd import fuse

In [2]:
gw_cprr = clean()
gw_cprr

,rank_desc,first_name,last_name,comission_number,investigation_type,rule_violation,paragraph_violation,action,disposition,complainant_type,complainant_name,complainant_race,complainant_sex,occur_year,occur_month,occur_day,receive_year,receive_month,receive_day,mid
0,officer,christopher,farris,,administrative investigation,dereliction of duty,u,1 day suspension without pay,sustained,civillian,Ms. April Fields,black,female,2015,12,26,2015,12,28,c38e24e231e0202c1d207726353b7804
1,senior officer,christopher,farris,235,NaN,attendance in court,section 11,no further action,NaN,NaN,NaN,NaN,NaN,2015,1,29,2015,1,29,c38e24e231e0202c1d207726353b7804

In [3]:
post_pprr = clean_post()

../lib/clean.py:145: FutureWarning: The default value of regex will change from True to False in a future version.
  return series.str.strip().str.replace(r"[^\w-]+", " ").str.replace(r"\s+", " ")\
../clean/post_pprr.py:13: FutureWarning: The default value of regex will change from True to False in a future version.
  df.loc[:, "agency"] = df.agency.str.strip()\

In [4]:

gw_cprr = match(gw_cprr, post_pprr)
gw_cprr

,rank_desc,first_name,last_name,comission_number,investigation_type,rule_violation,paragraph_violation,action,disposition,complainant_type,...,complainant_sex,occur_year,occur_month,occur_day,receive_year,receive_month,receive_day,uid,level_1_cert_date,last_pc_12_qualification_date
0,officer,christopher,farris,,administrative investigation,dereliction of duty,u,1 day suspension without pay,sustained,civillian,...,female,2015,12,26,2015,12,28,ab37efbb09035fb1cca26e4024637957,04/07/2010,10/21/2020
1,senior officer,christopher,farris,235,NaN,attendance in court,section 11,no further action,NaN,NaN,...,NaN,2015,1,29,2015,1,29,ab37efbb09035fb1cca26e4024637957,04/07/2010,10/21/2020

In [5]:
per, com, perhist = fuse(gw_cprr)
per

../lib/clean.py:155: FutureWarning: The default value of regex will change from True to False in a future version.
  df.loc[:, col] = df[col].str.title()\

,uid,last_name,first_name,level_1_cert_date,last_pc_12_qualification_date
0,ab37efbb09035fb1cca26e4024637957,Farris,Christopher,04/07/2010,10/21/2020

In [6]:
com

,uid,allegation_uid,occur_year,occur_month,occur_day,receive_year,receive_month,receive_day,investigation_type,disposition,rule_violation,paragraph_violation,complainant_type,complainant_name,complainant_sex,complainant_race,action,complainant_type
0,ab37efbb09035fb1cca26e4024637957,5ad25b5ff928c6def1bb8cce05e7f18f,2015,12,26,2015,12,28,administrative investigation,sustained,dereliction of duty,u,civillian,Ms. April Fields,female,black,1 day suspension without pay,civillian
1,ab37efbb09035fb1cca26e4024637957,e6051001226bdacd9df2157c9a87aa27,2015,1,29,2015,1,29,NaN,NaN,attendance in court,section 11,NaN,NaN,NaN,NaN,no further action,NaN

In [7]:
perhist

,uid,rank_desc,rank_year,rank_month,rank_day
0,ab37efbb09035fb1cca26e4024637957,officer,2015,12,26
1,ab37efbb09035fb1cca26e4024637957,senior officer,2015,1,29