In [1]:
import re
import sys; sys.path.append("../")

import numpy as np
import pandas as pd

from lib.columns import rearrange_personnel_columns

In [7]:
pprr = pd.read_excel("../data/Harahan Police Department/Administrative Data/Harahan_PD_PPRR_2020.xlsx")
pprr = pprr.iloc[3:]
pprr.columns = pd.Index(["Last Name", "First Name", "Badge #", "Date of Rank"])
pprr.reset_index(drop=True, inplace=True)
pprr.dropna(how="all", inplace=True)
pprr

          Last Name First Name Badge #   Date of Rank
0            Walker        Tim       1            NaN
1            Bagley      Chase     187            NaN
2           Bloomer     Jordon     195  Sgt  10-14-19
3          Crovetto       Eric     117  Sgt  03-14-13
4            Darwin      David     106  Sgt  05-15-19
5            Deacon       Drew     129  Sgt  03-02-20
6           Dunning       John     201            NaN
7             Evans   Benjamin     194            NaN
8            Hadden      Susan     189            NaN
9           Hammond     Chris      163            NaN
10           Hendon   Gabrille     190            NaN
11          Johnson     Daniel     166            NaN
12       Jovanovich       Mark     188  Sgt  05-15-19
13         Lombardi       Sean     186  Sgt  04-19-20
14            Lopez      Angel     125            NaN
15             Lowe     Austin     196            NaN
16           Meyers       Eric     123            NaN
17         Mitchell      David     113  Sgt  03-02-20
18            Nacio     Allena     191            NaN
19         Rumbelow      David     122            NaN
20           Salaun      Daryl     177            NaN
21        Schneider   Nicholas     124            NaN
22         Stiebing      Bruce     138            NaN
23          Stoulig     Janeth     127            NaN
24            Sylve      Eddie     202            NaN
25  Trochez-Sanchez       Elsa     144            NaN
26        Velasquez      Issac     111            NaN