In [1]:
import sys; sys.path.append("../")
import pandas as pd

from clean.ipm_new_orleans_iapro_pprr import clean
from lib.explore import show_unique

In [2]:
df = clean()
df

,employee_id,badge_no,rank_desc,employee_type,employment_status,hired_date,term_date,officer_inactive,years_employed,working_status,...,race,officer_department,officer_division,officer_sub_division_a,officer_sub_division_b,assigned_to_unit_on,first_name,middle_name,last_name,current_supervisor
0,6299,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN,...,Unknown race,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unknown Complaint Operator,NaN
1,6301,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN,...,Black / African American,NaN,NaN,NaN,NaN,NaN,damita,NaN,williams,NaN
2,6302,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Unknown race,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,6313,NaN,NaN,Non-Commissioned,NaN,NaN,NaN,No,NaN,NaN,...,Black / African American,NaN,NaN,NaN,NaN,NaN,Mitchell,NaN,Brown,NaN
4,6308,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN,...,Unknown race,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5876,6523,NaN,LABORER,Non-Commissioned,Active,2018-04-15 00:00:00,NaN,No,3.0,Unknown Working Status,...,Black / African American,MSB - Management Service Bureau,Records & Identification / Support Services Di...,Support Services,Staff,2018-04-25 00:00:00,William,A,Louis,3802.0
5877,6524,NaN,POLICE AIDE,Non-Commissioned,Terminated,2018-04-29 00:00:00,NaN,Yes,3.0,Unknown Working Status,...,Black / African American,MSB - Management Service Bureau,Records & Identification / Support Services Di...,Support Services,Risk Management Section,2018-04-29 00:00:00,Zachary,N,Evans,6072.0
5878,6525,NaN,POLICE AIDE,Non-Commissioned,Active,2018-04-29 00:00:00,NaN,No,3.0,Unknown Working Status,...,Black / African American,MSB - Management Service Bureau,Records & Identification / Support Services Di...,Support Services,Staff,2018-04-29 00:00:00,Darrick,D,Breaux,6072.0
5879,6526,NaN,POLICE AIDE,Non-Commissioned,Active,2018-05-13 00:00:00,NaN,No,3.0,Unknown Working Status,...,Black / African American,MSB - Management Service Bureau,Records & Identification / Support Services Di...,Support Services,Staff,2018-05-13 00:00:00,Lecour,N,Hall,3802.0
5880,6527,NaN,POLICE AIDE,Non-Commissioned,Active,2018-05-13 00:00:00,NaN,No,3.0,Unknown Working Status,...,White,FOB - Field Operations Bureau,NaN,NaN,NaN,2018-05-13 00:00:00,David,L,Smathers,2274.0

## Questions
- Should column `officer_number` be saved as `employee_id`?
- Should we keep column `officer_inactive`?
- `years_employed` is not equal to `employment_ended_on` - `hired_on`. What is it and should we keep it?
- What is `working_status` and do we need to keep it?
- Keep `shift_hours` in personnel history table?
- What is `exclude_reason` and do we want to drop it?
- What are `officer_sub_division_a` and `officer_sub_division_b`?
- Keep `officer_division`, `officer_sub_division_a` and `officer_sub_division_b` in personnel history table?
- Is `assigned_to_unit_on` distinct from `appoint_date` and `pay_prog_start_date`?
- Does `current_supervisor` reference `officer_number`?

In [3]:
print(df.loc[:, ["employment_status", "officer_inactive"]].drop_duplicates())

     employment_status officer_inactive
0                  NaN               No
2                  NaN              NaN
34          Terminated              Yes
55              Active               No
192                NaN              Yes
232           Inactive              Yes
281           Deceased              Yes
282            Retired              Yes
972             Active              NaN
4988      Leave of Abs              Yes
5353      Leave of Abs               No

In [4]:
df.loc[df.years_employed.notna(), ["years_employed", "hired_date", "term_date"]].drop_duplicates()

      years_employed           hired_date            term_date
281             75.0  1946-12-30 00:00:00  2009-06-07 00:00:00
282             71.0  1950-06-16 00:00:00  2000-07-15 00:00:00
283             67.0  1954-07-01 00:00:00  2009-07-05 00:00:00
284             66.0  1955-05-03 00:00:00  2012-02-12 00:00:00
285             65.0  1956-06-18 00:00:00  1999-03-28 00:00:00
...              ...                  ...                  ...
5852             3.0  2018-03-18 00:00:00                  NaN
5860             3.0  2018-04-01 00:00:00                  NaN
5875             3.0  2018-04-15 00:00:00                  NaN
5877             3.0  2018-04-29 00:00:00                  NaN
5879             3.0  2018-05-13 00:00:00                  NaN

[4308 rows x 3 columns]

In [5]:
df.working_status.unique()

array([nan, 'Not - NOPD Officer', 'Regular Working',
       'Unknown Working Status', 'RUI 2013-0676-R', 'DUI 2010-1236-C',
       'ADD Re-Assigned', 'RUI 2012-0843-R', 'ADD', 'RUI 2010-0999-R',
       'RUI 2013-0908-R', 'RUI 2010-1103-N', 'RUI 2012-0543-R',
       'DUI 2012-0788-R', 'RUI 2012-0462-R', 'DUI 2007-0126-C',
       'Not Employed', 'ADD  SICK',
       'RUI Resigned/Retired Under Investigation', 'Sick',
       'RUI - Resigned Under Investigation', 'DUI 2009-0665-R',
       'Re-Assigned', 'DUI 2010-0999-R', 'DUI 2013-0138-R',
       'RUI 2013-0047-R', 'RUI 2012-1173-R', 'RUI 2012-1097-C',
       'RUI 2012-0763-R', 'Resigned', 'RUI 2013-0114-R',
       'RUI 2013-0122-R', 'RUI 2012-0947-C', 'RUI 2013-0084-R',
       'RUI 2013-0348-C'], dtype=object)

In [6]:
show_unique(df)

5881 rows
employee_id:
    dtype: int64
    unique: 5881
badge_no:
    dtype: object
    unique: 1970
rank_desc:
    dtype: object
    unique: 174
employee_type:
    dtype: object
    unique: 6
        [nan 'Non-Commissioned' 'Recruit' 'Commissioned' 'Non-Commisioned'
 'Commisioned']
employment_status:
    dtype: object
    unique: 7
        [nan 'Terminated' 'Active' 'Inactive' 'Deceased' 'Retired' 'Leave of Abs']
hired_date:
    dtype: object
    unique: 1947
term_date:
    dtype: object
    unique: 907
officer_inactive:
    dtype: object
    unique: 3
        ['No' nan 'Yes']
years_employed:
    dtype: float64
    unique: 64
        [nan 75. 71. 67. 66. 65. 63. 61. 58. 57. 56. 55. 54. 53. 52. 51. 50. 49.
 48. 47. 46. 45. 44. 43. 42. 41. 40. 39. 38. 37. 36. 35. 34. 33. 32. 31.
 30. 29. 28. 27. 26. 25. 24. 23. 22. 21. 20. 19. 18. 17. 16. 15. 14. 13.
 12. 11. 10.  9.  8.  7.  6.  5.  4.  3.]
working_status:
    dtype: object
    unique: 35
        [nan 'Not - NOPD Officer' 'Regular Working' 'Unknown Working Status'
 'RUI 2013-0676-R' 'DUI 2010-1236-C' 'ADD Re-Assigned' 'RUI 2012-0843-R'
 'ADD' 'RUI 2010-0999-R' 'RUI 2013-0908-R' 'RUI 2010-1103-N'
 'RUI 2012-0543-R' 'DUI 2012-0788-R' 'RUI 2012-0462-R' 'DUI 2007-0126-C'
 'Not Employed' 'ADD  SICK' 'RUI Resigned/Retired Under Investigation'
 'Sick' 'RUI - Resigned Under Investigation' 'DUI 2009-0665-R'
 'Re-Assigned' 'DUI 2010-0999-R' 'DUI 2013-0138-R' 'RUI 2013-0047-R'
 'RUI 2012-1173-R' 'RUI 2012-1097-C' 'RUI 2012-0763-R' 'Resigned'
 'RUI 2013-0114-R' 'RUI 2013-0122-R' 'RUI 2012-0947-C' 'RUI 2013-0084-R'
 'RUI 2013-0348-C']
shift_hours:
    dtype: object
    unique: 7
        [nan 'Not - NOPD Officer' 'Between 11pm-7am' 'Unknown Shift Hours'
 'Between 7am-3pm' 'Between 3pm-11pm' '8a-4p']
exclude_reason:
    dtype: object
    unique: 49
        [nan 'Exclude, not attached to anyone'
 'Exclude Duplicate, Merge not needed-duplicate'
 'Exclude Duplicate, to 805, Delete Duplicate-spelling' 'Update'
 'Exclude Duplicate, to 3385, Delete Duplicate-duplicate'
 'Exclude Duplicate, to 5728' 'Exclude, Inactive' 'Update, Terminated'
 'Exclude Duplicate, to 5560-old record' 'Exclude Duplicate, to 2074'
 'Exclude Duplicate, to 5558-old record' 'Update, Deceased'
 'Update, Retired' 'Update, not current officers'
 'Update, As a School Crossing Guard, Not in AAD'
 'Exclude Duplicate, to 5579-old record'
 'Update, As a Reserve Officer, Not in AAD'
 'Exclude Duplicate, to 5580-old record' 'Update, Not in AAD'
 'Update,-name is incorrect in AAD'
 'Update,-duplicate from 5640-duplicate'
 'Update,-duplicate from 5631-duplicate'
 'Update,-duplicate from 5600, 5811-duplicate'
 'Update,-duplicate from 5927-duplicate' 'Update, name not correct in AAD'
 'Exclude, not an Officer' 'Exclude Duplicate, to 5581-old record'
 'Update,-duplicate from 5348-duplicate'
 'Update,-duplicate from 5582, 5614-duplicate'
 'Update,-duplicate from 5605-spelling'
 'Update,-duplicate from 5801, 5802-duplicate'
 'Update,-duplicate from 5866,-name change'
 'Update,-duplicate from 5809, 5810-duplicate'
 'Update,-duplicate from 5887-duplicate' 'Update, Name misspelled'
 'Update,-duplicate from 5799-spelling'
 'Update, As a Reserve Officer,-name backward in AAD'
 'Update,-duplicate from 5453-new record'
 'Update,-duplicate from 5308-new record'
 'Update,-duplicate from 2489-new record'
 'Update,-duplicate from 2434-new record'
 'Update,-duplicate from 2107-new record' 'Update,-wrong name'
 'Update,-name is backward' 'Update,-duplicate from 5808-duplicate'
 'Update,-duplicate from 5649-duplicate'
 'Update,-duplicate from 5888-duplicate'
 'Update, Correct FNAM, should be Scott']
birth_year:
    dtype: float64
    unique: 84
        [  nan 1992. 1990. 1911. 1925. 1927. 1933. 1928. 1930. 1934. 1932. 1942.
 1944. 1946. 1941. 1931. 1920. 1943. 1945. 1947. 1948. 1937. 1949. 1939.
 1940. 1938. 1950. 1951. 1936. 1924. 1952. 1953. 1921. 1954. 1955. 1956.
 1957. 1959. 1958. 1960. 1961. 1935. 1962. 1963. 1965. 1966. 1968. 1967.
 1969. 1964. 1970. 1972. 1973. 1971. 1929. 1923. 1919. 1922. 1974. 1976.
 1977. 1975. 1926. 1978. 1979. 1980. 1981. 1983. 1982. 1984. 1985. 1900.
 1988. 1986. 1987. 1989. 1993. 1991. 1901. 1994. 1996. 1995. 1997. 1998.]
sex:
    dtype: object
    unique: 3
        ['Unknown sex' 'F' 'M']
race:
    dtype: object
    unique: 6
        ['Unknown race' 'Black / African American' 'White' 'Hispanic'
 'Native American' 'Asian / Pacific Islander']
officer_department:
    dtype: object
    unique: 10
        [nan 'Not - NOPD Officer' 'MSB - Management Services Bureau'
 'FOB - Field Operations Bureau' 'ISB - Investigations and Support Bureau'
 'ISB - Investigative Services Bureau' 'Compliance Bureau'
 'MSB - Management Service Bureau' 'Office of the Superintendant'
 'PIB - Public Integrity Bureau']
officer_division:
    dtype: object
    unique: 41
        [nan 'Unknown District/Division' 'Police Recruits' 'Seventh District'
 'First District' 'Crime Lab and Evidence Division'
 'Special Operations Division' 'Districts' 'Communications Division'
 'Crime Lab Division' 'Fifth District' 'Fourth District' 'Third District'
 'ISB Staff' 'Reserve Division'
 'Records & Identification / Support Services Divisi'
 'Administrative Duties Services' 'Command Staff' 'Eighth District'
 'Second District' 'Staff' 'Office of the Superintendant'
 'Budget Services' 'Special Investigations Division'
 'Education/Training & Recruitment Division' 'Consent Decree'
 'Criminal Investigations Division' 'Sixth District' 'Technology Section'
 'Public Information Office ' 'Alternative Police Response'
 'Special Investigation Section' 'Intake Unit'
 "Superintendant's Budget Staff" 'Staff Programs Unit' 'Staff Division '
 'Administrative Investigation Section' 'Criminal Investigation Section'
 'Force Investigation Team' 'POLPLN Policy Planning' 'Special Events']
officer_sub_division_a:
    dtype: object
    unique: 88
        [nan 'Unknown' '8th District' '7th District' 'Staff'
 'Central Evidence & Property Section ' 'Tactical Section' '6th District'
 'Communications' 'Fleet & Equipment Services Section' 'Crime Lab Section'
 '5th District' 'Narcotics' 'Investigations' '3rd District' 'ISB Staff'
 'OPSE' 'Records & I.D.' 'Homicide Section' 'Traffic Section' 'Admin'
 'Mounted' 'Scientific Criminal Investigations Section ' 'K9 Section'
 'Limited Duty' 'Personnel Division' 'Intelligence Section'
 'Training Section' 'Support Services' 'Recruitment Division'
 '1st Platoon' 'Crime Prevention/Quality of Life' 'C Platoon'
 'Extended Sick' 'Night Watch' 'Administration' 'Day Watch'
 'Quality of Life' 'Grants Administration Section' 'Workmans Compensation'
 'Public Affairs' 'Bourbon Promenade' 'French Market Patrol'
 'Lakeview Crime Prevention' 'Fiscal / Criminal Justice'
 'Juvenile Section' 'Homeland Security' 'Special Victims  Section'
 'Court Liaison' '3rd Platoon' 'A Platoon' '2nd Platoon' 'Evening Watch'
 'Special Investigation Section' 'Professional Standards Section'
 'B Platoon' 'D.I.U.' 'I.O.D.' 'Temporary' 'Staff Programs Unit' 'LWOP'
 'Mayors Security' 'Day Beats' 'Mid-City' 'Narcotics Section' 'CID Staff'
 'Task Force' 'Crime Prevention Section'
 'Administrative Investigation Section' 'Criminal Investigation Section'
 'Compliance Section' 'School Resource Officers' 'Street Gang Unit'
 'Force Investigation Team' 'Detailed/Other' 'Building Security'
 'Property Crimes Section' 'Multi-Agency Gang Unit' 'Task Force A'
 'District Attorney Section' 'Victim/Witness Assistance Unit'
 'Crime Analysis' 'Lost Property' 'Homeless Assistance' 'Military Leave'
 'Magazine St. Patrol' 'Neighborhood Policing' 'Training Platoon']
officer_sub_division_b:
    dtype: object
    unique: 66
        [nan 'Not - NOPD Officer' 'Unknown Assignment' 'Patrol' 'Platoon A'
 '1st Platoon' 'Unknown' 'Hit and Run Unit' 'Crime Lab Drugs'
 'Special Officers Section' 'School Crossing Guards' 'Admin Unit' 'Staff'
 'Risk Management Section' 'Public Records' 'Coroners Office'
 'Crime Lab Forensic' 'Child Abuse Platoon 1' '3rd Platoon'
 'Crime Lab Firearms' 'Sex Crimes Staff' 'V.O.W.S. Unit'
 'Electronic Monitoring Unit' 'Sex Crimes Platoon 3' 'NCIC Platoon B'
 'Property' 'Platoon C' 'Squad 1' 'Armory Unit' 'Crime Lab Platoon B'
 'Persons' 'Motorcycle 2nd Platoon' 'Range Staff' 'Sex Crimes Platoon 1'
 'B' 'DWI Unit' 'Sex Crimes Case' 'Squad 2' 'Crime Lab Admin'
 'NCIC Platoon A' 'Marine and Bomb Unit' 'Motorcycle 1st Platoon'
 '2nd Platoon' 'Crime Lab Platoon A' 'Squad A' 'Criminal Records'
 'Squad 3' 'Cold Case' 'Domestic Violence Unit' 'A' 'Squad E'
 'Crime Lab Platoon C' 'Fatality Unit' 'District' 'Platoon B'
 '4rd Platoon' 'Sex Offender Registration' 'Squad B' 'Electronics Section'
 'Squad C' 'Detailed Officers' 'Child Abuse Platoon 2' 'NCIC Platoon C'
 'Sex Crimes Platoon 2' 'Narcotics' 'Squad D']
assigned_to_unit_on:
    dtype: object
    unique: 1100
first_name:
    dtype: object
    unique: 2002
middle_name:
    dtype: object
    unique: 93
        [nan 'P' 'H' 'J.' 'M' 'A' 'D' 'L' 'R' 'J' 'C' 'S' 'T' 'G' 'E' 'W' 'F' 'B'
 'O' 'I' 'V' 'N' 'K' ' ' 'D.' 'Y' 'U' 'X' 'S.' 'Q' 'Darrell' 'Anthony'
 'L.' 'B.' 'Victoria' 'Marie' 'Michelle' 'Lynell' 'Patrick' 'Warfield'
 'Nathan' 'Dominic' 'Tufail' 'Jovan' 'Bernita' 'Raymond' 'Kallia' 'James'
 'Brian' 'Monique' 'Tobias' 'Anne' 'Renee' 'Rena' 'Tanika' 'Briana'
 'Ebony Ann' 'Chablis' 'Lynn' 'Norbert' 'Francisca' 'Yvonne' 'Breshon'
 'Rosita' 'Veronica' 'Nahdege' 'Bryson' 'Samuel' 'Taylor' 'Roland'
 'Nathanael' 'Anisa' 'Dawne' 'Eugene' 'Irael' 'Cherelle' 'Shanice' 'M.'
 'Woodrow' 'V.' 'A.' 'P.' 'C.' 'R.' 'W.' 'O.' 'K.' 'F.' 'T.' 'E.' 'N.'
 'H.' 'Z']
last_name:
    dtype: object
    unique: 3045
current_supervisor:
    dtype: float64
    unique: 366

In [7]:
df.current_supervisor.unique()

array([  nan,  648., 3324.,  731., 2011.,  990., 3731., 2899., 3431.,
       2850., 3358., 3364., 3530., 3347.,  356.,  330., 3568., 6257.,
        746., 4776., 3494., 3574., 3481.,  739.,   96.,  348., 6072.,
        309., 2892., 1985., 3390., 3733., 3435.,  743.,  340., 2122.,
       2680., 2201., 3398.,  663., 3344., 3477., 3802.,  301.,   30.,
        323.,  654., 5899.,  766.,  738.,  351., 6203.,   27., 3531.,
       2615., 3501.,  315.,  665.,  674.,  719.,  325., 3552.,  650.,
       3399.,  701., 3480., 3323.,  681.,   35., 3546.,  770., 3569.,
       3370., 3505., 1522.,  694.,  706.,  689.,  316.,  692., 3350.,
       3555., 3453.,  358., 3371., 3622., 3522., 3410.,   48., 3554.,
        661., 1430., 3355., 3599., 3595., 3412., 3517., 5780., 1873.,
        190., 3677., 3394.,  647., 3372.,  742., 2709., 1909., 3668.,
       3722., 3628., 3680., 3623., 3485., 3635., 2172., 3611., 3529.,
       1971., 3542., 5337., 2561.,  759., 3524., 2929., 2220., 2686.,
       3545., 3368., 1422., 5901., 3456., 3367.,  338., 3332., 3538.,
        209., 3341., 3537.,  687., 1978., 3732., 2732., 2248., 3389.,
       3627., 3443., 1730., 3659., 3513., 3395., 3711., 3339., 2366.,
       2568., 2419., 3462.,  649., 3425., 3713., 3707.,  656., 2098.,
       5777.,  300., 3671., 2591., 2550., 3445., 3467., 3566., 3642.,
       3429., 2488.,  660., 2829., 3403., 1125.,  334., 3640., 3471.,
       2583., 3705.,  673., 3626.,  821., 3464., 3669., 3322., 3385.,
       3540.,  774., 5547., 3575., 3681., 1685., 3655., 3340., 3486.,
       3672., 3596., 3619., 3536., 3369.,  916.,  750., 1233., 1050.,
        655., 3393., 2673., 3336., 2063., 3570., 2089., 3430., 2683.,
       2817., 6373.,  986., 1966., 3585., 3704., 3527., 3329., 3665.,
       2463., 2806., 2752., 3694.,   10., 2202., 2485., 3657., 2594.,
       2764., 2537.,  709.,  104.,  723., 3352., 3490., 3351.,  783.,
        734., 1467., 2100., 3666., 3348., 3377., 2570., 2497.,  720.,
       3360., 2674., 2326., 6430., 5551., 3689., 4766., 3423., 3558.,
       1862., 2013.,  787., 2212., 2917., 2898., 3618., 3327., 3737.,
       2377., 1823., 3631., 3333., 3667., 1935.,  684., 3607., 2672.,
       3391., 3461., 1670., 3645., 3357., 1350., 1279.,  987., 1946.,
       1808., 2759.,  189., 2371., 5331., 2163., 2092., 2901., 1011.,
       2503., 3682.,  981., 3684., 1766., 3475., 2301., 3588., 1342.,
       1575., 5395., 1133., 1479.,   38., 3426., 3571., 2069., 1466.,
       2032., 3458., 3441., 1663., 3514.,   97., 3639., 1217., 3478.,
        735.,  897., 2432., 2628., 3727., 1965., 2609., 3488., 2349.,
       2265., 3719., 3706.,   37., 4749., 2636., 6102., 2440., 2274.,
       5340., 1880., 2634., 1582., 2743., 2697., 3793., 1906., 3525.,
       3507., 1357.,  317., 3402., 2579., 1554., 5338., 5785., 6003.,
       5884., 2050., 2923., 5698., 3346., 6269.])