In [1]:
import sys; sys.path.append("../")
import pandas as pd

from clean.ipm_new_orleans_iapro_pprr import clean, clean_pprr
from fuse.new_orleans_pd import fuse_events
from lib.columns import clean_column_names
from lib.explore import show_unique
from lib.uid import gen_uid
from lib import events

In [2]:
df = clean()
df

../clean/ipm_new_orleans_iapro_pprr.py:14: FutureWarning: The default value of regex will change from True to False in a future version.
  df.loc[:, 'badge_no'] = df.badge_no.str.replace(r'^0+', '')
../clean/ipm_new_orleans_iapro_pprr.py:27: FutureWarning: The default value of regex will change from True to False in a future version.
  dates = df[col].fillna('').str.replace(r' \d{2}:\d{2}:\d{2}$', '')\
../clean/ipm_new_orleans_iapro_pprr.py:59: FutureWarning: The default value of regex will change from True to False in a future version.
  df.loc[:, 'last_name'] = df.last_name.str.replace(r'^unknown.*', '')\

,employee_id,badge_no,rank_desc,employee_type,employment_status,officer_inactive,years_employed,birth_year,sex,race,...,hire_year,hire_month,hire_day,left_year,left_month,left_day,dept_year,dept_month,dept_day,middle_initial
0,6301,NaN,,NaN,,no,,,female,black / african american,...,,,,,,,,,,
1,6313,NaN,,non-commissioned,,no,,,male,black / african american,...,,,,,,,,,,
2,6435,NaN,,NaN,,no,,,unknown,unknown,...,,,,,,,,,,
3,6461,30061,police recruit academy,NaN,terminated,yes,,1992,male,black / african american,...,,,,,,,,,,p
4,6468,NaN,,NaN,,no,,,unknown,unknown,...,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5665,6523,NaN,laborer,non-commissioned,active,no,3,1995,male,black / african american,...,2018,04,15,,,,2018,04,25,a
5666,6524,NaN,police aide,non-commissioned,terminated,yes,3,1998,male,black / african american,...,2018,04,29,,,,2018,04,29,n
5667,6525,NaN,police aide,non-commissioned,active,no,3,1991,male,black / african american,...,2018,04,29,,,,2018,04,29,d
5668,6526,NaN,police aide,non-commissioned,active,no,3,1989,female,black / african american,...,2018,05,13,,,,2018,05,13,n
5669,6527,NaN,police aide,non-commissioned,active,no,3,1983,male,white,...,2018,05,13,,,,2018,05,13,l

In [6]:
df[df.sex == 'unknown']

,employee_id,badge_no,rank_desc,employee_type,employment_status,officer_inactive,years_employed,birth_year,sex,race,...,hire_year,hire_month,hire_day,left_year,left_month,left_day,dept_year,dept_month,dept_day,middle_initial
2,6435,NaN,,NaN,,no,,,unknown,unknown,...,,,,,,,,,,
4,6468,NaN,,NaN,,no,,,unknown,unknown,...,,,,,,,,,,
5,6478,NaN,,NaN,,no,,,unknown,unknown,...,,,,,,,,,,
6,6490,NaN,,NaN,,no,,,unknown,unknown,...,,,,,,,,,,
8,5602,NaN,,NaN,,no,,,unknown,unknown,...,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5061,5128,10045,reserve officers,commissioned,active,no,7,1911,unknown,unknown,...,2014,04,30,,,,2014,04,30,
5062,5139,10070,reserve officers,commissioned,active,no,7,1911,unknown,unknown,...,2014,04,30,,,,2014,04,30,
5063,5006,10190,reserve officers,commissioned,active,no,7,1911,unknown,unknown,...,2014,04,30,,,,2014,04,30,
5064,5009,10097,reserve officers,commissioned,active,no,7,1911,unknown,unknown,...,2014,04,30,,,,2014,04,30,j
5065,6008,10186,reserve officers,commissioned,active,no,7,1958,unknown,unknown,...,2014,04,30,,,,2015,11,11,