In [1]:
import sys; sys.path.append("../")
import pandas as pd

from clean.ipm_new_orleans_iapro_pprr import clean, clean_pprr
from lib.columns import clean_column_names
from lib.explore import show_unique

In [2]:
df = clean()
df

../clean/ipm_new_orleans_iapro_pprr.py:14: FutureWarning: The default value of regex will change from True to False in a future version.
  df.loc[:, 'badge_no'] = df.badge_no.str.replace(r'^0+', '')
../lib/clean.py:134: FutureWarning: The default value of regex will change from True to False in a future version.
  df.loc[:, col] = df[col].str.strip().str.lower()\
../clean/ipm_new_orleans_iapro_pprr.py:27: FutureWarning: The default value of regex will change from True to False in a future version.
  dates = df[col].fillna('').str.replace(r' \d{2}:\d{2}:\d{2}$', '')\
../lib/clean.py:166: FutureWarning: The default value of regex will change from True to False in a future version.
  return series.str.strip().str.replace(r"[^\w-]+", " ").str.replace(r"\s+", " ")\
../clean/ipm_new_orleans_iapro_pprr.py:59: FutureWarning: The default value of regex will change from True to False in a future version.
  df.loc[:, 'last_name'] = df.last_name.str.replace(r'^unknown.+', '')\

,employee_id,badge_no,rank_desc,employee_type,employment_status,officer_inactive,years_employed,birth_year,sex,race,...,term_year,term_month,term_day,appoint_year,appoint_month,appoint_day,middle_initial,data_production_year,agency,uid
0,6299,NaN,,NaN,,no,,,unknown,unknown,...,,,,,,,,2018,New Orleans PD,c06acabfbc622fcc7616babe6a561250
1,6301,NaN,,NaN,,no,,,female,black / african american,...,,,,,,,,2018,New Orleans PD,7680252ff5a56d0b74dc27a037eb9bb5
2,6302,NaN,,NaN,,,,,unknown,unknown,...,,,,,,,,2018,New Orleans PD,4de492facd9d9466d3876454fcdd0f2e
3,6313,NaN,,non-commissioned,,no,,,male,black / african american,...,,,,,,,,2018,New Orleans PD,376fe3e37058d4e73ea4b08e5cbe0baa
4,6308,NaN,,NaN,,no,,,unknown,unknown,...,,,,,,,,2018,New Orleans PD,5853790ceadcfaeedc4be77e92391d2a
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5876,6523,NaN,laborer,non-commissioned,active,no,3,1995,male,black / african american,...,,,,2018,04,25,a,2018,New Orleans PD,1ac7cb3c3225d1c2a690d7e4e25cb458
5877,6524,NaN,police aide,non-commissioned,terminated,yes,3,1998,male,black / african american,...,,,,2018,04,29,n,2018,New Orleans PD,b231c2f0100f14dd544d6abcd71bee4e
5878,6525,NaN,police aide,non-commissioned,active,no,3,1991,male,black / african american,...,,,,2018,04,29,d,2018,New Orleans PD,81ca694d7177c0a2108d272283d54370
5879,6526,NaN,police aide,non-commissioned,active,no,3,1989,female,black / african american,...,,,,2018,05,13,n,2018,New Orleans PD,1934e9d8ce6faddc3ce4116e43609ad3
5880,6527,NaN,police aide,non-commissioned,active,no,3,1983,male,white,...,,,,2018,05,13,l,2018,New Orleans PD,35a24d612491a6a13dd4c0f24cc26192

In [5]:
df.loc[(df.last_name == '') & (df.first_name != ''), ['last_name', 'first_name']]

Empty DataFrame
Columns: [last_name, first_name]
Index: []