In [1]:
import re
from os import listdir
import sys; sys.path.append("../")

import pandas as pd

from lib.columns import rearrange_personel_columns

In [2]:
prefix = "../data/Jean Lafitte Civil Service Department/Administrative Data/"
excel_files = [name for name in listdir(prefix) if name.endswith(".xlsx")]
input_dfs = {name: pd.read_excel(prefix+name) for name in excel_files}

In [3]:
for df in input_dfs.values():
    print(df)

                NAME BADGE NUMBER        RANK DATE OF HIRE    SALARY
0     Darren Dufrene          JL2     Captain   2014-09-23  14935.48
1      Dennis Gordon          JL5     Captain   2016-07-14   8125.96
2        Frank Rawle          JL3    Sergeant   2011-12-19  19090.68
3  Marcell Rodriguez          JL1       Chief   2011-07-01  60265.00
4      Raymond Funck          JL2  Lieutenant   2010-04-15   2178.84
                NAME BADGE NUMBER        RANK DATE OF HIRE    SALARY
0     Darren Dufrene          JL2     Captain   2014-09-23  14935.48
1      Dennis Gordon          JL5     Captain   2016-07-14   8125.96
2        Frank Rawle          JL3    Sergeant   2011-12-19  19090.68
3  Marcell Rodriguez          JL1       Chief   2011-07-01  60265.00
4      Raymond Funck          JL2  Lieutenant   2010-04-15   2178.84
                NAME BADGE NUMBER        RANK DATE OF HIRE    SALARY
0     Darren Dufrene          JL2     Captain   2014-09-23  14935.48
1      Dennis Gordon          JL5     Captain   2016-07-14   8125.96
2        Frank Rawle          JL3    Sergeant   2011-12-19  19090.68
3  Marcell Rodriguez          JL1       Chief   2011-07-01  60265.00
4      Raymond Funck          JL2  Lieutenant   2010-04-15   2178.84
                NAME BADGE NUMBER        RANK DATE OF HIRE    SALARY
0     Darren Dufrene          JL2     Captain   2014-09-23   2764.74
1        Frank Rawle          JL3    Sergeant   2011-12-19  26999.96
2  Marcell Rodriguez          JL1       Chief   2011-07-01  46999.94
3      Raymond Funck          JL2  Lieutenant   2010-04-15  27499.94
                NAME BADGE NUMBER        RANK DATE OF HIRE    SALARY
0     Darren Dufrene          JL2     Captain   2014-09-23  14935.48
1      Dennis Gordon          JL5     Captain   2016-07-14   8125.96
2        Frank Rawle          JL3    Sergeant   2011-12-19  19090.68
3  Marcell Rodriguez          JL1       Chief   2011-07-01  60265.00
4      Raymond Funck          JL2  Lieutenant   2010-04-15   2178.84
                NAME BADGE NUMBER        RANK DATE OF HIRE    SALARY
0     Darren Dufrene          JL2     Captain   2014-09-23  14935.48
1      Dennis Gordon          JL5     Captain   2016-07-14   8125.96
2        Frank Rawle          JL3    Sergeant   2011-12-19  19090.68
3  Marcell Rodriguez          JL1       Chief   2011-07-01  60265.00
4      Raymond Funck          JL2  Lieutenant   2010-04-15   2178.84
                NAME BADGE NUMBER        RANK DATE OF HIRE    SALARY
0     Darren Dufrene          JL2     Captain   2014-09-23  15470.13
1        Frank Rawle          JL3    Sergeant   2011-12-19  16353.17
2  Marcell Rodriguez          JL1       Chief   2011-07-01  48384.00
3      Raymond Funck          JL2  Lieutenant   2010-04-15  27880.70

In [4]:
output_dfs = dict()

for filename, df in input_dfs.items():
    name = filename.split(".")[0]
    df2 = df[["BADGE NUMBER", "RANK", "DATE OF HIRE", "SALARY"]]
    df2 = pd.concat([df2, df["NAME"].str.split(" ", expand=True)], axis=1)
    df2.columns = pd.Index(["Badge #", "Rank", "Hire Date", "Annual Salary", "First Name", "Last Name"])
    output_dfs[name] = rearrange_personel_columns(df2)

output_dfs["Jean Lafitte_CSD_PPRR_2016"]

   Last Name First Name Badge #        Rank  Hire Date  Annual Salary
0    Dufrene     Darren     JL2     Captain 2014-09-23       14935.48
1     Gordon     Dennis     JL5     Captain 2016-07-14        8125.96
2      Rawle      Frank     JL3    Sergeant 2011-12-19       19090.68
3  Rodriguez    Marcell     JL1       Chief 2011-07-01       60265.00
4      Funck    Raymond     JL2  Lieutenant 2010-04-15        2178.84

In [5]:
for name, df in output_dfs.items():
    df.to_csv("../output/%s.csv" % name, index=False)