In [1]:
import sys; sys.path.append('../')
import pandas as pd

from clean.kenner_pd import clean, clean_former_long, clean_former_short, combine_pprrs

In [2]:
df = clean()
df

../clean/kenner_pd.py:17: FutureWarning: The default value of regex will change from True to False in a future version.
  names = df.name.str.replace(r', ?(Jr\.|III),?', r' \1,', regex=True)\

,employee_id,gender,department_desc,rank_desc,employment_status,sworn,officer_inactive,data_production_year,agency,last_name,first_name,middle_name,middle_initial,hire_year,hire_month,hire_day
0,4674,female,crime scene,crime scene tech,full-time,non-sworn,active,2020,Kenner PD,mai,nhung,t,t,2010,11,30
1,4028,male,reserves,reserve officer,full-time,temporary,former,2020,Kenner PD,mangano iii,salvador,a,a,2017,7,1
2,M8311,male,not stated,chaplain,volunteer,non-sworn,active,2020,Kenner PD,maniglia,carlo,,,2018,10,10
3,4943,female,crime scene,crime scene tech,full-time,non-sworn,former,2020,Kenner PD,marocco,candice,m,m,2014,11,24
4,4983,male,patrol,officer,full-time,sworn,active,2020,Kenner PD,marquez-castro,gabriel,e,e,2015,7,31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,3752,male,cid,sergeant,full-time,sworn,active,2020,Kenner PD,herrmann,donald,l,l,2001,12,10
296,4862,male,communications,communications off,full-time,non-sworn,active,2020,Kenner PD,hesse,corbyn,j,j,2013,8,12
297,3942,female,traffic,assistant ii,full-time,non-sworn,active,2020,Kenner PD,heyl,charlene,a,a,2003,5,5
298,4979,male,patrol,officer,full-time,sworn,active,2020,Kenner PD,hill,eric,j,j,2015,6,22
299,3573,male,patrol,sergeant,full-time,sworn,active,2020,Kenner PD,hille,herbert,f,f,2000,8,1

In [3]:
fl = clean_former_long()
fl

,last_name,first_name,employee_class,rank_desc,employee_id,hire_year,hire_month,hire_day
0,marino,joseph,reserve,reserve officer,M8726,2010,8,20
1,marks,keith,explorer,explorer,MM001,,,
2,marroccoli,joseph,police,reserve officer,M8294,1980,8,14
3,marroccoli,kenneth,reserve,reserve officer,M8350,1998,5,21
4,martin,patrick,explorer,explorer,M2207,,,
...,...,...,...,...,...,...,...,...
686,zemek,lou,explorer,explorer,Z5252,,,
687,zeno,paul,jailer,correctional peace officer,Z7578,1997,2,24
688,zeringue,rose,civilian,,Z1402,1988,7,18
689,zimmerman,wayne,reserve,officer,Z4587,1987,8,13
690,zuppardo,jessica,reserve,reserve officer,Z4941,2008,4,21

In [4]:
fs = clean_former_short()
fs

../clean/kenner_pd.py:17: FutureWarning: The default value of regex will change from True to False in a future version.
  names = df.name.str.replace(r', ?(Jr\.|III),?', r' \1,', regex=True)\

,gender,employee_id,department_desc,rank_desc,data_production_year,agency,last_name,first_name,middle_name,middle_initial,hire_year,hire_month,hire_day,left_year,left_month,left_day
0,male,17216,jail,drug screen coll.,2020,Kenner PD,abadie,alan,g,g,1986,10,2,2020,9,29
1,female,4867,custodian,custodian,2020,Kenner PD,acuna,lourdes,g,g,2013,9,21,2020,1,17
2,female,A2135,custodian,custodian,2020,Kenner PD,alvarado,josefina,a,a,2011,9,26,2019,5,13
3,male,A6770,patrol,officer,2020,Kenner PD,anderson,ryan,,,2013,4,8,2017,8,17
4,female,5091,jail,correctional offer,2020,Kenner PD,antoine,brionna,c,c,2016,9,26,2020,5,29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80,male,W5875,not stated,officer,2020,Kenner PD,wilkerson,joshua,s,s,2003,5,1,2017,2,8
81,female,6012,cid,transcriptionist,2020,Kenner PD,wong,jessica,k,k,2016,12,5,2020,9,11
82,male,Z3802,reserves,reserve officer,2020,Kenner PD,zapata,jeffrey,l,l,2006,7,5,2017,4,27
83,male,5039,command staff,captain,2020,Kenner PD,zimmerman,fred,,,1977,10,27,2019,10,31
84,female,Z4941,reserves,reserve officer,2020,Kenner PD,zuppardo,jessica,c,c,2015,12,17,2019,4,1

In [6]:
combine_pprrs(df[df.employee_id.notna()], fl, fs[fs.employee_id.notna()])

,employee_id,gender,department_desc,rank_desc,employment_status,sworn,officer_inactive,data_production_year,agency,last_name,first_name,middle_name,middle_initial,hire_year,hire_month,hire_day,left_year,left_month,left_day,employee_class
0,4674,female,crime scene,crime scene tech,full-time,non-sworn,active,2020.0,Kenner PD,mai,nhung,t,t,2010,11,30,NaN,NaN,NaN,NaN
1,4028,male,reserves,reserve officer,full-time,temporary,former,2020.0,Kenner PD,mangano iii,salvador,a,a,2017,7,1,2020,3,9,NaN
2,M8311,male,not stated,chaplain,volunteer,non-sworn,active,2020.0,Kenner PD,maniglia,carlo,,,2018,10,10,NaN,NaN,NaN,NaN
3,4943,female,crime scene,crime scene tech,full-time,non-sworn,former,2020.0,Kenner PD,marocco,candice,m,m,2014,11,24,2019,10,20,NaN
4,4983,male,patrol,officer,full-time,sworn,active,2020.0,Kenner PD,marquez-castro,gabriel,e,e,2015,7,31,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
962,Z4194,NaN,NaN,officer,NaN,NaN,NaN,NaN,NaN,zavala,nelson,NaN,NaN,2006,11,10,NaN,NaN,NaN,police
963,Z5252,NaN,NaN,explorer,NaN,NaN,NaN,NaN,NaN,zemek,lou,NaN,NaN,,,,NaN,NaN,NaN,explorer
964,Z7578,NaN,NaN,correctional peace officer,NaN,NaN,NaN,NaN,NaN,zeno,paul,NaN,NaN,1997,2,24,NaN,NaN,NaN,jailer
965,Z1402,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,zeringue,rose,NaN,NaN,1988,7,18,NaN,NaN,NaN,civilian
966,Z4587,NaN,NaN,officer,NaN,NaN,NaN,NaN,NaN,zimmerman,wayne,NaN,NaN,1987,8,13,NaN,NaN,NaN,reserve