In [1]:
import sys; sys.path.append('../')
import pandas as pd

from clean.kenner_pd import clean, clean_former_long, clean_former_short, combine_pprrs

In [2]:
df = clean()
df

../clean/kenner_pd.py:18: FutureWarning: The default value of regex will change from True to False in a future version.
  names = df.name.str.replace(r', ?(Jr\.|III),?', r' \1,', regex=True)\

,employee_id,gender,department_desc,rank_desc,employment_status,sworn,officer_inactive,last_name,first_name,middle_name,middle_initial,hire_year,hire_month,hire_day
0,4674,female,crime scene,crime scene tech,full-time,non-sworn,active,mai,nhung,t,t,2010,11,30
1,4028,male,reserves,reserve officer,full-time,temporary,former,mangano iii,salvador,a,a,2017,7,1
2,4943,female,crime scene,crime scene tech,full-time,non-sworn,former,marocco,candice,m,m,2014,11,24
3,4983,male,patrol,officer,full-time,sworn,active,marquez-castro,gabriel,e,e,2015,7,31
4,4407,female,communications,communications off,full-time,non-sworn,active,martin,bianca,d,d,2008,5,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279,3752,male,cid,sergeant,full-time,sworn,active,herrmann,donald,l,l,2001,12,10
280,4862,male,communications,communications off,full-time,non-sworn,active,hesse,corbyn,j,j,2013,8,12
281,3942,female,traffic,assistant ii,full-time,non-sworn,active,heyl,charlene,a,a,2003,5,5
282,4979,male,patrol,officer,full-time,sworn,active,hill,eric,j,j,2015,6,22
283,3573,male,patrol,sergeant,full-time,sworn,active,hille,herbert,f,f,2000,8,1

In [3]:
df.rank_desc.unique()

array(['crime scene tech', 'reserve officer', 'officer',
       'communications off', 'admin. assistant i', 'sergeant',
       'lieutenant', 'deputy chief', 'director', 'correctional offer',
       'process server', 'detective nis', 'detective cid',
       'detective - cid', 'grant coordinator', 'assistant ii',
       'applicant invest.', 'court liasion offc', 'assistant il',
       'reserve sergeant', 'captain', 'vehicle maint',
       "chief's secretary", 'detective iad', 'transcriptionist',
       'drug screen coll.', 'headquarter super', 'crime analyst',
       'jail supervisor', 'emerg mgm speci', 'community care co',
       'booking officer', 'evidence custodian', 'reserve captain',
       'chief', 'recruit'], dtype=object)

In [4]:
fl = clean_former_long()
fl

,last_name,first_name,employee_class,rank_desc,employee_id,hire_year,hire_month,hire_day
0,marino,joseph,reserve,reserve officer,M8726,2010,8,20
1,marroccoli,joseph,police,reserve officer,M8294,1980,8,14
2,marroccoli,kenneth,reserve,reserve officer,M8350,1998,5,21
3,martin,paul,police,officer,M6757,1980,8,23
4,martin,melissa,jailer,correctional peace officer,M0257,2002,2,1
...,...,...,...,...,...,...,...,...
484,zapata,jeffrey,reserve,reserve officer,Z3802,2006,7,5
485,zavala,nelson,police,officer,Z4194,2006,11,10
486,zeno,paul,jailer,correctional peace officer,Z7578,1997,2,24
487,zimmerman,wayne,reserve,officer,Z4587,1987,8,13
488,zuppardo,jessica,reserve,reserve officer,Z4941,2008,4,21

In [5]:
fl.rank_desc.unique()

array(['reserve officer', 'officer', 'correctional peace officer',
       'communications officer', 'communicaitons officer',
       'crime scene technician', 'lieutenant', 'detective',
       'administrative assistant ii', 'jailer/correctional peace officer',
       'sergeant', 'reserve lieutenant', 'police records clerk',
       'police officer', 'communication officer',
       'jailer/correctional officer', 'chief', 'correction peace officer',
       'captain', 'booking officer', 'administrative assistant i',
       'supervisor', 'payroll processor', 'administrative assistant iii',
       'jailer', 'communciations officer', 'reserve sergeant',
       'public relations specialist', 'crime analysis specialist',
       'property management supervisor', 'adminisrative assistant ii',
       'director of fiscal affairs and budget services',
       'director of human resources',
       'dir. of inventory and prop. management', 'reserve captain',
       'crime scene tech'], dtype=object)

In [6]:
fs = clean_former_short()
fs

../clean/kenner_pd.py:18: FutureWarning: The default value of regex will change from True to False in a future version.
  names = df.name.str.replace(r', ?(Jr\.|III),?', r' \1,', regex=True)\

,gender,employee_id,department_desc,rank_desc,data_production_year,agency,last_name,first_name,middle_name,middle_initial,hire_year,hire_month,hire_day,left_year,left_month,left_day
0,male,17216,jail,drug screen coll.,2020,Kenner PD,abadie,alan,g,g,1986,10,2,2020,9,29
1,male,A6770,patrol,officer,2020,Kenner PD,anderson,ryan,,,2013,4,8,2017,8,17
2,female,5091,jail,correctional offer,2020,Kenner PD,antoine,brionna,c,c,2016,9,26,2020,5,29
3,male,13725,vehicle maint,headquarter super,2020,Kenner PD,arnold jr,richard,a,a,1991,2,18,2020,8,28
4,male,6002,patrol,officer,2020,Kenner PD,arrington,taylor,b,b,2016,11,4,2020,6,28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,male,W5875,not stated,officer,2020,Kenner PD,wilkerson,joshua,s,s,2003,5,1,2017,2,8
72,female,6012,cid,transcriptionist,2020,Kenner PD,wong,jessica,k,k,2016,12,5,2020,9,11
73,male,Z3802,reserves,reserve officer,2020,Kenner PD,zapata,jeffrey,l,l,2006,7,5,2017,4,27
74,male,5039,command staff,captain,2020,Kenner PD,zimmerman,fred,,,1977,10,27,2019,10,31
75,female,Z4941,reserves,reserve officer,2020,Kenner PD,zuppardo,jessica,c,c,2015,12,17,2019,4,1

In [7]:
fs.rank_desc.unique()

array(['drug screen coll.', 'officer', 'correctional offer',
       'headquarter super', 'process server', 'community care co',
       'crime scene tech', 'admin. assistant i', 'sergeant',
       'communications off', 'booking officer', 'transcriptionist',
       'recruit', 'detective cid', 'reserve officer', 'lieutenant',
       'assistant ii', 'captain'], dtype=object)

In [8]:
combined = combine_pprrs(df[df.employee_id.notna()], fl, fs[fs.employee_id.notna()])
combined

,employee_id,gender,department_desc,rank_desc,employment_status,sworn,officer_inactive,last_name,first_name,middle_name,...,hire_year,hire_month,hire_day,data_production_year,agency,left_year,left_month,left_day,employee_class,uid
0,4674,female,crime scene,crime scene technician,full-time,non-sworn,active,mai,nhung,t,...,2010,11,30,2020,Kenner PD,NaN,NaN,NaN,NaN,3c4b393f8d4fae517bab05e1e271fcdc
1,4028,male,reserves,reserve officer,full-time,temporary,former,mangano iii,salvador,a,...,2017,7,1,2020,Kenner PD,2020,3,9,NaN,6bc8f2caec6ac7f963522c7152c9c0d0
2,4943,female,crime scene,crime scene technician,full-time,non-sworn,former,marocco,candice,m,...,2014,11,24,2020,Kenner PD,2019,10,20,NaN,bb490846b2f58fc11d9f84a4c0283508
3,4983,male,patrol,officer,full-time,sworn,active,marquez-castro,gabriel,e,...,2015,7,31,2020,Kenner PD,NaN,NaN,NaN,NaN,18ee84c92c1cdc073b686d404ae917f3
4,4407,female,communications,communications officer,full-time,non-sworn,active,martin,bianca,d,...,2008,5,19,2020,Kenner PD,NaN,NaN,NaN,NaN,ca79cebf28f22fd17e54cd67ffa229f2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
748,Y2767,NaN,NaN,officer,NaN,NaN,NaN,young,ray,NaN,...,1994,8,5,2020,Kenner PD,NaN,NaN,NaN,police,604fafeb28083d76fe8a4fe45d289556
749,Y4773,NaN,NaN,police officer,NaN,NaN,NaN,young,terence,NaN,...,2013,4,22,2020,Kenner PD,NaN,NaN,NaN,officer,0c0e645c921d759bb5e07b90851b2754
750,Z4194,NaN,NaN,officer,NaN,NaN,NaN,zavala,nelson,NaN,...,2006,11,10,2020,Kenner PD,NaN,NaN,NaN,police,bffbc5b4390ee58b1997668592d01624
751,Z7578,NaN,NaN,correctional peace officer,NaN,NaN,NaN,zeno,paul,NaN,...,1997,2,24,2020,Kenner PD,NaN,NaN,NaN,jailer,28e97ceffb637bac19e4ce6195908b1c
752,Z4587,NaN,NaN,officer,NaN,NaN,NaN,zimmerman,wayne,NaN,...,1987,8,13,2020,Kenner PD,NaN,NaN,NaN,reserve,5a139f9cdff3a23a11640a8b9db327e4

In [12]:
combined.columns

Index(['employee_id', 'gender', 'department_desc', 'rank_desc',
       'employment_status', 'sworn', 'officer_inactive', 'last_name',
       'first_name', 'middle_name', 'middle_initial', 'hire_year',
       'hire_month', 'hire_day', 'data_production_year', 'agency', 'left_year',
       'left_month', 'left_day', 'employee_class', 'uid'],
      dtype='object')

In [17]:
combined.employee_class.unique()

array([nan, 'police', 'civilian', 'reserve', 'dispatcher', 'jailer',
       'jail', 'booking officer', '', 'communications officer', 'officer'],
      dtype=object)