In [1]:
import sys; sys.path.append('../')

import pandas as pd

from clean.lafayette_pd import clean_pprr, clean_cprr

In [2]:
cprr = clean_cprr()
cprr

standardize_from_lookup_table: unmatched sequences:
  {'-', '/', ' ', '/ '}
standardize_from_lookup_table: unmatched sequences:
  {'', '-', ' - ', '- bajat- ', '- ', ') kyle ', '; allred- ', '/', './', ' /', ' - trent (overturned - ', ' -', '; ', ':', '/ ', ' - -', ': ', '.', ' '}

,tracking_number,allegation,receive_date,complete_date,investigator,disposition,rank_desc,first_name,last_name,investigator_rank,investigator_first_name,investigator_last_name
0,AD2015-001,cubo,2/12/2015,3/31/2015,detective ronald clark,sustained; letter of reprimand,NaN,NaN,cormier,detective,ronald,clark
1,AD2015-001,cubo,2/12/2015,3/31/2015,detective ronald clark,sustained; letter of reprimand,corporal,NaN,chris,detective,ronald,clark
2,AD2015-002,falsifying records,3/24/2015,5/28/2015,detective patrick pattum,sustained; termination,officer,galen,conrad,detective,patrick,pattum
3,AD2015-003,destruction of evidence; violation of informan...,5/22/2015,7/20/2015,detective jonathan sanchez,letter of caution; training issue,officer,kenderis,handy,detective,jonathan,sanchez
4,AD2015-004,cubo,5/22/2015,7/16/2015,detective patrick pattum,unfounded,officer,dustin,lavergne,detective,patrick,pattum
...,...,...,...,...,...,...,...,...,...,...,...,...
220,SL2020-010,violation of pursuit policy; bwc; untruthful,10/29/2020,NaN,lieutenant washington,,NaN,j.,desormeaux,lieutenant,NaN,washington
221,SL2020-011,professional conduct,11/10/2020,NaN,lieutenant washington,,NaN,daryl,boudreaux,lieutenant,NaN,washington
222,SL2020-013,,12/23/2020,NaN,lieutenant brooks reviere,,NaN,thomas,marceaux,lieutenant,brooks,reviere
223,SL2020-013,,12/23/2020,NaN,lieutenant brooks reviere,,NaN,david,mouton,lieutenant,brooks,reviere
224,SL2020-013,professional conduct; failure to supervise,12/23/2020,NaN,lieutenant brooks reviere,,NaN,paul,trouard,lieutenant,brooks,reviere

In [8]:
cprr.disposition.unique()
# cprr[cprr.disposition == 'justified']
# cprr[cprr.tracking_number == 'AD2019-004']

array(['sustained; letter of reprimand', 'sustained; termination',
       'letter of caution; training issue', 'unfounded',
       'sustained; suspension 3 days', 'letter of caution',
       'not sustained', 'justified use of force',
       'sustained; training issue; suspension 90 days',
       'sustained; letter of caution; counseling form',
       'sustained; counseling form', 'letter of reprimand', 'termination',
       'suspension 5 days', 'counseling form', 'suspension 3 days',
       'suspension 2 days', 'sustained; resigned', 'justified',
       'suspension 1 day', 'sustained; suspension 1 day',
       'suspension 45 days', 'termination; resigned',
       'counseling form; suspension', 'retired', 'letter of counseling',
       'sustained; deficiency',
       'termination; suspension 3 days; suspension 10 days',
       'sustained; not sustained; suspension; excessive force; cubo; eap; disobey direct order',
       'sustained; suspension', 'sustained; suspension 2 days',
       'sustained; suspension 5 days',
       'suspension 7 days; 1 year no vehicle; 40 hours driving course',
       'suspension 10 days; 6 months probation; sensitivity training',
       'suspension 1 day; terminated overturned by civil service',
       'demotion',
       'not sustained; performance log; proffessional conduct; evidence',
       'justified shooting', 'suspension 14 days', 'resigned',
       'counseling form for not using necessary force', 'sustained',
       'suspension 60 days', 'sustained; suspension 30 days',
       'exonerated', '', 'complaint withdrawn',
       'suspension 10 days; complaint withdrawn',
       'sustained; performance log',
       'not sustained; counseling form; excessive force; bwc',
       'sustained; suspension 5 days; special evaluation',
       'suspension 10 days', 'performance log'], dtype=object)

In [4]:
pprr = clean_pprr()
pprr

,sex,race,birth_year,salary,hire_date,left_date,rank_desc,salary_freq,data_production_year,agency,last_name,first_name,middle_initial
0,male,white,1988,56726.59,12/1/2015,NaN,police corporal,yearly,2021,Lafayette PD,esterly,mathew,a
1,male,white,1982,70340.19,2/8/2006,NaN,police senior corporal,yearly,2021,Lafayette PD,mcnair,aaron,c
2,male,white,1969,81716.34,9/28/1998,2/2/2021,police sergeant,yearly,2021,Lafayette PD,thibodeaux,aaron,w
3,male,white,1988,49778.77,1/3/2017,NaN,police officer,yearly,2021,Lafayette PD,arnett,adam,g
4,male,white,1984,57706.27,4/27/2015,NaN,police corporal,yearly,2021,Lafayette PD,bradford,adam,f
...,...,...,...,...,...,...,...,...,...,...,...,...,...
638,male,black,1952,20800.00,9/8/2020,NaN,school crossing guard,yearly,2021,Lafayette PD,ventroy,willis,j
639,male,white,1992,47940.05,12/26/2018,NaN,police officer,yearly,2021,Lafayette PD,trahan,zachary,t
640,male,black,1985,42830.53,4/7/2008,7/10/2014,police officer,yearly,2021,Lafayette PD,guillory,zairrick,
641,male,black,1997,48921.39,8/15/2018,NaN,police officer,yearly,2021,Lafayette PD,narcisse,zakarie,t
642,female,white,1995,47940.05,1/27/2019,NaN,police officer,yearly,2021,Lafayette PD,lavergne,zoie,j

In [5]:
pprr[pprr.last_name == 'clark']

,sex,race,birth_year,salary,hire_date,left_date,rank_desc,salary_freq,data_production_year,agency,last_name,first_name,middle_initial
540,male,white,1981,70340.19,3/2/2006,NaN,police senior corporal,yearly,2021,Lafayette PD,clark,ronald,r