In [1]:
import sys; sys.path.append("../")

import pandas as pd

from lib.explore import show_unique
from clean.louisiana_state_csc_lprr import clean
from match.louisiana_state_csc import match_post, prepare_post_data

In [2]:
df = clean()
df

../clean/louisiana_state_csc_lprr.py:30: FutureWarning: The default value of regex will change from True to False in a future version.
  df.loc[:, 'appellant'] = df.appellant.str.replace(r'^Matte$', r'John Matte')\
../clean/louisiana_state_csc_lprr.py:38: FutureWarning: The default value of regex will change from True to False in a future version.
  df.loc[:, 'appellant'] = df.appellant.str.replace(r', ', ' ')\
../lib/clean.py:166: FutureWarning: The default value of regex will change from True to False in a future version.
  return series.str.strip().str.replace(r"[^\w-]+", " ").str.replace(r"\s+", " ")\
../clean/louisiana_state_csc_lprr.py:112: FutureWarning: The default value of regex will change from True to False in a future version.
  df.loc[:, 'resolution'] = df.resolution.str.strip().str.lower()\
../clean/louisiana_state_csc_lprr.py:128: FutureWarning: The default value of regex will change from True to False in a future version.
  docket_year = df.docket_no.str.replace(r'^(\d+)-.+$', r'\1')
../clean/louisiana_state_csc_lprr.py:129: FutureWarning: The default value of regex will change from True to False in a future version.
  df.loc[:, 'charging_supervisor'] = df.charging_supervisor.str.strip()\

,docket_no,appellant,charging_supervisor,resolution,appealed,last_name,first_name,middle_initial,filed_year,filed_month,filed_day,rendered_year,rendered_month,rendered_day,agency,data_production_year,uid
0,91-01-P,Berry,Marlin A. Flores,denied,Yes,berry,,,,,,,,,Louisiana State Police,2020,975c55633484e123aa609b1636149153
1,91-02-O,Hanna,Marlin A. Flores,settled,NaN,hanna,jaime,c,,,,,,,Louisiana State Police,2020,d830bc29808c3848b4fc82b5d5e66fbb
2,91-03-2,Greenwood,Marlin A. Flores,denied,NaN,greenwood,,,,,,,,,Louisiana State Police,2020,aacb329c30d7f8869bf0db008296ef6a
3,91-04-P,Giles,Marlin A. Flores,denied,NaN,giles,,,,,,,,,Louisiana State Police,2020,865a6ed5c6e19f48b23e68132f1e20b7
4,91-05-O,Blackweldergetal,Marlin A. Flores,withdrawn,NaN,blackweldergetal,,,,,,,,,Louisiana State Police,2020,5ecf4523cfc554609cc46af1b8b136a9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239,93-34-P,LeBlanc,Paul Fontenot,granted,Yes,allison-leblanc,kimberly,,,,,,,,Louisiana State Police,2020,cf4ba8ec8ee1a10c1e93ea4ecf54426c
240,93-35-R/S,Louis Cook,Paul Fontenot,"granted 1,000",Yes,williams,kenneth,,,,,,,,Louisiana State Police,2020,4193536718fa829bff215a199b2cfd00
241,93-35-R/S,Williams,Paul Fontenot,"granted 1,000",Yes,williams,kenneth,,,,,,,,Louisiana State Police,2020,4193536718fa829bff215a199b2cfd00
242,09-180-S,Coddou Hayward,Michael D. Edmonson,dismissed,NaN,coddou,hayward,,2009,1,16,2009,9,17,Louisiana State Police,2020,dfb34737599bb79d7e16431ef36b1b35
243,09-181-S,Coddou Hayward,Michael D. Edmonson,dismissed,NaN,coddou,hayward,,2009,7,20,2009,9,17,Louisiana State Police,2020,dfb34737599bb79d7e16431ef36b1b35

In [3]:
post = prepare_post_data()
post

,agency,last_name,first_name,employment_status,level_1_cert_date,last_pc_12_qualification_date,data_production_year,hire_year,hire_month,hire_day,uid
uid,,,,,,,,,,,
66a38732098548ea5151f425af9d29ec,la state police,guillory,harlan,full-time,1994-09-26,2020-10-29,2020,1994.0,6.0,19.0,66a38732098548ea5151f425af9d29ec
d44abd0c2d6f2039bf3ace7957b3687c,la state police,williams,derrell,full-time,1995-09-25,2020-10-29,2020,1995.0,6.0,18.0,d44abd0c2d6f2039bf3ace7957b3687c
9b595090652ef9540652bc894438906a,la state police,kelleher,adrian,full-time,1990-04-12,2020-10-29,2020,1990.0,1.0,20.0,9b595090652ef9540652bc894438906a
fab77af78b7bd87634e6f4654d5f2ee7,la state police,graphia,greg,full-time,1995-09-25,2020-10-29,2020,1995.0,6.0,18.0,fab77af78b7bd87634e6f4654d5f2ee7
79fe2de6c436fca60e8ab93aa7802147,la state police,jordan,phillip,full-time,1998-05-28,2020-10-29,2020,1998.0,1.0,24.0,79fe2de6c436fca60e8ab93aa7802147
...,...,...,...,...,...,...,...,...,...,...,...
0ea88c620315d118c14d2a47d85bbdba,la state police,mcneal,cody,full-time,2020-01-29,NaN,2020,2019.0,8.0,25.0,0ea88c620315d118c14d2a47d85bbdba
4951ce9fd8b46f1bf71b2f53d88bc636,la state police,moreau,hollie,full-time,NaN,NaN,2020,2019.0,8.0,25.0,4951ce9fd8b46f1bf71b2f53d88bc636
4e348a8e6a1d1e20cbc1d6be73a070f7,la state police,joffrion,thomas,part-time,NaN,NaN,2020,2019.0,2.0,12.0,4e348a8e6a1d1e20cbc1d6be73a070f7
6be61b2d24c704563b9f609bdf2f029a,la state police,bordelon,robert,part-time,1990-08-28,NaN,2020,2011.0,9.0,2.0,6be61b2d24c704563b9f609bdf2f029a
ff7261eb374e83a41c01d1abcf3e733e,la state police,daughtry,jack,reserve,NaN,NaN,2020,NaN,NaN,NaN,ff7261eb374e83a41c01d1abcf3e733e

In [4]:
lprr = match_post(df, post)
lprr

,docket_no,appellant,charging_supervisor,resolution,appealed,last_name,first_name,middle_initial,filed_year,filed_month,filed_day,rendered_year,rendered_month,rendered_day,agency,data_production_year,uid
0,91-01-P,Berry,Marlin A. Flores,denied,Yes,berry,,,,,,,,,Louisiana State Police,2020,975c55633484e123aa609b1636149153
1,91-02-O,Hanna,Marlin A. Flores,settled,NaN,hanna,jaime,c,,,,,,,Louisiana State Police,2020,d830bc29808c3848b4fc82b5d5e66fbb
2,91-03-2,Greenwood,Marlin A. Flores,denied,NaN,greenwood,,,,,,,,,Louisiana State Police,2020,aacb329c30d7f8869bf0db008296ef6a
3,91-04-P,Giles,Marlin A. Flores,denied,NaN,giles,,,,,,,,,Louisiana State Police,2020,865a6ed5c6e19f48b23e68132f1e20b7
4,91-05-O,Blackweldergetal,Marlin A. Flores,withdrawn,NaN,blackweldergetal,,,,,,,,,Louisiana State Police,2020,5ecf4523cfc554609cc46af1b8b136a9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239,93-34-P,LeBlanc,Paul Fontenot,granted,Yes,allison-leblanc,kimberly,,,,,,,,Louisiana State Police,2020,45992242730abdf84bac34ed4576daae
240,93-35-R/S,Louis Cook,Paul Fontenot,"granted 1,000",Yes,williams,kenneth,,,,,,,,Louisiana State Police,2020,4193536718fa829bff215a199b2cfd00
241,93-35-R/S,Williams,Paul Fontenot,"granted 1,000",Yes,williams,kenneth,,,,,,,,Louisiana State Police,2020,4193536718fa829bff215a199b2cfd00
242,09-180-S,Coddou Hayward,Michael D. Edmonson,dismissed,NaN,coddou,hayward,,2009,1,16,2009,9,17,Louisiana State Police,2020,dfb34737599bb79d7e16431ef36b1b35
243,09-181-S,Coddou Hayward,Michael D. Edmonson,dismissed,NaN,coddou,hayward,,2009,7,20,2009,9,17,Louisiana State Police,2020,dfb34737599bb79d7e16431ef36b1b35

In [5]:
lprr = lprr.drop(columns=['appellant'])
lprr = lprr.drop_duplicates(subset=['docket_no', 'uid'])
lprr[lprr.duplicated(subset=['docket_no', 'uid'])]

Empty DataFrame
Columns: [docket_no, charging_supervisor, resolution, appealed, last_name, first_name, middle_initial, filed_year, filed_month, filed_day, rendered_year, rendered_month, rendered_day, agency, data_production_year, uid]
Index: []

In [6]:
lprr[lprr.docket_no == '18-243-S']

,docket_no,charging_supervisor,resolution,appealed,last_name,first_name,middle_initial,filed_year,filed_month,filed_day,rendered_year,rendered_month,rendered_day,agency,data_production_year,uid
219,18-243-S,Kevin W. Reeves,settlement,NaN,NaN,NaN,,2018,11,20,2020,3,12,Louisiana State Police,2020,df18fc1c3d9cea2c0b4544b2c7243cf4