In [1]:
import sys; sys.path.append("../")

import pandas as pd

from lib.explore import show_unique

In [2]:
df = pd.read_csv("../data/louisianna_state_csc/louisianastate_csc_lprr_1991-2020.csv")
df

,Docket No.,Appellant,Col.,Filed,Rendered,Decision,Delay,Appealed?
0,07-166R,"Woodward,William",W,4/29/07,5/17/07,Settled,3 mos,NaN
1,20-247-5,"Truhan, John",R,4/24/20,9/10/20,Denied,3 months 14 days,NaN
2,20-246-T,"Santiago, St. Clair",R,4/6/20,NaN,Withdrawn,NaN,NaN
3,20-245-T,Joey Schouest,R,3/5/20,NaN,Denied,NaN,NaN
4,19-244-,Sheldon Perlong,R,10/1/19,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
203,NaN,Moreau,Fontenot,NaN,NaN,Withdrawn,NaN,NaN
204,NaN,Achord,Fontenot,NaN,NaN,Withdrawn,NaN,NaN
205,NaN,Landry,Fontenot,NaN,NaN,Withdrawn,NaN,NaN
206,NaN,Mistretta J.,Fontenot,NaN,NaN,Withdrawn,NaN,NaN
207,NaN,Leblanc,Fontenot,NaN,NaN,NaN,NaN,NaN