In [1]:
import sys; sys.path.append("../")

import pandas as pd

from lib.explore import show_unique
from clean.louisiana_state_csc_lprr import clean

In [2]:
df = clean()
df

,docket_no,appellant,charging_supervisor,filed_date,rendered_date,decision,delay,appealed
0,91-01-P,Berry,Flores,NaN,NaN,Denied,NaN,Yes
1,91-02-O,Hanna,Flores,NaN,NaN,Settled,NaN,NaN
2,91-03-2,Greenwood,Flores,NaN,NaN,Denied,NaN,NaN
3,91-04-P,Giles,Flores,NaN,NaN,Denied,NaN,NaN
4,91-05-O,Blackweldergetal,Flores,NaN,NaN,Withdrawn,NaN,NaN
...,...,...,...,...,...,...,...,...
235,18-243-S,Eric Curlee,R,11/20/2018,3/12/2020,Settled,3.8 mos,NaN
236,19-244-T,Sheldon Perkins,R,10/1/2019,NaN,NaN,NaN,NaN
237,20-245-T,Joey Schouest,R,3/5/2020,NaN,NaN,NaN,NaN
238,20-246-T,Santigo St. Clair,R,4/6/2020,NaN,NaN,NaN,NaN
239,20-247-S,"Trahan, John",R,4/24/2020,9/10/2020,denied,3.5 mos,NaN

In [6]:
df.appellant.unique()

array(['Berry ', 'Hanna ', 'Greenwood ', 'Giles ', 'Blackweldergetal ',
       'Lee ', 'Louitere ', 'Guthrie ', 'Little ', 'Piazza ', 'Laveryne ',
       'PI Wicker ', 'PI Carpenter ', 'Lewis ', 'Overfelt ', 'Hughes ',
       'Sappington ', 'DiBenedetto ', 'Evans ', 'Briscoe ', 'Scott ',
       'Hilburn ', 'Matte/Perry ', 'Temple ', 'Lavergne ', 'Rodrigue ',
       'Dawson ', 'Gobert ', 'Erwin ', 'Christian ', 'Fox ',
       'Allison-LeBlanc ', 'Cook/Williams ', 'Kuhnest ', 'May ',
       'Mensman ', 'Smith ', 'Guilbeaux ', 'Vines ', 'Moreau ', 'Achord ',
       'Moore ', 'Harrison ', 'Robichaux', 'Baker ', 'Favor ', 'Landry ',
       'Lamby ', 'Diddon ', 'Thomas ', 'Mistretta J. ', 'LeBlanc',
       'Antoine ', 'Taylor ', 'Johnson ', 'Gibbs. Henderson ',
       'Johnson, Kevin ', 'Jordan, Jay ', 'Howard, Bobby ',
       'Zaunbrecher, Martin ', 'Temple, Johnell ', 'Lyons, John ',
       'Lott, Thomas ', 'Lentini, Joseph ', 'Harrison, Troy ',
       'Ross, Clennard ', 'Chisholm, Thomas ', 'Mistretta, Jennifer ',
       'Landry, Robert ', 'McGuane, James ', 'Montgomery, RL ',
       'Johnson, Ben ', 'Morgan, Dane ', 'English, Malcolm ',
       'Derrick, Michael ', 'Bentley, James ', 'Campbell, Steven ',
       'Bailey, Kenneth ', 'Shank, Edward ', 'Westerman, Timmy ',
       'Brooks, Michael ', 'Cooper, Larry ', 'Smith, Kermit ',
       'Sandifer, Jay ', 'Leonard, Michael ', 'Bender, Timnthy ',
       'Bailey, Kenneth D.', 'Berry, Jr., Reuben O. ', 'Brown, Robert ',
       'Fox, Ricky D.', 'Phenix, Keith', 'Guilbeaux. Robert ',
       'Fitzpatrick, Timothy', 'Matte, Blaine', 'Crawford, Stanley',
       'Cameron, Bobby', 'Johnson, Walter ', 'Jacobson, James',
       'McLeary, Lawrence', 'Bascle, Mark', 'Riley, Ryan',
       'Bailey, Kenneth', 'Raley, Ted ', 'Neal, John',
       'Hartzog, John W. ', 'McGarity, Chris', 'Chappell, Frederick ',
       'Willis, Grattis', 'Pierce, Jr., Donald ', 'Riley, Ryan ',
       'Porter, Byron', 'Smith, Hershel', 'Drake, Robert',
       'Thaxton. Jimmy ', 'Buchanan, Chris', 'Chappell, Frederick',
       'Eskine, Ryan ', 'Barnes, Wade', 'Hanks, Tim', 'Fleming, Richard',
       'Moore, Moana', 'Whittaker, Jett, Vaughn', 'Moreau, Danny',
       'Argrave, Jeffrey', 'Matte, John B ', 'Peters, John R',
       'Baum, Stephen', 'Quispe, Esteban I', 'Thomas, Dominic',
       'Jones, Matt', 'Trahan, Rhett', 'Miller, Kevin',
       'Mack, Jr., Claudell ', 'Simmons, Christopher ', 'Parker, John ',
       'Landry, Derek M', 'Guidry, Craig', 'Midalgo, Randy ',
       'Green, William ', "Raphacter. Nigel'M ", 'Starnes, Jason',
       'Vachula, Linda', 'Clesi, Gerard', 'Woodward, William ',
       'Rhone, Ronald ', 'Landry, Derek ', 'Boyer, Chad M', 'Huval, Todd',
       'McCloud, Brett A', 'Cannon, James', 'Lapeyrolerie, Brian',
       'Craig, Timothy', 'Cummings, David', 'Roberts, Ryan',
       'Furca, Ronald', 'Ducoti, Michael V', 'Coddou, Hayward',
       'Thibodeaux, Benjamin', "D'Berry, Jr. Reuben", 'Dauzat, John',
       'Coddou, Hywaard', 'Bryant, David', 'Sanders, Ronald',
       'Poe, Brandon', 'Poe, Willliam "Jason"', 'Bobby, Camarn ',
       'Jay, Sandifer ', 'Branton, Barry', 'Belong, Phillip',
       'Lamarca, Jason', 'Ivy, Christopher T', 'Woodward, Willam ',
       'Gray, Timothy', 'Bordelon, Rohm', 'Summerford, Jones',
       'McCloud, Brett', 'Ardoin, Brian ', 'Gregory, Pleasant',
       'David Lacroix ', 'Brett McCloud ', 'Ryan Roberts ',
       'Jeremy Kimble ', 'Irving Pawl Benoit ', 'Darren Riley ',
       'Scott Butler ', 'Ben LaPoint ', 'Adrian Brown ',
       'Tracy Plaigance ', 'Damier Dyson ', 'Corey Jackson ',
       'Chris, Guillroy', 'Waylon Busby ', 'Rodney Hyatt ',
       'Joseph Jones', 'Burnell L. DeDeaux ', 'Eric Curlee ',
       'Dereck Clark', 'Wayne Taylor', 'Daryl Thomas', 'Sheldon Perlong',
       'Joey Schouest ', 'Tantiago St. Clair', 'Truhan John ',
       'Rodney Hyatt', 'Burnell L. Dedeaux', 'Eric Curlee',
       'Sheldon Perkins', 'Joey Schouest', 'Santigo St. Clair',
       'Trahan, John'], dtype=object)