In [1]:
import sys; sys.path.append('../')
import pandas as pd

from lib.columns import rearrange_personnel_columns
from clean.louisiana_csd_pprr_2021 import clean

In [2]:
df = clean()
df

,department_desc,classified_unclassified,rank_desc,salary,agency,data_production_year,hire_year,hire_month,hire_day,salary_freq,last_name,first_name,middle_initial,uid
0,air support unit/osp-supt,Classified State Police,state police master pilot,127837.84,Louisiana State Police,2021,1999,4,24,yearly,gros,keith,j,8a745a57da64feb092c5e5e54676ce6c
1,air support unit/osp-supt,Classified State Police,state police master pilot,120499.34,Louisiana State Police,2021,2001,12,10,yearly,haley,michael,l,292005f1688d822cfce009a096d73391
2,air support unit/osp-supt,Classified State Police,state police command pilo,128934.26,Louisiana State Police,2021,2001,12,10,yearly,lee,steven,m,24e07b2e951824325180b74d2b3a2927
3,air support unit/osp-supt,Classified State Police,state police master pilot,127837.84,Louisiana State Police,2021,1999,4,24,yearly,levergne,darrell,d,00c5caf8dc7261050c1bb34819f71c24
4,air support unit/osp-supt,Classified State Police,state police senior pilot,91327.08,Louisiana State Police,2021,2007,8,13,yearly,mayer,jordan,b,a45038d669a446554f0163c3f399ed88
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12329,trans & env safety (tess),Classified State Police,state police master troop,61011.86,Louisiana State Police,2021,1995,6,18,yearly,callais,donald,r,efe738917fe35ee24ebeff99a821ad9c
12330,trans & env safety (tess),Classified State Police,state police master troop,54688.40,Louisiana State Police,2021,1999,4,24,yearly,mire,clifton,j,532123f1233dcb425e4c4c18acf72d14
12331,trans & env safety (tess),Classified State Police,state police lieutenant,74216.74,Louisiana State Police,2021,1990,1,20,yearly,mix,mark,g,3c845fb10d41c0eebcc3a312f1636d4f
12332,trans & env safety (tess),Classified State Police,state police captain,79040.26,Louisiana State Police,2021,1994,6,19,yearly,morrison,mark,e,d6add6eab529b6f48c30e2298b189d3d
12333,trans & env safety (tess),Classified State Police,state police captain,82074.72,Louisiana State Police,2021,1990,1,20,yearly,white,donald,d,c428cb73bbe82c29cbfc300fe675c781

In [3]:
df[df.uid == '067c2b8715450153c100908cac0886b2']

Empty DataFrame
Columns: [department_desc, classified_unclassified, rank_desc, salary, agency, data_production_year, hire_year, hire_month, hire_day, salary_freq, last_name, first_name, middle_initial, uid]
Index: []

In [4]:
df.sort_values('uid')

,department_desc,classified_unclassified,rank_desc,salary,agency,data_production_year,hire_year,hire_month,hire_day,salary_freq,last_name,first_name,middle_initial,uid
8714,lsp troop c/region 1,Classified State Police,state police trooper,40906.84,Louisiana State Police,2021,2008,9,28,yearly,bryan,christopher,t,0012445e7ee6a5e0382edabaf25ebb1d
4718,lsp troop c/region 2,Classified State Police,state police trooper,59044.18,Louisiana State Police,2021,2008,9,28,yearly,bryan,christopher,t,0012445e7ee6a5e0382edabaf25ebb1d
2521,lsp troop c/region 2,Classified State Police,state police trooper,62639.98,Louisiana State Police,2021,2008,9,28,yearly,bryan,christopher,t,0012445e7ee6a5e0382edabaf25ebb1d
438,lsp troop c/region 2,Classified State Police,state police trooper,70501.86,Louisiana State Police,2021,2008,9,28,yearly,bryan,christopher,t,0012445e7ee6a5e0382edabaf25ebb1d
1458,lsp troop c/region 2,Classified State Police,state police trooper,66454.70,Louisiana State Police,2021,2008,9,28,yearly,bryan,christopher,t,0012445e7ee6a5e0382edabaf25ebb1d
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
541,lsp troop e/region 3,Classified State Police,state police trooper,57324.54,Louisiana State Police,2021,2015,8,21,yearly,coghlan,brian,a,ffeabace53300b2b160b6774b7aec0d7
5459,district g/region 3,Classified State Police,state police cadet,46610.20,Louisiana State Police,2021,2015,8,21,yearly,coghlan,brian,a,ffeabace53300b2b160b6774b7aec0d7
2882,lsp troop i/region 2,Classified State Police,state police cadet,48008.22,Louisiana State Police,2021,2018,5,27,yearly,washington,tony,o,fffb99105ddfb2275c7469b64c82279e
767,lsp troop i/region 2,Classified State Police,state police trooper,52459.94,Louisiana State Police,2021,2018,5,27,yearly,washington,tony,o,fffb99105ddfb2275c7469b64c82279e
1814,lsp troop i/region 2,Classified State Police,state police trooper,50931.92,Louisiana State Police,2021,2018,5,27,yearly,washington,tony,o,fffb99105ddfb2275c7469b64c82279e