In [1]:
import sys; sys.path.append("../")

import pandas as pd

from lib.explore import show_unique
from clean.louisiana_state_csc_lprr import clean

In [2]:
df = clean()
df

,docket_no,representative,resolution,delay,appealed,last_name,first_name,middle_name,middle_initial,filed_year,filed_month,filed_day,rendered_year,rendered_month,rendered_day,uid
0,07-166-R,w,settled,3 months,,woodward,william,,,2007,4,29,2007,5,17,6ca88c219a2112842740f47631679c3e
1,20-247-S,r,denied,3 months 14 days,,truhan,john,,,2020,4,24,2020,9,10,fd05096e9985626b66801cc106095b2c
2,20-246-T,r,withdrawn,,,santiago,st,clair,c,2020,4,6,,,,0dbacd4fecf2a44d85b34aabfd0ced8b
3,20-245-T,r,denied,,,joey,schouest,,,2020,3,5,,,,50cbff1f269a45e2421070f94e4795c3
4,19-244-T,r,,,,sheldon,perlong,,,2019,10,1,,,,1d018618d920e82a3aca8009469d4c30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
171,92-18-O,fontenot,withdrawn,,,benedetto,di,,,,,,,,,0ae13b63fe07611d8f3bd1be47136147
172,92-22-O,fontenot,withdrawn,,,benedetto,di,,,,,,,,,0ae13b63fe07611d8f3bd1be47136147
173,92-23-S,fontenot,withdrawn,,,scott,,,,,,,,,,891d5b2837562ad506199c35864a6c68
174,93-28-S,fontenot,withdrawn,,,rodrigue,,,,,,,,,,f3eeb7277a2e0116d2416873b02089d4
175,93-30-P,fontenot,withdrawn,,,gobert,,,,,,,,,,9c9ecfc7f8bcaeed1c9d3fab0d3d28a0

In [3]:
df.delay.unique()

array(['3 months', '3 months 14 days', '', '3 months 21 days', '2 months',
       '6 months', '1 year', '11 months', '2 1/2 months',
       '3 years 5 months', '7 months', '1 year 10 months', '5 months',
       '2 years 6 months', '4 months', '1 year 4 months', '9 months',
       '8 months', '1 month', '14 months', '12 months', '13 months',
       '16 months', '10 months', '1 year 1 month', '23 months',
       '21 months', '29 months', '15 months'], dtype=object)