In [1]:
import sys; sys.path.append("../")

import pandas as pd

from lib.explore import show_unique
from clean.louisiana_state_csc_lprr import clean
from match.louisiana_state_csc import match_post, prepare_post_data

In [2]:
df = clean()
df

../clean/louisiana_state_csc_lprr.py:30: FutureWarning: The default value of regex will change from True to False in a future version.
  df.loc[:, 'appellant'] = df.appellant.str.replace(r'^Matte$', r'John Matte')\
../clean/louisiana_state_csc_lprr.py:38: FutureWarning: The default value of regex will change from True to False in a future version.
  df.loc[:, 'appellant'] = df.appellant.str.replace(r', ', ' ')\
../lib/clean.py:166: FutureWarning: The default value of regex will change from True to False in a future version.
  return series.str.strip().str.replace(r"[^\w-]+", " ").str.replace(r"\s+", " ")\
../clean/louisiana_state_csc_lprr.py:87: FutureWarning: The default value of regex will change from True to False in a future version.
  df.loc[:, 'decision'] = df.decision.str.strip().str.lower()\

,docket_no,appellant,charging_supervisor,decision,appealed,last_name,first_name,middle_initial,filed_year,filed_month,filed_day,rendered_year,rendered_month,rendered_day,agency,data_production_year,uid
0,91-01-P,Berry,Flores,denied,Yes,berry,,,,,,,,,Louisiana State Police,2020,975c55633484e123aa609b1636149153
1,91-02-O,Hanna,Flores,settled,NaN,hanna,,,,,,,,,Louisiana State Police,2020,b2cd1947500c072b64e82be6938d5870
2,91-03-2,Greenwood,Flores,denied,NaN,greenwood,,,,,,,,,Louisiana State Police,2020,aacb329c30d7f8869bf0db008296ef6a
3,91-04-P,Giles,Flores,denied,NaN,giles,,,,,,,,,Louisiana State Police,2020,865a6ed5c6e19f48b23e68132f1e20b7
4,91-05-O,Blackweldergetal,Flores,withdrawn,NaN,blackweldergetal,,,,,,,,,Louisiana State Police,2020,5ecf4523cfc554609cc46af1b8b136a9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239,93-34-P,LeBlanc,Fontenot,granted,Yes,leblanc,,,,,,,,,Louisiana State Police,2020,bd4dcd4d5ba6c95dc81a1c1d42e15ff9
240,93-35-R/S,Louis Cook,Fontenot,"granted 1,000",Yes,louis,cook,,,,,,,,Louisiana State Police,2020,04578b29ad4139f4568129b712dfa1a9
241,93-35-R/S,Williams,Fontenot,"granted 1,000",Yes,williams,,,,,,,,,Louisiana State Police,2020,f715684990137f9113b125d1ef4ece7d
242,09-180-S,Coddou Hayward,E,dismissed,NaN,coddou,hayward,,2009,1,16,2009,9,17,Louisiana State Police,2020,dfb34737599bb79d7e16431ef36b1b35
243,09-181-S,Coddou Hayward,E,dismissed,NaN,coddou,hayward,,2009,7,20,2009,9,17,Louisiana State Police,2020,dfb34737599bb79d7e16431ef36b1b35

In [3]:
df[df.docket_no.isna()]

Empty DataFrame
Columns: [docket_no, appellant, charging_supervisor, decision, appealed, last_name, first_name, middle_initial, filed_year, filed_month, filed_day, rendered_year, rendered_month, rendered_day, agency, data_production_year, uid]
Index: []

In [4]:
post = prepare_post_data()
post

,agency,last_name,first_name,employment_status,level_1_cert_date,last_pc_12_qualification_date,data_production_year,hire_year,hire_month,hire_day,uid
uid,,,,,,,,,,,
66a38732098548ea5151f425af9d29ec,la state police,guillory,harlan,full-time,1994-09-26,2020-10-29,2020,1994.0,6.0,19.0,66a38732098548ea5151f425af9d29ec
d44abd0c2d6f2039bf3ace7957b3687c,la state police,williams,derrell,full-time,1995-09-25,2020-10-29,2020,1995.0,6.0,18.0,d44abd0c2d6f2039bf3ace7957b3687c
9b595090652ef9540652bc894438906a,la state police,kelleher,adrian,full-time,1990-04-12,2020-10-29,2020,1990.0,1.0,20.0,9b595090652ef9540652bc894438906a
fab77af78b7bd87634e6f4654d5f2ee7,la state police,graphia,greg,full-time,1995-09-25,2020-10-29,2020,1995.0,6.0,18.0,fab77af78b7bd87634e6f4654d5f2ee7
79fe2de6c436fca60e8ab93aa7802147,la state police,jordan,phillip,full-time,1998-05-28,2020-10-29,2020,1998.0,1.0,24.0,79fe2de6c436fca60e8ab93aa7802147
...,...,...,...,...,...,...,...,...,...,...,...
0ea88c620315d118c14d2a47d85bbdba,la state police,mcneal,cody,full-time,2020-01-29,NaN,2020,2019.0,8.0,25.0,0ea88c620315d118c14d2a47d85bbdba
4951ce9fd8b46f1bf71b2f53d88bc636,la state police,moreau,hollie,full-time,NaN,NaN,2020,2019.0,8.0,25.0,4951ce9fd8b46f1bf71b2f53d88bc636
4e348a8e6a1d1e20cbc1d6be73a070f7,la state police,joffrion,thomas,part-time,NaN,NaN,2020,2019.0,2.0,12.0,4e348a8e6a1d1e20cbc1d6be73a070f7
6be61b2d24c704563b9f609bdf2f029a,la state police,bordelon,robert,part-time,1990-08-28,NaN,2020,2011.0,9.0,2.0,6be61b2d24c704563b9f609bdf2f029a
ff7261eb374e83a41c01d1abcf3e733e,la state police,daughtry,jack,reserve,NaN,NaN,2020,NaN,NaN,NaN,ff7261eb374e83a41c01d1abcf3e733e

In [5]:
lprr = match_post(df, post)
lprr

,docket_no,appellant,charging_supervisor,decision,appealed,last_name,first_name,middle_initial,filed_year,filed_month,filed_day,rendered_year,rendered_month,rendered_day,agency,data_production_year,uid
0,91-01-P,Berry,Flores,denied,Yes,berry,,,,,,,,,Louisiana State Police,2020,975c55633484e123aa609b1636149153
1,91-02-O,Hanna,Flores,settled,NaN,hanna,,,,,,,,,Louisiana State Police,2020,b2cd1947500c072b64e82be6938d5870
2,91-03-2,Greenwood,Flores,denied,NaN,greenwood,,,,,,,,,Louisiana State Police,2020,aacb329c30d7f8869bf0db008296ef6a
3,91-04-P,Giles,Flores,denied,NaN,giles,,,,,,,,,Louisiana State Police,2020,865a6ed5c6e19f48b23e68132f1e20b7
4,91-05-O,Blackweldergetal,Flores,withdrawn,NaN,blackweldergetal,,,,,,,,,Louisiana State Police,2020,5ecf4523cfc554609cc46af1b8b136a9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239,93-34-P,LeBlanc,Fontenot,granted,Yes,leblanc,,,,,,,,,Louisiana State Police,2020,bd4dcd4d5ba6c95dc81a1c1d42e15ff9
240,93-35-R/S,Louis Cook,Fontenot,"granted 1,000",Yes,louis,cook,,,,,,,,Louisiana State Police,2020,04578b29ad4139f4568129b712dfa1a9
241,93-35-R/S,Williams,Fontenot,"granted 1,000",Yes,williams,,,,,,,,,Louisiana State Police,2020,f715684990137f9113b125d1ef4ece7d
242,09-180-S,Coddou Hayward,E,dismissed,NaN,coddou,hayward,,2009,1,16,2009,9,17,Louisiana State Police,2020,dfb34737599bb79d7e16431ef36b1b35
243,09-181-S,Coddou Hayward,E,dismissed,NaN,coddou,hayward,,2009,7,20,2009,9,17,Louisiana State Police,2020,dfb34737599bb79d7e16431ef36b1b35

In [6]:
colonels = pd.read_csv('../data/louisiana_state_csc/colonel_full_names.csv')
colonels

                   colonel            service_years
0          Louis F. Guerre  07/28/1936 - 05/13/1940
1             Steve Alford  05/14/1940 - 01/31/1943
2         Wilbur D. Atkins  02/01/1943 - 05/13/1948
3            Goldman Grant  05/14/1948 - 07/09/1950
4          Murphy J. Roden  07/10/1950 - 07/01/1951
5       Francis Grevemberg  05/13/1952 - 10/10/1955
6            John N. Brown  05/15/1956 - 06/26/1959
7                E. P. Roy  06/26/1959 - 05/11/1960
8           Thomas Burbank  05/11/1960 - 01/31/1969
9               David Wade  02/01/1969 - 07/01/1969
10       Stanley Berthelot  09/05/1969 - 05/09/1972
11    Donald J. Thibodeaux  05/10/1972 - 07/31/1976
12       Malcolm R. Millet  08/01/1976 - 11/01/1976
13      Grover W. Garrison  11/08/1976 - 01/03/1984
14            J. C. Willie  01/01/1984 - 03/12/1984
15      Wiley D. McCormick  03/12/1984 - 11/15/1987
16            J. C. Willie  11/15/1987 - 03/28/1988
17        Marlin A. Flores  03/29/1988 - 01/13/1992
18           Paul Fontenot  01/13/1992 - 01/08/1996
19  William R. Whittington  01/08/1996 - 07/28/2000
20         Terry C. Landry  07/28/2000 - 01/12/2004
21         Henry Whitehorn  01/12/2004 - 07/19/2007
22         Stanley Griffin  07/19/2007 - 01/14/2008
23     Michael D. Edmonson  01/14/2008 - 03/24/2017
24         Kevin W. Reeves  03/25/2017 - 10/30/2020
25          Lamar A. Davis     10/30/2020 - present

In [20]:
post[post.last_name == 'Thibodeaux']

Empty DataFrame
Columns: [agency, last_name, first_name, employment_status, level_1_cert_date, last_pc_12_qualification_date, data_production_year, hire_year, hire_month, hire_day, uid]
Index: []