In [1]:
import sys; sys.path.append('../')
import pandas as pd

from clean.louisiana_csd_pprr_2021 import clean

In [2]:
df = clean()
df

,department_desc,employee_name,classified_unclassified,rank_desc,annual_salary,agency,data_production_year,hire_year,hire_month,hire_day,last_name,first_name,middle_initial
0,air support unit/osp-supt,"GROS,KEITH J",Classified State Police,state police master pilot,127837.84,Louisiana State Police,2021,1999,4,24,gros,keith,j
1,air support unit/osp-supt,"HALEY,MICHAEL L",Classified State Police,state police master pilot,120499.34,Louisiana State Police,2021,2001,12,10,haley,michael,l
2,air support unit/osp-supt,"LEE,STEVEN M",Classified State Police,state police command pilo,128934.26,Louisiana State Police,2021,2001,12,10,lee,steven,m
3,air support unit/osp-supt,"LEVERGNE,DARRELL D",Classified State Police,state police master pilot,127837.84,Louisiana State Police,2021,1999,4,24,levergne,darrell,d
4,air support unit/osp-supt,"MAYER,JORDAN B",Classified State Police,state police senior pilot,91327.08,Louisiana State Police,2021,2007,8,13,mayer,jordan,b
...,...,...,...,...,...,...,...,...,...,...,...,...,...
12329,trans & env safety (tess),"CALLAIS,DONALD R",Classified State Police,state police master troop,61011.86,Louisiana State Police,2021,1995,6,18,callais,donald,r
12330,trans & env safety (tess),"MIRE,CLIFTON J",Classified State Police,state police master troop,54688.40,Louisiana State Police,2021,1999,4,24,mire,clifton,j
12331,trans & env safety (tess),"MIX,MARK G",Classified State Police,state police lieutenant,74216.74,Louisiana State Police,2021,1990,1,20,mix,mark,g
12332,trans & env safety (tess),"MORRISON,MARK E",Classified State Police,state police captain,79040.26,Louisiana State Police,2021,1994,6,19,morrison,mark,e
12333,trans & env safety (tess),"WHITE,DONALD D",Classified State Police,state police captain,82074.72,Louisiana State Police,2021,1990,1,20,white,donald,d

In [4]:
df.loc[df.first_name == '']

Empty DataFrame
Columns: [department_desc, employee_name, classified_unclassified, rank_desc, annual_salary, agency, data_production_year, hire_year, hire_month, hire_day, last_name, first_name, middle_initial]
Index: []