In [1]:
import sys; sys.path.append("../")

import pandas as pd

from match.madisonville_pd import match
from clean.madisonville_csd_pprr import clean as clean_pprr
from clean.madisonville_pd_cprr import clean as clean_cprr

In [2]:
pprr = clean_pprr()
pprr

,badge_no,first_name,last_name,hire_year,hire_month,hire_day,uid,annual_salary,data_production_year,agency
0,11713,kenneth,bailey,2005,8,13,d21e71a16134f5f6a1036e1451913294,41365.94,2012,Madisonville CSD
1,11713,kenneth,bailey,2005,8,13,d21e71a16134f5f6a1036e1451913294,36658.13,2013,Madisonville CSD
2,11713,kenneth,bailey,2005,8,13,d21e71a16134f5f6a1036e1451913294,38276.15,2014,Madisonville CSD
3,11713,kenneth,bailey,2005,8,13,d21e71a16134f5f6a1036e1451913294,38316.92,2015,Madisonville CSD
4,11713,kenneth,bailey,2005,8,13,d21e71a16134f5f6a1036e1451913294,8902.50,2016,Madisonville CSD
...,...,...,...,...,...,...,...,...,...,...
91,11708,leonard,holloway,2018,12,4,64d446e5085ca8eae7140740d0269f5d,1742.70,2018,Madisonville CSD
92,11708,leonard,holloway,2018,12,4,64d446e5085ca8eae7140740d0269f5d,32377.95,2019,Madisonville CSD
93,11701,barney,tyrney,,,,c5112265f8eaf64a16dc0b1bce99ead2,47282.56,2018,Madisonville CSD
94,11701,barney,tyrney,,,,c5112265f8eaf64a16dc0b1bce99ead2,55846.08,2019,Madisonville CSD
95,11710,john,dupuy,,,,987e8c3dfa1a61ae85fc92e38fac8e00,14165.45,2019,Madisonville CSD

In [3]:
cprr = clean_cprr()
cprr

,rank_desc,last_name,first_name,tracking_number,complainant_name,complainant_sex,occur_year,occur_month,occur_day,data_production_year,agency
0,officer,woessner,shawn,12-6478-018,joe mahon jr,male,2012,10,20,2020,Madisonville PD
1,officer,bailey,kenneth,13-6547-003,becky white,female,,11,14,2020,Madisonville PD

In [4]:
cprr = match(cprr, pprr)
cprr

,rank_desc,tracking_number,complainant_name,complainant_sex,occur_year,occur_month,occur_day,data_production_year,agency,uid
0,officer,12-6478-018,joe mahon jr,male,2012,10,20,2020,Madisonville PD,db0976c18333f113dc0b56ce42b28af7
1,officer,13-6547-003,becky white,female,,11,14,2020,Madisonville PD,d21e71a16134f5f6a1036e1451913294