In [1]:
import sys; sys.path.append("../")

import pandas as pd

from clean.madisonville_pd_pprr import clean

In [2]:
df = clean()
df

,badge_no,2012,2013,2014,2015,2016,2017,2018,2019,first_name,last_name,hire_year,hire_month,hire_day,uid
0,11713,41365.94,36658.13,38276.15,38316.92,8902.50,NaN,NaN,NaN,kenneth,bailey,2005,8,13,d21e71a16134f5f6a1036e1451913294
1,,810.00,NaN,NaN,48.72 427.75,82.10,NaN,NaN,NaN,walter,baumy,2012,8,30,3cc9b9b0ddf564451da439031c9c4a73
2,,34699.47,28110.90,NaN,35755.47,35502.84,36162.00,39546.50,38989.57,ferrell,jarrell,2006,3,1,b4ea6d1cd29492b2aba40526c79a1245
3,11731,306.00,73.08,NaN,44603.01,44394.69,38948.93,33917.97,NaN,gregory,johnson,2012,1,1,2228bd9b4070703be50583742fe853a8
4,11704,37722.76,34799.84,36448.31,968.75,NaN,NaN,NaN,NaN,michael,kast,,,,a5cffdd4bce9362fb3a27caeda9ffad6
5,11702,40686.27,39014.84,42579.43,NaN,272.15,NaN,NaN,NaN,ryan,mahne,2005,7,7,3cd05f0830b00d9098e712191dd6af59
6,,6532.41,4186.49,3595.84,35454.14,35805.05,35570.63,36910.13,36430.16,eric,nolan,2010,2,17,043f5a3c184c4601228dd5cc908f80df
7,,493.29,NaN,NaN,1267.88,80.76,NaN,NaN,NaN,michel,palisi,2012,1,1,160386e255394b1d9fc970cb82ac976e
8,11706,4387.66,6607.84,37283.03,56458.88,58363.32,NaN,NaN,NaN,paul,quatrevignt,,,,166a889259d7728ce18ffc18ed84135c
9,,7148.40,7493.94,9494.22,14457.9,27213.67,54107.94,35417.52,33449.60,hector,sanchez,2001,4,9,02a42fc883bc2630af8343664f143988
10,,55891.66,54477.33,57059.43,7223.08,1136.70,NaN,NaN,NaN,david,smith,1999,1,1,1c18f69e0507818529cbdde194f1057a
11,11707,6962.85,2790.30,483.06,34938.03,35390.23,35652.80,37603.49,35191.08,stephen,stark,,,,03259be45a4edddc5f68f0ce3cf29773
12,,13008.72,11610.05,7747.77,3881.86,2544.24,NaN,NaN,NaN,david,synakiewicz,2008,8,29,a283d7f24222691bf0b6a52e39321a06
13,11705,33692.28,33601.30,35561.00,303.07,NaN,NaN,NaN,NaN,shawn,woessner,,,,db0976c18333f113dc0b56ce42b28af7
14,11711,344.68,NaN,3882.33,1016.73,27769.49,37442.30,27044.55,NaN,kevin,casmere,2013,12,6,dde5216b36f94555099ed29fe5d56182
15,,197.44,NaN,196.40,50.52,189.45,NaN,NaN,NaN,randy,dabdoub,2013,3,6,2c01e679662b9d61884f715bfdee5dd3
16,11708,NaN,NaN,NaN,NaN,26038.57,20744.16,NaN,NaN,jimmy,griffin,2015,10,16,b957c5fbb90d7d1cdf912abee9f2f70b
17,11731,NaN,NaN,NaN,NaN,246.29,NaN,NaN,NaN,alex,tanguis,,,,d4a4ad071619a018195fbcf85ceaa785
18,11709,NaN,NaN,NaN,NaN,NaN,NaN,13269.75,36293.17,marcus,bergeron,2003,10,25,fcccf8f5f1c248e6d130108365aeb536
19,,NaN,NaN,NaN,NaN,NaN,NaN,1742.70,32377.95,richard,walther,2015,12,9,33ba44f5f13e400da744bb735bc48984
20,11709,NaN,NaN,NaN,NaN,NaN,NaN,47282.56,55846.08,chris,bertucci,2018,9,12,16daac5e776c4dbb103939f16460604a
21,11708,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14165.45,leonard,holloway,2018,12,4,64d446e5085ca8eae7140740d0269f5d
22,11701,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,barney,tyrney,,,,c5112265f8eaf64a16dc0b1bce99ead2
23,11710,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,john,dupuy,,,,987e8c3dfa1a61ae85fc92e38fac8e00

In [3]:
df.annual_salary.unique()

AttributeError: 'DataFrame' object has no attribute 'annual_salary'

In [4]:
df[df.annual_salary == '48.72 427.75 ']

,badge_no,2012,2013,2014,2015,2016,2017,2018,2019,first_name,last_name,hire_year,hire_month,hire_day,uid,annual_salary,data_production_year
6,,810.0,NaN,NaN,48.72 427.75,82.1,NaN,NaN,NaN,walter,baumy,2012,8,30,3cc9b9b0ddf564451da439031c9c4a73,48.72 427.75,2015