In [1]:
import sys; sys.path.append("../")

import pandas as pd

from lib.match import print_match_result
from match.madisonville_pd import match
from clean.madisonville_csd_pprr import clean as clean_pprr
from clean.madisonville_pd_cprr import clean as clean_cprr

In [2]:
pprr = clean_pprr()
pprr

,badge_no,first_name,last_name,hire_year,hire_month,hire_day,uid,annual_salary,data_production_year
0,11713,kenneth,bailey,2005,8,13,d21e71a16134f5f6a1036e1451913294,41365.94,2012
1,11713,kenneth,bailey,2005,8,13,d21e71a16134f5f6a1036e1451913294,36658.13,2013
2,11713,kenneth,bailey,2005,8,13,d21e71a16134f5f6a1036e1451913294,38276.15,2014
3,11713,kenneth,bailey,2005,8,13,d21e71a16134f5f6a1036e1451913294,38316.92,2015
4,11713,kenneth,bailey,2005,8,13,d21e71a16134f5f6a1036e1451913294,8902.50,2016
...,...,...,...,...,...,...,...,...,...
91,11708,leonard,holloway,2018,12,4,64d446e5085ca8eae7140740d0269f5d,1742.70,2018
92,11708,leonard,holloway,2018,12,4,64d446e5085ca8eae7140740d0269f5d,32377.95,2019
93,11701,barney,tyrney,,,,c5112265f8eaf64a16dc0b1bce99ead2,47282.56,2018
94,11701,barney,tyrney,,,,c5112265f8eaf64a16dc0b1bce99ead2,55846.08,2019
95,11710,john,dupuy,,,,987e8c3dfa1a61ae85fc92e38fac8e00,14165.45,2019

In [3]:
cprr = clean_cprr()
cprr

,rank_desc,last_name,first_name,tracking_number,complainant_name,complainant_sex,occur_year,occur_month,occur_day
0,officer,woessner,shawn,12-6478-018,joe mahon jr,male,2012,10,20
1,officer,bailey,kenneth,13-6547-003,becky white,female,,11,14

In [4]:
match(cprr, pprr, True)

matches: 2
potential matches: 0
non-matches: 46

*** MATCHES ***

                                 last_name first_name
0                                 woessner      shawn
db0976c18333f113dc0b56ce42b28af7  woessner      shawn

                                 last_name first_name
1                                   bailey    kenneth
d21e71a16134f5f6a1036e1451913294    bailey    kenneth


*** NON-MATCHES ***

                                 last_name first_name
0                                 woessner      shawn
d21e71a16134f5f6a1036e1451913294    bailey    kenneth

                                 last_name first_name
0                                 woessner      shawn
3cc9b9b0ddf564451da439031c9c4a73     baumy     walter

                                 last_name first_name
0                                 woessner      shawn
b4ea6d1cd29492b2aba40526c79a1245   jarrell    ferrell

                                 last_name first_name
0                                 woessner      shawn
2228bd9b4070703be50583742fe853a8   johnson    gregory

                                 last_name first_name
0                                 woessner      shawn
a5cffdd4bce9362fb3a27caeda9ffad6      kast    michael

                                 last_name first_name
0                                 woessner      shawn
3cd05f0830b00d9098e712191dd6af59     mahne       ryan

                                 last_name first_name
0                                 woessner      shawn
043f5a3c184c4601228dd5cc908f80df     nolan       eric

                                 last_name first_name
0                                 woessner      shawn
160386e255394b1d9fc970cb82ac976e    palisi     michel

                                    last_name first_name
0                                    woessner      shawn
166a889259d7728ce18ffc18ed84135c  quatrevignt       paul

                                 last_name first_name
0                                 woessner      shawn
02a42fc883bc2630af8343664f143988   sanchez     hector

                                 last_name first_name
0                                 woessner      shawn
1c18f69e0507818529cbdde194f1057a     smith      david

                                 last_name first_name
0                                 woessner      shawn
03259be45a4edddc5f68f0ce3cf29773     stark    stephen

                                    last_name first_name
0                                    woessner      shawn
a283d7f24222691bf0b6a52e39321a06  synakiewicz      david

                                 last_name first_name
0                                 woessner      shawn
dde5216b36f94555099ed29fe5d56182   casmere      kevin

                                 last_name first_name
0                                 woessner      shawn
2c01e679662b9d61884f715bfdee5dd3   dabdoub      randy

                                 last_name first_name
0                                 woessner      shawn
b957c5fbb90d7d1cdf912abee9f2f70b   griffin      jimmy

                                 last_name first_name
0                                 woessner      shawn
d4a4ad071619a018195fbcf85ceaa785   tanguis       alex

                                 last_name first_name
0                                 woessner      shawn
fcccf8f5f1c248e6d130108365aeb536  bergeron     marcus

                                 last_name first_name
0                                 woessner      shawn
33ba44f5f13e400da744bb735bc48984   walther    richard

                                 last_name first_name
0                                 woessner      shawn
16daac5e776c4dbb103939f16460604a  bertucci      chris

                                 last_name first_name
0                                 woessner      shawn
64d446e5085ca8eae7140740d0269f5d  holloway    leonard

                                 last_name first_name
0                                 woessner      shawn
c5112265f8eaf64a16dc0b1bce99ead2    tyrney     barney

                                 last_name first_name
0                                 woessner      shawn
987e8c3dfa1a61ae85fc92e38fac8e00     dupuy       john

                                 last_name first_name
1                                   bailey    kenneth
3cc9b9b0ddf564451da439031c9c4a73     baumy     walter

                                 last_name first_name
1                                   bailey    kenneth
b4ea6d1cd29492b2aba40526c79a1245   jarrell    ferrell

                                 last_name first_name
1                                   bailey    kenneth
2228bd9b4070703be50583742fe853a8   johnson    gregory

                                 last_name first_name
1                                   bailey    kenneth
a5cffdd4bce9362fb3a27caeda9ffad6      kast    michael

                                 last_name first_name
1                                   bailey    kenneth
3cd05f0830b00d9098e712191dd6af59     mahne       ryan

                                 last_name first_name
1                                   bailey    kenneth
043f5a3c184c4601228dd5cc908f80df     nolan       eric

                                 last_name first_name
1                                   bailey    kenneth
160386e255394b1d9fc970cb82ac976e    palisi     michel

                                    last_name first_name
1                                      bailey    kenneth
166a889259d7728ce18ffc18ed84135c  quatrevignt       paul

                                 last_name first_name
1                                   bailey    kenneth
02a42fc883bc2630af8343664f143988   sanchez     hector

                                 last_name first_name
1                                   bailey    kenneth
1c18f69e0507818529cbdde194f1057a     smith      david

                                 last_name first_name
1                                   bailey    kenneth
03259be45a4edddc5f68f0ce3cf29773     stark    stephen

                                    last_name first_name
1                                      bailey    kenneth
a283d7f24222691bf0b6a52e39321a06  synakiewicz      david

                                 last_name first_name
1                                   bailey    kenneth
db0976c18333f113dc0b56ce42b28af7  woessner      shawn

                                 last_name first_name
1                                   bailey    kenneth
dde5216b36f94555099ed29fe5d56182   casmere      kevin

                                 last_name first_name
1                                   bailey    kenneth
2c01e679662b9d61884f715bfdee5dd3   dabdoub      randy

                                 last_name first_name
1                                   bailey    kenneth
b957c5fbb90d7d1cdf912abee9f2f70b   griffin      jimmy

                                 last_name first_name
1                                   bailey    kenneth
d4a4ad071619a018195fbcf85ceaa785   tanguis       alex

                                 last_name first_name
1                                   bailey    kenneth
fcccf8f5f1c248e6d130108365aeb536  bergeron     marcus

                                 last_name first_name
1                                   bailey    kenneth
33ba44f5f13e400da744bb735bc48984   walther    richard

                                 last_name first_name
1                                   bailey    kenneth
16daac5e776c4dbb103939f16460604a  bertucci      chris

                                 last_name first_name
1                                   bailey    kenneth
64d446e5085ca8eae7140740d0269f5d  holloway    leonard

                                 last_name first_name
1                                   bailey    kenneth
c5112265f8eaf64a16dc0b1bce99ead2    tyrney     barney

                                 last_name first_name
1                                   bailey    kenneth
987e8c3dfa1a61ae85fc92e38fac8e00     dupuy       john