In [1]:
import sys; sys.path.append("../")

import pandas as pd

from lib.match import (
    ColumnsIndex, JaroWinklerSimilarity, StringSimilarity, DateSimilarity, ThresholdMatcher
)
from lib.date import combine_date_columns
from clean.madisonville_csd_pprr import clean as clean_pprr
from clean.madisonville_pd_cprr import clean as clean_cprr

In [2]:
pprr = clean_pprr()
pprr

../lib/clean.py:166: FutureWarning: The default value of regex will change from True to False in a future version.
  return series.str.strip().str.replace(r"[^\w-]+", " ").str.replace(r"\s+", " ")\

,badge_no,first_name,last_name,hire_year,hire_month,hire_day,annual_salary,pay_effective_year,agency,data_production_year,uid,perhist_uid
0,11713,kenneth,bailey,2005,8,13,41365.94,2012,Madisonville CSD,2019,6ef571b7611d3707ac039bdb9169809e,dd3e277f336a353ed25762d5bb8cb43e
1,11713,kenneth,bailey,2005,8,13,36658.13,2013,Madisonville CSD,2019,6ef571b7611d3707ac039bdb9169809e,7d6368988ceffe3173b73252cca1be0e
2,11713,kenneth,bailey,2005,8,13,38276.15,2014,Madisonville CSD,2019,6ef571b7611d3707ac039bdb9169809e,a4ac6a5a4f75466bd888601f6c2907b7
3,11713,kenneth,bailey,2005,8,13,38316.92,2015,Madisonville CSD,2019,6ef571b7611d3707ac039bdb9169809e,60b172b67cf6748dc283dc68d49800ca
4,11713,kenneth,bailey,2005,8,13,8902.50,2016,Madisonville CSD,2019,6ef571b7611d3707ac039bdb9169809e,e4174bf48704a340d290752e1ce51a05
...,...,...,...,...,...,...,...,...,...,...,...,...
91,11708,leonard,holloway,2018,12,4,1742.70,2018,Madisonville CSD,2019,2ebc557785c183760a7a4cf7addfba41,09a5ca483ade1aac4dceeabba4d0951f
92,11708,leonard,holloway,2018,12,4,32377.95,2019,Madisonville CSD,2019,2ebc557785c183760a7a4cf7addfba41,e85ba63436b81f228d1b3df1967accdf
93,11701,barney,tyrney,,,,47282.56,2018,Madisonville CSD,2019,34097b96e780a03178ae664aeb9b7115,d8649175755af9abe8e737ab68bb5413
94,11701,barney,tyrney,,,,55846.08,2019,Madisonville CSD,2019,34097b96e780a03178ae664aeb9b7115,11045a6525d970fb107985df110102e4
95,11710,john,dupuy,,,,14165.45,2019,Madisonville CSD,2019,a6bb431fdd4926d98afb58c6a6e260c0,990759d189da2a3709f95ea19cf26bda

In [5]:
pprr[pprr.perhist_uid.duplicated()]

Empty DataFrame
Columns: [badge_no, first_name, last_name, hire_year, hire_month, hire_day, annual_salary, pay_effective_year, agency, data_production_year, uid, perhist_uid]
Index: []

In [3]:
cprr = clean_cprr()
cprr

../clean/madisonville_pd_cprr.py:22: FutureWarning: The default value of regex will change from True to False in a future version.
  df.loc[:, "complainant_name"] = df.complainant_name.str.replace(
../lib/clean.py:166: FutureWarning: The default value of regex will change from True to False in a future version.
  return series.str.strip().str.replace(r"[^\w-]+", " ").str.replace(r"\s+", " ")\

,rank_desc,last_name,first_name,tracking_number,complainant_name,complainant_sex,occur_year,occur_month,occur_day,data_production_year,agency,complaint_uid
0,officer,woessner,shawn,12-6478-018,joe mahon jr,male,2012,10,20,2020,Madisonville PD,8f5c89fcf309d180cfc17abdc875a4ba
1,officer,bailey,kenneth,13-6547-003,becky white,female,,11,14,2020,Madisonville PD,ff8aae15c0bec316ecb6a7101071fd67

In [4]:
cprr = match(cprr, pprr)
cprr

NameError: name 'match' is not defined

In [5]:
post = prepare_post_data()
post

,agency,last_name,first_name,employment_status,level_1_cert_date,last_pc_12_qualification_date,data_production_year,hire_year,hire_month,hire_day,uid
uid,,,,,,,,,,,
01632bc4efa8f03a238474db1c60d357,madisonville pd,woessner,shawn,full-time,NaN,2020-06-25,2020,2012.0,1.0,17.0,01632bc4efa8f03a238474db1c60d357
5139a558a784f3f692f5f4df5649996d,madisonville pd,tyrney,barney,full-time,1990-09-20,2020-06-25,2020,2018.0,3.0,1.0,5139a558a784f3f692f5f4df5649996d
f91dbd73483a13fe58d6a4e284a8d107,madisonville pd,stark,stephen,full-time,1989-02-23,2020-06-18,2020,2005.0,2.0,1.0,f91dbd73483a13fe58d6a4e284a8d107
96342c40cc206c3b031d86fd321d2e96,madisonville pd,stephens,brandon,full-time,2006-03-09,2020-06-18,2020,2020.0,6.0,5.0,96342c40cc206c3b031d86fd321d2e96
2da9a51d940cecd63dbaae92760ebbd2,madisonville pd,quatrevingt,paul,full-time,2009-07-27,2020-06-11,2020,2010.0,10.0,30.0,2da9a51d940cecd63dbaae92760ebbd2
9e45851b4480e99bae4e5cbb65b22395,madisonville pd,kast,michael,full-time,NaN,2020-06-02,2020,NaN,NaN,NaN,9e45851b4480e99bae4e5cbb65b22395
0ab81f04cd14d20e2bc8d0cb74afc46c,madisonville pd,bertucci,christopher,full-time,2017-11-09,2020-05-06,2020,2020.0,7.0,16.0,0ab81f04cd14d20e2bc8d0cb74afc46c
23b23b1807328cf3f5b8f9b9a1f06374,madisonville pd,tangus,alex,full-time,NaN,2019-09-07,2020,2015.0,1.0,27.0,23b23b1807328cf3f5b8f9b9a1f06374
62ede7f5ab5a5d0c5a17f6e08fd630b8,madisonville pd,wolfe,angela,full-time,1992-11-05,NaN,2020,1992.0,6.0,12.0,62ede7f5ab5a5d0c5a17f6e08fd630b8

In [9]:

dfa = pprr[['uid', 'first_name', 'last_name']]
dfa.loc[:, 'fc'] = dfa.first_name.map(lambda x: x[:1])
dfa = dfa.drop_duplicates(subset=['uid']).set_index('uid')

dfb = post[['uid', 'first_name', 'last_name']]
dfb.loc[:, 'fc'] = dfb.first_name.map(lambda x: x[:1])
dfb = dfb.drop_duplicates(subset=['uid']).set_index('uid')

matcher = ThresholdMatcher(dfa, dfb, ColumnsIndex(["fc"]), {
    "last_name": JaroWinklerSimilarity(),
    "first_name": JaroWinklerSimilarity(),
})
matcher.get_sample_pairs(sample_counts=10)

/Users/khoipham/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1596: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = value
/Users/khoipham/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1675: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

                                                                  first_name  \
score_range pair_idx sim_score row_key
1.00-0.95   0        1.000000  c5112265f8eaf64a16dc0b1bce99ead2       barney
                               5139a558a784f3f692f5f4df5649996d       barney
            1        1.000000  a5cffdd4bce9362fb3a27caeda9ffad6      michael
                               9e45851b4480e99bae4e5cbb65b22395      michael
            2        1.000000  db0976c18333f113dc0b56ce42b28af7        shawn
                               01632bc4efa8f03a238474db1c60d357        shawn
            3        1.000000  03259be45a4edddc5f68f0ce3cf29773      stephen
                               f91dbd73483a13fe58d6a4e284a8d107      stephen
            4        0.996974  166a889259d7728ce18ffc18ed84135c         paul
                               2da9a51d940cecd63dbaae92760ebbd2         paul
            5        0.988167  d4a4ad071619a018195fbcf85ceaa785         alex
                               23b23b1807328cf3f5b8f9b9a1f06374         alex
            6        0.955627  16daac5e776c4dbb103939f16460604a        chris
                               0ab81f04cd14d20e2bc8d0cb74afc46c  christopher

                                                                   last_name  \
score_range pair_idx sim_score row_key
1.00-0.95   0        1.000000  c5112265f8eaf64a16dc0b1bce99ead2       tyrney
                               5139a558a784f3f692f5f4df5649996d       tyrney
            1        1.000000  a5cffdd4bce9362fb3a27caeda9ffad6         kast
                               9e45851b4480e99bae4e5cbb65b22395         kast
            2        1.000000  db0976c18333f113dc0b56ce42b28af7     woessner
                               01632bc4efa8f03a238474db1c60d357     woessner
            3        1.000000  03259be45a4edddc5f68f0ce3cf29773        stark
                               f91dbd73483a13fe58d6a4e284a8d107        stark
            4        0.996974  166a889259d7728ce18ffc18ed84135c  quatrevignt
                               2da9a51d940cecd63dbaae92760ebbd2  quatrevingt
            5        0.988167  d4a4ad071619a018195fbcf85ceaa785      tanguis
                               23b23b1807328cf3f5b8f9b9a1f06374       tangus
            6        0.955627  16daac5e776c4dbb103939f16460604a     bertucci
                               0ab81f04cd14d20e2bc8d0cb74afc46c     bertucci

                                                                fc
score_range pair_idx sim_score row_key
1.00-0.95   0        1.000000  c5112265f8eaf64a16dc0b1bce99ead2  b
                               5139a558a784f3f692f5f4df5649996d  b
            1        1.000000  a5cffdd4bce9362fb3a27caeda9ffad6  m
                               9e45851b4480e99bae4e5cbb65b22395  m
            2        1.000000  db0976c18333f113dc0b56ce42b28af7  s
                               01632bc4efa8f03a238474db1c60d357  s
            3        1.000000  03259be45a4edddc5f68f0ce3cf29773  s
                               f91dbd73483a13fe58d6a4e284a8d107  s
            4        0.996974  166a889259d7728ce18ffc18ed84135c  p
                               2da9a51d940cecd63dbaae92760ebbd2  p
            5        0.988167  d4a4ad071619a018195fbcf85ceaa785  a
                               23b23b1807328cf3f5b8f9b9a1f06374  a
            6        0.955627  16daac5e776c4dbb103939f16460604a  c
                               0ab81f04cd14d20e2bc8d0cb74afc46c  c

In [7]:
pprr[pprr.uid == 'a5cffdd4bce9362fb3a27caeda9ffad6']

,badge_no,first_name,last_name,hire_year,hire_month,hire_day,uid,annual_salary,data_production_year,agency
13,11704,michael,kast,,,,a5cffdd4bce9362fb3a27caeda9ffad6,37722.76,2012,Madisonville CSD
14,11704,michael,kast,,,,a5cffdd4bce9362fb3a27caeda9ffad6,34799.84,2013,Madisonville CSD
15,11704,michael,kast,,,,a5cffdd4bce9362fb3a27caeda9ffad6,36448.31,2014,Madisonville CSD
16,11704,michael,kast,,,,a5cffdd4bce9362fb3a27caeda9ffad6,35755.47,2015,Madisonville CSD
17,11704,michael,kast,,,,a5cffdd4bce9362fb3a27caeda9ffad6,35502.84,2016,Madisonville CSD
18,11704,michael,kast,,,,a5cffdd4bce9362fb3a27caeda9ffad6,36162.00,2017,Madisonville CSD
19,11704,michael,kast,,,,a5cffdd4bce9362fb3a27caeda9ffad6,39546.50,2018,Madisonville CSD
20,11704,michael,kast,,,,a5cffdd4bce9362fb3a27caeda9ffad6,38989.57,2019,Madisonville CSD