In [1]:
import sys; sys.path.append('../')
import pandas as pd

from lib.post import prepare_post
from clean.mandeville_pd import clean_pprr_20, clean_cprr_19
from match.mandeville_pd import match_cprr_with_pprr, match_pprr_against_post

In [2]:
pprr = clean_pprr_20()
pprr

../lib/clean.py:166: FutureWarning: The default value of regex will change from True to False in a future version.
  return series.str.strip().str.replace(r"[^\w-]+", " ").str.replace(r"\s+", " ")\
../lib/clean.py:156: FutureWarning: The default value of regex will change from True to False in a future version.
  return series.str.strip().str.replace(r"[^\d\.]", "").astype("float64")

,last_name,first_name,badge_no,rank_desc,annual_salary,term_year,term_day,term_month,hire_year,hire_day,hire_month,agency,data_production_year,uid
0,andel,lloyd,217,officer,NaN,2013,24,4,2010,20,10,Mandeville PD,2020,561f94919fcce171fcb220e0314fd1cb
1,foil,william,190,lieutenant,73819.20,,,,2000,24,7,Mandeville PD,2020,60f5039f77f4863504dfa334ead91bd7
2,arceneaux,clay,236,officer community policing,39945.36,,,,2018,3,1,Mandeville PD,2020,7b9ee98eba19f928dae419de99c33ce6
3,babin,lara,250,officer,36188.88,,,,2020,29,1,Mandeville PD,2020,5d5ebf7df293917b6ed072445cbca0de
4,baehr,stephen,245,officer,38984.40,,,,2019,23,10,Mandeville PD,2020,eff79ed4fc9f54aff66eeb9fe1b73302
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79,white,becky,226,officer,NaN,2017,13,4,2013,4,12,Mandeville PD,2020,fab998a03e07db446f313ebeb2ff45ab
80,white,ben,147,officer,NaN,2004,31,8,1987,23,5,Mandeville PD,2020,626fc2abf0bb4d66769779407d58f9dc
81,whitehead,minton,150,lieutenant detective,NaN,2017,23,4,1989,29,6,Mandeville PD,2020,64bbb10b8ad3f788fc15ee42ad84ff40
82,winther,shannon,194,officer,55120.00,,,,2001,19,3,Mandeville PD,2020,b6de1ad756e6cfcc81cc8611def0219f
83,workman,john,227,officer,44094.96,,,,2014,28,5,Mandeville PD,2020,3de9e5d2d2dd822d79206466f0299181

In [3]:
pprr[pprr.uid.duplicated()]

Empty DataFrame
Columns: [last_name, first_name, badge_no, rank_desc, annual_salary, term_year, term_day, term_month, hire_year, hire_day, hire_month, agency, data_production_year, uid]
Index: []

In [4]:
cprr = clean_cprr_19()
cprr

../lib/clean.py:166: FutureWarning: The default value of regex will change from True to False in a future version.
  return series.str.strip().str.replace(r"[^\w-]+", " ").str.replace(r"\s+", " ")\

,tracking_number,rank_desc,last_name,receive_year,receive_month,receive_day,occur_year,occur_month,occur_day,charges,disposition,comments,investigation_complete_year,investigation_complete_month,investigation_complete_day,investigating_officer,agency,data_production_year,uid,complaint_uid
0,19-01,lieutenant,orman,2019,5,15,,,,unbecoming behavior/sexual harassment,sustained,NaN,2019,6,19,greenwood; miazza; j. anderson,Mandeville PD,2020,92851706b1552c00c11abc23a52bdf49,490548807df300b23cddd017c11573db
1,19-02,officer,garlind,2019,5,17,,,,unbecoming behavior,unfounded,NaN,2019,6,10,greenwood,Mandeville PD,2020,20b1b225c7710ed18c5d85481c3f0a16,22ac1f53a0a6bb5f0b37f32734cc3f44
2,19-03,lieutenant,orman,2019,6,13,2019,6,12,conduct unbecoming/false detention,sustained,NaN,2019,8,8,miazza,Mandeville PD,2020,92851706b1552c00c11abc23a52bdf49,49801c28bc0c2f00f4c3024b503dfe2d
3,19-04,captain,liberto,2019,9,12,2019,8,25,misuse of funds,captain liberto deceased,killed 9/20/2019,2020,9,20,greenwood,Mandeville PD,2020,55096c5bf5aa85c9cb7c7057d58868b6,f96438cd99773bf10ca9c985f663a0b3

In [5]:
# matcher = match_cprr_with_pprr(cprr, pprr)
# matcher.get_sample_pairs()

In [6]:
post = prepare_post('mandeville pd')
match_pprr_against_post(pprr, post)

/Users/khoipham/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1596: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = value
/Users/khoipham/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1675: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

,last_name,first_name,badge_no,rank_desc,annual_salary,term_year,term_day,term_month,hire_year,hire_day,hire_month,agency,data_production_year,uid,level_1_cert_date,last_pc_12_qualification_date
0,andel,lloyd,217,officer,NaN,2013,24,4,2010,20,10,Mandeville PD,2020,561f94919fcce171fcb220e0314fd1cb,,
1,foil,william,190,lieutenant,73819.20,,,,2000,24,7,Mandeville PD,2020,60f5039f77f4863504dfa334ead91bd7,NaN,2020-04-01
2,arceneaux,clay,236,officer community policing,39945.36,,,,2018,3,1,Mandeville PD,2020,7b9ee98eba19f928dae419de99c33ce6,2004-07-21,2020-03-31
3,babin,lara,250,officer,36188.88,,,,2020,29,1,Mandeville PD,2020,5d5ebf7df293917b6ed072445cbca0de,,
4,baehr,stephen,245,officer,38984.40,,,,2019,23,10,Mandeville PD,2020,eff79ed4fc9f54aff66eeb9fe1b73302,2019-11-04,2020-03-23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79,white,becky,226,officer,NaN,2017,13,4,2013,4,12,Mandeville PD,2020,fab998a03e07db446f313ebeb2ff45ab,,
80,white,ben,147,officer,NaN,2004,31,8,1987,23,5,Mandeville PD,2020,626fc2abf0bb4d66769779407d58f9dc,,
81,whitehead,minton,150,lieutenant detective,NaN,2017,23,4,1989,29,6,Mandeville PD,2020,64bbb10b8ad3f788fc15ee42ad84ff40,,
82,winther,shannon,194,officer,55120.00,,,,2001,19,3,Mandeville PD,2020,b6de1ad756e6cfcc81cc8611def0219f,2002-03-27,2020-03-26
83,workman,john,227,officer,44094.96,,,,2014,28,5,Mandeville PD,2020,3de9e5d2d2dd822d79206466f0299181,2013-10-24,2020-03-24