In [1]:
import sys; sys.path.append("../")

import pandas as pd

from clean.new_orleans_harbor_pd import clean_personel

In [2]:
history, personel = clean_personel()

In [3]:
personel

            UID   Last Name Middle Name First Name
0    b0d2aa6537       Adams           M      Casey
1    0b6f48d717     Additon           P    Bernard
2    0466ce6483   Allsbrook           L    Michael
3    4511208ab8  Andersonjr         NaN     Melvin
4    d9ee2a1f50       Arena           P      Bryan
..          ...         ...         ...        ...
113  b3a37ae12f      Walker         NaN    Winston
114  886d44b18f      Walton           M      Byron
115  bd41124ecb  Washington           M     Ardiel
116  a6cd9f7e6f  Washington           W       Ryan
117  6b8d199576      Waters           M    Brianne

[118 rows x 4 columns]

In [4]:
history

,UID,Rank,Hire Date,Termination Date,Pay Effective Date,Hourly Salary
0,b0d2aa6537,POLICE SERGEANT--PORT,1980-01-31,2010-02-28,1997-04-14,17.00
1,b0d2aa6537,POLICE SERGEANT--PORT,1980-01-31,2010-02-28,2003-12-10,17.68
2,b0d2aa6537,POLICE SERGEANT--PORT,1980-01-31,2010-02-28,2004-08-10,18.39
3,b0d2aa6537,POLICE SERGEANT--PORT,1980-01-31,2010-02-28,2005-08-10,19.13
4,b0d2aa6537,POLICE SERGEANT-A,1980-01-31,2010-02-28,2005-08-29,19.13
...,...,...,...,...,...,...
897,6b8d199576,POLICE OFFICER 3-A,2001-03-05,2020-05-11,2014-10-01,20.77
898,6b8d199576,POLICE OFFICER 3-A,2001-03-05,2020-05-11,2015-10-01,21.60
899,6b8d199576,POLICE SERGEANT-A,2001-03-05,2020-05-11,2018-05-14,24.34
900,6b8d199576,POLICE SERGEANT-A,2001-03-05,2020-05-11,2018-07-15,25.07
901,6b8d199576,POLICE SERGEANT-A,2001-03-05,2020-05-11,2019-07-15,25.82