In [1]:
import sys; sys.path.append("../")
import pandas as pd

from lib.clean import clean_names
from lib.explore import show_unique
from clean.new_orleans_so_cprr import clean

In [2]:
df = clean()
df

../clean/new_orleans_so_cprr.py:31: FutureWarning: The default value of regex will change from True to False in a future version.
  df.loc[:, col] = df[col].str.replace(r"-\r", r"-")\
../clean/new_orleans_so_cprr.py:41: FutureWarning: The default value of regex will change from True to False in a future version.
  series = series.str.replace(pat, r'\2').str.strip()

,receive_date,tracking_number,intial_action,department_desc,investigating_supervisor,rank_desc,emp_no,charges,inmate_grievance,referred_by,date_started,date_completed,date_of_board,disposition,terminated_resigned,summary,a_i,first_name,middle_initial,last_name
0,01/4/2019,A-001-19,DM-2,OJC,Major Carlos Louque,Deputy,105071,Reporting for Duty and Knowledge of Policies,N,OJC,01/10/2019,01/10/2019,01/10/2019,Reporting for Duty and Knowledge of Policies,NaN,Reported late for duty.,0,dwane,,davis
1,01/4/2019,A-003-19,DM-2,FIT,Agent Tina Ellis,Agent,104339,Unauthorized Force/Physical Intimidation,N,FIT,1/4/2019,1/11/2019,NaN,Unauthorized Force/Physical Intimidation- Non-...,NaN,Accused of pushing a civilian with both hands ...,0,sharonda,,hadley
2,01/7/2019,A-004-19,DM-2,FIT,Agent Julian Augustus,Recruit,105334,Unauthorized Force/Physical Intimidation and P...,N,FIT,1/7/2019,1/16/2019,1/24/2019,Unauthorized Force/Physical Intimidation 5 day...,NaN,Observed via video footage to have struck an i...,0,tyla,,sterling
3,01/7/2019,A-005-19,DM-2,RESERVE,Sergeant Larry Taplin,Deputy,NaN,"Unauthorized Force/Physical Intimidation, Inst...",N,FIT,2/17/2019,3/22/2019,4/4/2019,"Unauthorized Force/Physical Intimidation, Inst...",Terminated by DRB 04/04/2019,Observed pushing a woman to ground prior to ar...,0,shawn,,madison
4,01/7/2019,A-005-19,DM-2,RESERVE,Sergeant Larry Taplin,Captain,NaN,Supervisory Respnsibilities,N,FIT,2/17/2019,3/22/2019,4/4/2019,Supervisory Respnsibilities- 15 days,NaN,Failed to effect is supervisory duties on IHOP...,0,ellis,,wilson
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
557,12/20/2019,L-035-19,DM-2,CLASS,Agent Kevin Talley,Manager,105362,Instructions from Supervisor or Higher Rank an...,N,ADMIN,12/19/2019,8/10/2020,NaN,Instructions from Supervisor or Higher Rank an...,NaN,Failed to complete a transfer sheet upon compl...,0,irma,,dunn
558,12/23/2019,L-036-19,DM-1,HR,Agent Tina Ellis,Sergeant,104356,Professionalism,N,HR,12/18/2019,1/29/2020,NaN,Professionalism-Unfounded,Accused of spreading a rumor of a sexual relat...,Shaka Milton 105074,0,louis,,evans
559,12/27/2019,L-037-19,DM-2,CDC,Sergeant Larry Taplin,Deputy,105662,"Neglect of Duty, Neglect of Duty-Failure to Ac...",N,CDC,12/31/2019,1/27/2020,2/11/2020,"Neglect of Duty 5 days, Neglect of Duty-Failur...",Terminated by DRB on 02/11/2020,Left her gun in an unsecure area at which time...,0,ermika,,wilson
560,12/27/2019,L-038-19,DM-2,OJC,Sergeant Karen Gant,Deputy,104087,Neglect of Duty and Instructions from Supervis...,N,OJC,3/25/2020,3/25/2020,NaN,Neglect of Duty and Instructions from Supervis...,Resigned prior to start of investigation 03/25...,Failed to serve papers,0,paul,,mckendall
561,12/30/2019,L-039-19,DM-2,CDC,Agent Kevin Talley,Sergeant,103859,Neglect of Duty and Neglect of Duty-Failure to...,N,OJC,NaN,NaN,NaN,Neglect of Duty and Neglect of Duty-Failure to...,under investigation,Failed to notify rank of incident on his watch,1,steve,,shafer

In [9]:
# df.loc[df.terminated_resigned.notna() & df.terminated_resigned.str.contains(r'DM-'), ['intial_action', 'terminated_resigned']]
df.loc[df.terminated_resigned.notna(), ['tracking_number', 'charges', 'terminated_resigned']].drop_duplicates(subset=['terminated_resigned']).to_csv('../data/new_orleans_so_cprr_terminated_resigned.csv', index=False)

In [4]:
df2 = df[['emp_no', 'last_name', 'first_name', 'middle_initial']].drop_duplicates()
df2[(df2.emp_no.notna()) & (df2.emp_no.duplicated(keep=False))].sort_values('emp_no')

     emp_no last_name first_name middle_initial
328  101488     blake      lauri
112  101488     lauri      blake
346  101895     beech    freedie
196  101895     beech    freddie
402  102025  williams       gina
..      ...       ...        ...            ...
366  105776   mangrum       dron
528  105776   mangrum        don
457  105776   mangrum       dion
61    35305    haynes      terry
171   35305     hayes      terry

[93 rows x 4 columns]