In [1]:
import sys; sys.path.append("../")

import pandas as pd

from lib.explore import show_unique
from clean.new_orleans_pd import clean

In [2]:
df = clean()
df

,employee_id,birth_year,department_code,rank_code,rank_desc,badge_no,last_name,first_name,middle_initial,data_production_year,agency,uid,middle_name,department_desc,hire_date
0,569,1963,2702736,C7134,Senior Police Officer,00911,conway,corliss,d,2019,New Orleans PD,8b16ebc056e613024c057be590b542eb,NaN,NaN,NaT
1,1369,1969,2702734,C7110,Police Officer,01226,kendrick,jamal,d,2019,New Orleans PD,0e3a37aa85a14e359df74fa77eded3f6,NaN,NaN,NaT
2,1391,1978,2702734,C7134,Senior Police Officer,02101,marshall,tianay,m,2019,New Orleans PD,7f53f8c6c730af6aeb52e66eb74d8507,NaN,NaN,NaT
3,1599,1975,2702750,C7134,Senior Police Officer,01580,weber,tamara,l,2019,New Orleans PD,83e8ef518174e1eb6be4a0778d050c9d,NaN,NaN,NaT
4,2507,1969,2702705,U0018,Assistant Supt Of Police,,pierce,arlinda,g,2019,New Orleans PD,83691715fdc5baf20ed0742b0b85785b,NaN,NaN,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1597,10445,1971,2702731,C7110,Police Officer,,gagnon,chad,c,1999,New Orleans PD,35c5ce55d4c6015406e3f53558e5bed2,NaN,NaN,NaT
1598,10446,1974,2702731,C7110,Police Officer,,martin,christopher,d,1999,New Orleans PD,0d5501edb21a59a43435efa67f200828,NaN,NaN,NaT
1599,10898,1952,2702736,C7134,Senior Police Officer,,talley,david,,1999,New Orleans PD,3bbca1d243b01b47c2bf42b29a8b265c,NaN,NaN,NaT
1600,11432,1973,2702780,C7110,Police Officer,,gex,nathan,,1999,New Orleans PD,57335eb19f0669886d99414968f976c3,NaN,NaN,NaT
1601,13861,1957,2702737,C7133,Police Officer 3,,guggenheim,gary,,1999,New Orleans PD,320274ee8b7f2e8a82d37d07f64c0e0b,NaN,NaN,NaT

In [5]:
show_unique(df)

28315 rows
employee_id (int64):
    unique: 3098
birth_year (object):
    unique: 66
        ['1963' '1969' '1978' '1975' '1976' '1965' '1971' '1979' '1967' '1964'
 '1966' '1961' '1959' '1953' '1973' '1957' '1962' '1974' '1968' '1955'
 '1960' '1972' '1977' '1958' '1970' '1950' '1949' '1932' '1941' '1947'
 '1956' '1951' '1983' '1980' '1982' '1981' '1985' '1984' '1989' '1986'
 '1987' '1988' '1992' '1993' '1990' '1991' '1994' '1995' '1996' '1997'
 '1998' nan '1946' '1954' '1925' '1952' '1944' '1945' '1948' '1933' '1943'
 '1867' '1942' '1940' '1938' '1927']
department_code (int64):
    unique: 33
        [2702736 2702734 2702750 2702705 2702760 2702732 2702735 2702780 2702731
 2702702 2702738 2702733 2702740 2702737 2702739 2702720 2702769 2702791
 2702711 2702782 2702718 2702746 2702747 2702784 2702795 2702779 2702749
 2702758 2702759 2702787 2702799 2702751 2702764]
rank_code (object):
    unique: 13
        ['C7134' 'C7110' 'U0018' 'C7111' 'C7112' 'C7113' 'U0138' 'C7122' 'C7109'
 'C7132' 'C7133' 'C7115' 'U7114']
rank_desc (object):
    unique: 13
        ['Senior Police Officer' 'Police Officer' 'Assistant Supt Of Police'
 'Police Sergeant' 'Police Lieutenant' 'Police Captain'
 'Superintendent Of Police' 'Police Major' 'Police Recruit'
 'Police Officer 2' 'Police Officer 3' 'Deputy Supt Of Police-Fisc&Per'
 'Police Commander']
badge_no (object):
    unique: 1505
last_name (object):
    unique: 2030
first_name (object):
    unique: 1106
middle_initial (object):
    unique: 27
        ['d' 'm' 'l' 'g' 'p' 'o' 'e' 'a' 'r' '' 'f' 'j' 'h' 'w' 'n' 'c' 'b' 's'
 't' 'v' 'k' 'q' 'i' 'x' 'z' 'u' 'of']
data_production_year (object):
    unique: 21
        ['2019' '2018' '2008' '2009' '2010' '2004' '2005' '2011' '2007' '2013'
 '2012' '2006' '2002' '2016' '2017' '2003' '2015' '2001' '2000' '2014'
 '1999']
agency (object):
    unique: 1
        ['New Orleans PD']
uid (object):
    unique: 3098
middle_name (object):
    unique: 19
        [nan '' 'roland' 'monique' 'ann' 'smothers' 'booth' 'anne' 'brian'
 'norbert' 'samuel' 'taylor' 'bernita' 'michelle' 'nahdege' 'tanika'
 'trashalle' 'tobias' 'patrick']
department_desc (object):
    unique: 22
        [nan 'POL POLICE RECRUITS' 'POL FISCAL MANAGEMENT' 'POL SEVENTH DISTRICT'
 'POL FIFTH  DISTRICT' 'POL SECOND DISTRICT' 'POL THIRD  DISTRICT'
 'POL EIGHTH DISTRICT' 'POL SIXTH  DISTRICT' 'POL FIRST DISTRICT'
 'POL FOURTH DISTRICT' 'POL FIELD OPERATIONS' 'POL PUBLIC INTEGRITY'
 'POL MANAGEMNT SERVICES BUREAU' 'POL SPECIAL INVESTIGATION DIV'
 'POL SPECIAL OPERATIONS' 'POL INVESTIGATIONS & SPRT BURE' 'POL TRAFFIC'
 'POL OFF OF THE SUPERINTENDENT' 'POL MID CITY'
 'POL LAKEVIEW CRIME PREVENT DST' 'POL PUBLIC AFFAIRS']
hire_date (datetime64[ns]):
    unique: 578

In [3]:
df.to_csv("../data/clean/pprr_new_orleans_pd.csv", index=False)

In [11]:
for k, df in dfs.items():
    assert len(df) == len(df.employee_id.unique())

In [5]:
df = input_dfs['new_orleans_pd_pprr_2018.csv'][["home_orgn", "orgn_desc"]].drop_duplicates()\
    .sort_values("home_orgn").reset_index(drop=True)
df.columns = ["department_code", "department_desc"]
df.iloc[:, 0] = df.iloc[:, 0].astype("str").map(lambda x: "%s027%s" % (x[:2], x[2:]))
df

NameError: name 'input_dfs' is not defined

In [8]:
dept_df = pd.read_csv("../data/new_orleans_pd/department_id_description_list.csv")
dept_df.columns = ["department_code", "department_desc"]
dept_df.sort_values("department_code").reset_index(drop=True)
# so much conflicts with the above table

    department_code                                    department_desc
0           2702702                             Superintendent Office
1           2702705                                                PIB
2           2702720                           Compliance Bureau Staff
3           2702731                                      1st District
4           2702732                                      2nd District
5           2702733                                      3rd District
6           2702734                                      4th District
7           2702735                                      5th District
8           2702736                                      6th District
9           2702737                                      7th District
10          2702738                                8th District/Mount
11          2702739                         Gun Hotline/SOD/Mount/K-9
12          2702740  False Alarm Reduction/MSB/Communications/NCIC/...
13          2702746                                    SCID/Crime Lab
14          2702750                                            A.D.D.
15          2702751                                          LHSC/SOD
16          2702760          CID Juvenile/Sex Crimes/ISB/CID Homicide
17          2702779                     Citywide Quality of Life Team
18          2702780                     FOB/Lakeview Crime Prevention
19          2702784                                 RTA Police Transit
20          2702791                        Mid City Security District
21          2702795                         FOB Electronic Monitoring