In [1]:
import sys; sys.path.append("../")

import pandas as pd

from lib.explore import show_unique, print_df
from lib.path import data_file_path
from clean.new_orleans_pd_pprr import clean
from clean.new_orleans_csd_pprr import clean_2014 as clean_csd_2014

In [2]:
pd_pprr = clean()
pd_pprr

,employee_id,birth_year,department_code,rank_code,rank_desc,badge_no,last_name,first_name,middle_initial,data_production_year,agency,uid,middle_name,department_desc,hire_year,hire_month,hire_day
0,569,1963,2702736,C7134,senior police officer,00911,conway,corliss,d,2019,New Orleans PD,8b16ebc056e613024c057be590b542eb,NaN,NaN,NaN,NaN,NaN
1,1369,1969,2702734,C7110,police officer,01226,kendrick,jamal,d,2019,New Orleans PD,0e3a37aa85a14e359df74fa77eded3f6,NaN,NaN,NaN,NaN,NaN
2,1391,1978,2702734,C7134,senior police officer,02101,marshall,tianay,m,2019,New Orleans PD,7f53f8c6c730af6aeb52e66eb74d8507,NaN,NaN,NaN,NaN,NaN
3,1599,1975,2702750,C7134,senior police officer,01580,weber,tamara,l,2019,New Orleans PD,83e8ef518174e1eb6be4a0778d050c9d,NaN,NaN,NaN,NaN,NaN
4,2507,1969,2702705,U0018,assistant supt of police,,pierce,arlinda,g,2019,New Orleans PD,83691715fdc5baf20ed0742b0b85785b,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1597,10445,1971,2702731,C7110,police officer,,gagnon,chad,c,1999,New Orleans PD,35c5ce55d4c6015406e3f53558e5bed2,NaN,NaN,NaN,NaN,NaN
1598,10446,1974,2702731,C7110,police officer,,martin,christopher,d,1999,New Orleans PD,0d5501edb21a59a43435efa67f200828,NaN,NaN,NaN,NaN,NaN
1599,10898,1952,2702736,C7134,senior police officer,,talley,david,,1999,New Orleans PD,3bbca1d243b01b47c2bf42b29a8b265c,NaN,NaN,NaN,NaN,NaN
1600,11432,1973,2702780,C7110,police officer,,gex,nathan,,1999,New Orleans PD,57335eb19f0669886d99414968f976c3,NaN,NaN,NaN,NaN,NaN
1601,13861,1957,2702737,C7133,police officer 3,,guggenheim,gary,,1999,New Orleans PD,320274ee8b7f2e8a82d37d07f64c0e0b,NaN,NaN,NaN,NaN,NaN

In [3]:
csd_pprr = clean_csd_2014()
csd_pprr

,department_desc,last_name,first_name,rank_code,rank_desc,annual_salary,birth_year,birth_month,birth_day,hire_year,...,hire_day,term_year,term_month,term_day,pay_prog_start_year,pay_prog_start_month,pay_prog_start_day,mid,data_production_year,agency
0,pol managemnt services bureau,moore,charmaine,C0025,clerical specialist,11235.83,1901,1,1,1996,...,8,1996,8,28,1996,8,28,d9b2bb8829f4b2e4fd97290ea93ee56e,2014,New Orleans CSD
1,pol managemnt services bureau,coxen,shanna,C5201,laboratory technician 1,14951.72,1972,10,5,1996,...,22,1997,1,1,1997,1,1,693a1967b92e800cfca8b5f800030d47,2014,New Orleans CSD
2,pol special investigation div,cavaliere sr,morris,C7134,police officer 4,29243.06,1947,7,21,1970,...,21,1997,1,4,1997,1,4,0e1583f54d720cd899d9ce17c5d12869,2014,New Orleans CSD
3,pol first district,fonseca,norbert,C7112,police lieutenant,39893.17,1943,8,31,1967,...,21,1997,1,4,1997,1,4,fff2935b97640caa5e15508cf21a871c,2014,New Orleans CSD
4,pol fifth district,hartman,steven,C7112,police lieutenant,33524.95,1964,3,11,1985,...,10,1997,1,4,1997,1,4,7b5f6f0e0cd3b2cfe3718d64a535ac43,2014,New Orleans CSD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3681,pol managemnt services bureau,johnson,shawn,C7105,police aide,28882.03,1990,6,23,2014,...,17,2014,12,10,2014,8,17,3e28e9f4250a2e3ae76d6f36345c6153,2014,New Orleans CSD
3682,pol sixth district,linehan,henry,C7110,police officer 1,37490.69,1982,8,18,2009,...,27,2014,12,11,2011,3,13,7693cd75ee286e1b018fe5df832f79dc,2014,New Orleans CSD
3683,pol first district,finneman,david,C7111,police sergeant,50513.12,1960,12,20,2001,...,16,2014,12,13,2013,1,30,a4180ae4b9be2d1a19f2f68088cc6254,2014,New Orleans CSD
3684,pol managemnt services bureau,badr,mohamed,C7105,police aide,28882.03,1980,10,6,2014,...,31,2014,12,20,2014,8,31,eb56dc40d6c443298c510e1925494a56,2014,New Orleans CSD
3685,pol managemnt services bureau,patrick,carol,C7105,police aide,28882.03,1974,10,23,2014,...,17,2014,12,30,2014,8,17,77a4b1e86f03f8413931593458db3ee2,2014,New Orleans CSD

In [4]:
from lib.match import (
    ColumnsIndex, StringSimilarity, JaroWinklerSimilarity, DateSimilarity, ThresholdMatcher
)
from lib.date import combine_date_columns

pddf = pd_pprr.loc[pd_pprr.data_production_year != "2018", ["uid", "first_name", "last_name", "birth_year"]]
pddf = pddf.drop_duplicates(["uid"]).set_index("uid", drop=True)

csddf = csd_pprr[["mid", "first_name", "last_name", "birth_year"]]
# csddf.loc[:, "hire_date"] = combine_date_columns(csd_pprr, "hire_year", "hire_month", "hire_day")
csddf = csddf.drop_duplicates(["mid"]).set_index("mid", drop=True)

matcher = ThresholdMatcher(pddf, csddf, ColumnsIndex(["birth_year"]), {
    "last_name": JaroWinklerSimilarity(),
    "first_name": JaroWinklerSimilarity(),
})

In [5]:
print_df(matcher.get_sample_pairs(lower_bound=0.9))

                                                                   first_name    last_name birth_year
score_range pair_idx sim_score row_key
1.00-0.95   0        0.985297  16d459c4b261f3015061a7cc7362851c        monica     mclaurin       1982
                               e8479c7a46d4edde888f348df4e167c7        monica    mc laurin       1982
            1        0.983475  967c2ae04b169f07e7fa8fdfd110551e        currin  guillory jr       1953
                               560c02d765705f8d642eb55c7818970e      currin c  guillory jr       1953
            2        0.978030  c6ae9174774e254650073722e5b92a8f          john       brunet       1954
                               8f68dd8f3eb97136dfdc4e208c1619b8          john    brunet jr       1954
            3        0.978030  33beffd09a1b020d1187c6b4b264014a         henry       newton       1944
                               cf2c24441fa36a5ed959c0902edbb0de         henry    newton jr       1944
            4        0.963230  caf14d79a71090573d8741986b4ae1a4        andrew     whitaker       1975
                               739563bbebcc254baca6272050227dcb        andrew        white       1975
0.95-0.90   0        0.920016  f67cd61e7bcf9f4d6b2c3e19e2c2d36d   christopher      johnson       1982
                               6c24e78daa0da16dd158aa121985edd6   christopher        jones       1982
            1        0.916686  9fc64354454711c97058db6110b3a369           est      scanlan       1951
                               cd4f4a4a200abd39f9bc0725472c8d2b  est of cindy      scanlan       1951
            2        0.910609  8b2dfbe0c1d43f9537dae01e96458ff1       charles       miller       1963
                               5fec10a691f8080db4f4c7a1fa2837d1         carol       miller       1963
            3        0.905539  838aac83e00e8c5ca0f839c96d6cb3be             k      karanja       1973
                               6af9a9493c6e2024641d241a991a1dbb           k k      karanja       1973
            4        0.901347  4ddb5b8d603f88e9de689f3230234b47         angel     williams       1974
                               a52c764f08ae3af1e536a05f79b44fce       janelle     williams       1974

In [6]:
matcher.save_pairs_to_excel(data_file_path("new_orleans_pd_pprr_vs_new_orleans_csd_pprr.xlsx"), lower_bound=0.9)

In [12]:
pddf18 = pd_pprr.loc[(pd_pprr.data_production_year == "2018") & ~(pd_pprr.uid.isin(pddf.index)), ["uid", "first_name", "last_name"]]
pddf18.loc[:, "hire_date"] = combine_date_columns(pd_pprr.loc[pd_pprr.data_production_year == "2018"], "hire_year", "hire_month", "hire_day")
pddf18 = pddf18.drop_duplicates(["uid"]).set_index("uid", drop=True)
pddf18.loc[:, "fc"] = pddf18.first_name.map(lambda x: x[:1])

csddf2 = csd_pprr[["mid", "first_name", "last_name"]]
csddf2.loc[:, "hire_date"] = combine_date_columns(csd_pprr, "hire_year", "hire_month", "hire_day")
csddf2 = csddf2.drop_duplicates(["mid"]).set_index("mid", drop=True)
csddf2.loc[:, "fc"] = csddf2.first_name.map(lambda x: x[:1])

matcher2 = ThresholdMatcher(pddf18, csddf2, ColumnsIndex(["fc"]), {
    "last_name": JaroWinklerSimilarity(),
    "first_name": JaroWinklerSimilarity(),
    "hire_date": DateSimilarity()
})

In [17]:
print_df(matcher2.get_sample_pairs(lower_bound=0.7))

                                                                  first_name   last_name  hire_date fc
score_range pair_idx sim_score row_key
0.80-0.75   0        0.762781  bf30b691391de03fdaa2df43a58e76c1       steven   friedrich 2018-04-01  s
                               3ac264cf0c7749e212d90f12ef7ad404       steven    friedman 2000-02-13  s
0.75-0.70   0        0.709508  77161bf6b433fd5a7d8f2b6da38384d9        james     gilbert 2017-09-03  j
                               f9198d16211f134ab64a871e9be8dad9        james     schiler 2000-04-09  j
            1        0.708529  78cfc36b921a50fba024eca72d6a458e         jose      romero 2018-07-15  j
                               ccbfc4c3c3262ed0508d7cd390be7288          joe     roberts 1982-01-03  j
            2        0.704746  471c96afb06d58297ee23ae23d6e18fd  christopher  washington 2018-03-18  c
                               0a18f9e98d7d5de3cd8a44c7bfe8133b  christopher    johnston 1970-07-20  c
            3        0.704746  92b5e0ad1382ba82f334752f24ca70ef         eric       alsup 2018-02-18  e
                               8b3fc35a1579d71e07b7fd292ec29065         eric      biskup 1998-01-25  e
            4        0.702911  bf30b691391de03fdaa2df43a58e76c1       steven   friedrich 2018-04-01  s
                               99748e37b8f20515876f2e287468f1cd       steven        rice 1989-08-28  s

In [18]:
matcher2.save_pairs_to_excel(data_file_path("new_orleans_pd_pprr_2018_vs_new_orleans_csd_pprr.xlsx"), lower_bound=0.7)