In [1]:
import sys; sys.path.insert(0, "../")
import pandas as pd
import numpy as np

from clean.new_orleans_csd_pprr import clean_2014, clean_2009
from lib.explore import show_unique
from match.new_orleans_csd import match_officers
from lib.date import combine_date_columns
from lib.uid import gen_uid

In [2]:
df14 = clean_2014()
df14

,department_desc,last_name,first_name,rank_code,rank_desc,annual_salary,birth_year,birth_month,birth_day,hire_year,...,hire_day,term_year,term_month,term_day,pay_prog_start_year,pay_prog_start_month,pay_prog_start_day,mid,data_production_year,agency
0,pol managemnt services bureau,moore,charmaine,C0025,clerical specialist,11235.83,1901,1,1,1996,...,8,1996,8,28,1996,8,28,d9b2bb8829f4b2e4fd97290ea93ee56e,2014,New Orleans CSD
1,pol managemnt services bureau,coxen,shanna,C5201,laboratory technician 1,14951.72,1972,10,5,1996,...,22,1997,1,1,1997,1,1,693a1967b92e800cfca8b5f800030d47,2014,New Orleans CSD
2,pol special investigation div,cavaliere sr,morris,C7134,police officer 4,29243.06,1947,7,21,1970,...,21,1997,1,4,1997,1,4,0e1583f54d720cd899d9ce17c5d12869,2014,New Orleans CSD
3,pol first district,fonseca,norbert,C7112,police lieutenant,39893.17,1943,8,31,1967,...,21,1997,1,4,1997,1,4,fff2935b97640caa5e15508cf21a871c,2014,New Orleans CSD
4,pol fifth district,hartman,steven,C7112,police lieutenant,33524.95,1964,3,11,1985,...,10,1997,1,4,1997,1,4,7b5f6f0e0cd3b2cfe3718d64a535ac43,2014,New Orleans CSD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3681,pol managemnt services bureau,johnson,shawn,C7105,police aide,28882.03,1990,6,23,2014,...,17,2014,12,10,2014,8,17,3e28e9f4250a2e3ae76d6f36345c6153,2014,New Orleans CSD
3682,pol sixth district,linehan,henry,C7110,police officer 1,37490.69,1982,8,18,2009,...,27,2014,12,11,2011,3,13,7693cd75ee286e1b018fe5df832f79dc,2014,New Orleans CSD
3683,pol first district,finneman,david,C7111,police sergeant,50513.12,1960,12,20,2001,...,16,2014,12,13,2013,1,30,a4180ae4b9be2d1a19f2f68088cc6254,2014,New Orleans CSD
3684,pol managemnt services bureau,badr,mohamed,C7105,police aide,28882.03,1980,10,6,2014,...,31,2014,12,20,2014,8,31,eb56dc40d6c443298c510e1925494a56,2014,New Orleans CSD
3685,pol managemnt services bureau,patrick,carol,C7105,police aide,28882.03,1974,10,23,2014,...,17,2014,12,30,2014,8,17,77a4b1e86f03f8413931593458db3ee2,2014,New Orleans CSD

In [3]:
df14.columns

Index(['department_desc', 'last_name', 'first_name', 'rank_code', 'rank_desc',
       'annual_salary', 'birth_year', 'birth_month', 'birth_day', 'hire_year',
       'hire_month', 'hire_day', 'term_year', 'term_month', 'term_day',
       'pay_prog_start_year', 'pay_prog_start_month', 'pay_prog_start_day',
       'mid', 'data_production_year', 'agency'],
      dtype='object')

In [4]:
df09 = clean_2009()
df09

,department_desc,last_name,first_name,rank_code,rank_desc,annual_salary,term_year,term_month,term_day,pay_prog_start_year,pay_prog_start_month,pay_prog_start_day,mid,data_production_year,agency
0,fiscal management,abbott,christopher,C7134,police officer 4,46885.01,,,,1992,2,9,a83da7a1db81c75a740615457b6c743c,2009,New Orleans CSD
1,traffic,abbott,david,C7134,police officer 4,48064.46,,,,1987,11,1,3dcc3b0764c84a77471669018ec797b0,2009,New Orleans CSD
2,police recruits,abram,shelton,C7109,police recruit academy,34797.91,,,,2009,9,6,389bde7e51c4fda4c1a3b1fb0272be42,2009,New Orleans CSD
3,fiscal management,adams,james,C7133,police officer 3,45734.50,2009,8,30,1987,9,6,5411afa95624ca1f17b558ca73412d85,2009,New Orleans CSD
4,public integrity,adams,bruce,U0018,assistant supt of police,106440.30,,,,1975,10,16,2cfb603b68dc1acc98c43543ad027473,2009,New Orleans CSD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1976,police recruits,yount,jeffrey,C7109,police recruit academy,34797.91,,,,2009,9,13,26e5c139f16cb7fbd4d2ed2dd1ceacc1,2009,New Orleans CSD
1977,technicial services burea,zaldivar,sara,C7101,police complaint operator,25508.06,,,,2009,7,19,d62e46585dc336f37fd48fdf2d504917,2009,New Orleans CSD
1978,sixth district,zapico,daniel,C7110,police officer 1,36570.71,,,,2009,1,4,42a40c68bf646d64356bd4c7e7316169,2009,New Orleans CSD
1979,third district,zoller,ron,C7134,police officer 4,44612.22,,,,2000,12,31,e273f90726d0987998eb9ca3ab3faa62,2009,New Orleans CSD
1980,public integrity,zschiedrich,walter,C7111,police sergeant,63170.56,,,,1974,10,7,dcff99d3c4b8e14fcdefc75d7ac85337,2009,New Orleans CSD

In [5]:
df09[df09.first_name == "juan"]

,department_desc,last_name,first_name,rank_code,rank_desc,annual_salary,term_year,term_month,term_day,pay_prog_start_year,pay_prog_start_month,pay_prog_start_day,mid,data_production_year,agency
107,management services bureau,barnes sr,juan,C7134,police officer 4,45734.50,,,,1998,2,8,225027a3c62f4aa5fe65b1df12d0ebe2,2009,New Orleans CSD
796,technicial services burea,henry,juan,C7134,police officer 4,48064.46,,,,1988,12,18,73628652cd5e68da66fca09f6a47877b,2009,New Orleans CSD
1115,fifth district,lopez,juan,C7110,police officer 1,38433.81,,,,2000,3,5,1f66d5d794846dc75f17343210658373,2009,New Orleans CSD
1473,off of the superintendent,quinton,juan,C7122,police major,77061.11,,,,1975,10,20,16ac43aa67f28a9f7db4d21f5cb3797e,2009,New Orleans CSD
1817,second district,vara,juan,C7110,police officer 1,37490.69,,,,2008,8,17,3caee6c11e761eb1abad29636e69bc2a,2009,New Orleans CSD

In [6]:
df09, df14 = match_officers(df09, df14)
df09

,department_desc,last_name,first_name,rank_code,rank_desc,annual_salary,term_year,term_month,term_day,pay_prog_start_year,pay_prog_start_month,pay_prog_start_day,data_production_year,agency,uid
0,fiscal management,abbott,christopher,C7134,police officer 4,46885.01,,,,1992,2,9,2009,New Orleans CSD,a83da7a1db81c75a740615457b6c743c
1,traffic,abbott,david,C7134,police officer 4,48064.46,,,,1987,11,1,2009,New Orleans CSD,3dcc3b0764c84a77471669018ec797b0
2,police recruits,abram,shelton,C7109,police recruit academy,34797.91,,,,2009,9,6,2009,New Orleans CSD,389bde7e51c4fda4c1a3b1fb0272be42
3,fiscal management,adams,james,C7133,police officer 3,45734.50,2009,8,30,1987,9,6,2009,New Orleans CSD,5411afa95624ca1f17b558ca73412d85
4,public integrity,adams,bruce,U0018,assistant supt of police,106440.30,,,,1975,10,16,2009,New Orleans CSD,2cfb603b68dc1acc98c43543ad027473
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1976,police recruits,yount,jeffrey,C7109,police recruit academy,34797.91,,,,2009,9,13,2009,New Orleans CSD,26e5c139f16cb7fbd4d2ed2dd1ceacc1
1977,technicial services burea,zaldivar,sara,C7101,police complaint operator,25508.06,,,,2009,7,19,2009,New Orleans CSD,d62e46585dc336f37fd48fdf2d504917
1978,sixth district,zapico,daniel,C7110,police officer 1,36570.71,,,,2009,1,4,2009,New Orleans CSD,42a40c68bf646d64356bd4c7e7316169
1979,third district,zoller,ron,C7134,police officer 4,44612.22,,,,2000,12,31,2009,New Orleans CSD,e273f90726d0987998eb9ca3ab3faa62
1980,public integrity,zschiedrich,walter,C7111,police sergeant,63170.56,,,,1974,10,7,2009,New Orleans CSD,dcff99d3c4b8e14fcdefc75d7ac85337

In [7]:
df14

,department_desc,last_name,first_name,rank_code,rank_desc,annual_salary,birth_year,birth_month,birth_day,hire_year,...,hire_day,term_year,term_month,term_day,pay_prog_start_year,pay_prog_start_month,pay_prog_start_day,data_production_year,agency,uid
0,pol managemnt services bureau,moore,charmaine,C0025,clerical specialist,11235.83,1901,1,1,1996,...,8,1996,8,28,1996,8,28,2014,New Orleans CSD,d9b2bb8829f4b2e4fd97290ea93ee56e
1,pol managemnt services bureau,coxen,shanna,C5201,laboratory technician 1,14951.72,1972,10,5,1996,...,22,1997,1,1,1997,1,1,2014,New Orleans CSD,693a1967b92e800cfca8b5f800030d47
2,pol special investigation div,cavaliere sr,morris,C7134,police officer 4,29243.06,1947,7,21,1970,...,21,1997,1,4,1997,1,4,2014,New Orleans CSD,0e1583f54d720cd899d9ce17c5d12869
3,pol first district,fonseca,norbert,C7112,police lieutenant,39893.17,1943,8,31,1967,...,21,1997,1,4,1997,1,4,2014,New Orleans CSD,fff2935b97640caa5e15508cf21a871c
4,pol fifth district,hartman,steven,C7112,police lieutenant,33524.95,1964,3,11,1985,...,10,1997,1,4,1997,1,4,2014,New Orleans CSD,7b5f6f0e0cd3b2cfe3718d64a535ac43
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3681,pol managemnt services bureau,johnson,shawn,C7105,police aide,28882.03,1990,6,23,2014,...,17,2014,12,10,2014,8,17,2014,New Orleans CSD,3e28e9f4250a2e3ae76d6f36345c6153
3682,pol sixth district,linehan,henry,C7110,police officer 1,37490.69,1982,8,18,2009,...,27,2014,12,11,2011,3,13,2014,New Orleans CSD,7693cd75ee286e1b018fe5df832f79dc
3683,pol first district,finneman,david,C7111,police sergeant,50513.12,1960,12,20,2001,...,16,2014,12,13,2013,1,30,2014,New Orleans CSD,a4180ae4b9be2d1a19f2f68088cc6254
3684,pol managemnt services bureau,badr,mohamed,C7105,police aide,28882.03,1980,10,6,2014,...,31,2014,12,20,2014,8,31,2014,New Orleans CSD,eb56dc40d6c443298c510e1925494a56
3685,pol managemnt services bureau,patrick,carol,C7105,police aide,28882.03,1974,10,23,2014,...,17,2014,12,30,2014,8,17,2014,New Orleans CSD,77a4b1e86f03f8413931593458db3ee2