In [1]:
import sys; sys.path.append('../')

import pandas as pd

from clean.ponchatoula_pd import clean

In [2]:
df = clean()
df

,employee_id,first_name,middle_initial,last_name,class,department_desc,termination_date,salary,salary_freq,sex,hire_year,hire_month,hire_day,data_production_year,agency,uid
0,60434,jerome,l,mcdowell,10,pol,2/26/2010,15.02,hourly,male,2006,4,3,2020,Ponchatoula PD,a4d5f48d22b2b71860772d5b26141107
1,60469,terry,j,guillory,10,pol,7/7/2010,12.12,hourly,male,2007,9,28,2020,Ponchatoula PD,65d13a1dc0d21d5c6cf604ddd214bd1c
2,60468,donna,v,fisher,10,disp,8/8/2010,9.71,hourly,female,2007,9,20,2020,Ponchatoula PD,bbce9f5fcce59409ffa54584072591a3
3,60494,marshall,,price,10,pol,12/22/2010,10.99,hourly,male,2009,7,15,2020,Ponchatoula PD,37e24695d53c982014d417d453ae5663
4,60444,morris,,mashon jr,10,pol,3/18/2011,13.24,hourly,male,2006,9,1,2020,Ponchatoula PD,51ec760ee7744345bae7b42105924ebb
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,60584,frank,s,tallia,10,pol,NaN,13.74,hourly,male,2017,9,30,2020,Ponchatoula PD,5bd47649fcb9d0b089dcedcd6d6139bf
72,60520,damieon,r,tanner,10,pol,NaN,17.63,hourly,male,2012,2,6,2020,Ponchatoula PD,2fca0b43a7947168ad334eb6f2ca2381
73,60612,patrick,,trammel,10,pol,NaN,14.49,hourly,male,2019,8,13,2020,Ponchatoula PD,a83867807b8e43ca32ee806db593ede2
74,60547,curtis,j,whitaker,10,pol,NaN,15.70,hourly,male,2015,1,23,2020,Ponchatoula PD,051301494cbb18ec2574ce6973fc3c00
75,60531,nicole,,williams,10,disp,NaN,14.66,hourly,female,2013,7,6,2020,Ponchatoula PD,a7086182b548320b1c87c7da70eb6598

In [3]:
df['class'].unique()

array([10])