In [1]:
import sys; sys.path.append("../")

import pandas as pd

from clean.port_allen_pd_cprr import clean19, clean18
from clean.port_allen_csd_pprr import clean as clean_pprr
from match.port_allen_pd import match_csd_pprr_against_post_pprr, match_cprr_2019_against_csd_pprr_2020, match_cprr_2018_against_csd_pprr_2020

In [2]:
# cprr19 = clean19()
# cprr19

In [3]:
# cprr18 = clean18()
# cprr18

In [4]:
pprr = clean_pprr()
pprr

../clean/port_allen_csd_pprr.py:13: FutureWarning: The default value of regex will change from True to False in a future version.
  cols = df.employee_number_full_name.str.strip().str.replace(r' +- +', r' ')\
../lib/clean.py:166: FutureWarning: The default value of regex will change from True to False in a future version.
  return series.str.strip().str.replace(r"[^\w-]+", " ").str.replace(r"\s+", " ")\
../clean/port_allen_csd_pprr.py:31: FutureWarning: The default value of regex will change from True to False in a future version.
  df.loc[:, 'rank_desc'] = df.rank_desc.str.replace(r'^t ', '')\

,rank_desc,department_code,employment_status,employee_id,last_name,first_name,middle_initial,hire_year,hire_month,hire_day,data_production_year,agency,uid
0,police corporal,01-03,terminated,01-0103,arceneaux,benjamin,p,2006,5,2,2020,Port Allen CSD,de27694faa4d8610a1dce25f00faafab
1,police officer,01-03,terminated,01-0107,armwood,dennis,b,2016,6,15,2020,Port Allen CSD,6e6227ab64eb91cc779bb5de98e0a533
2,police officer,01-03,terminated,01-0047,arrazattee,robert,a,2013,8,2,2020,Port Allen CSD,29f54344ee0ff8cf935829148f78b0db
3,administrative coordinator,01-03,active,01-0186,avants,jennifer,n,2010,4,28,2020,Port Allen CSD,3b1c9541fc1e0d5412bcd2416a9b388a
4,chief of police,01-03,terminated,01-0119,bates,kenneth,e,1988,6,27,2020,Port Allen CSD,d69e2c6c827f4e168829250002919f08
...,...,...,...,...,...,...,...,...,...,...,...,...,...
74,police officer,01-03,terminated,01-0034,williams,robert,j,2013,2,27,2020,Port Allen CSD,05dfc9e64a1d52d9f52a83a7b36d27c9
75,police officer,01-03,active,01-0199,williams,shawn,m,2020,6,24,2020,Port Allen CSD,34055eb7fbb1807aa897a92f787595b8
76,police officer trainee,01-03,active,01-0191,winters,corione,j,2020,2,6,2020,Port Allen CSD,84738b03bcff27ec2d260460f5300c73
77,lieutenant,01-03,active,01-0033,wisham,kendra,e,2013,2,27,2020,Port Allen CSD,969795785004cf2352cbd602c480c121
78,police officer,01-03,terminated,01-0102,wycoskie,tiffeny,j,2016,4,20,2020,Port Allen CSD,1297695da75743835e9e821488141a91