In [1]:
import sys; sys.path.append("../")

import pandas as pd

from clean.post_pprr import clean
from lib.uid import gen_uid
from lib.date import combine_date_columns
from lib.match import (
    ColumnsIndex, StringSimilarity, JaroWinklerSimilarity, DateSimilarity, ThresholdMatcher
)

In [2]:
post = clean()
post

../lib/clean.py:152: FutureWarning: The default value of regex will change from True to False in a future version.
  return series.str.strip().str.replace(r"[^\w-]+", " ").str.replace(r"\s+", " ")\
../clean/post_pprr.py:13: FutureWarning: The default value of regex will change from True to False in a future version.
  df.loc[:, "agency"] = df.agency.str.strip()\

,agency,last_name,first_name,employment_status,level_1_cert_date,last_pc_12_qualification_date,hire_year,hire_month,hire_day,uid
0,14th jdc da office,abshire,dustin,full-time,1998-06-11,2010-10-27,2013,06,01,43ee7cb8a15ca49e883372d3c99988e1
1,17th da office,ourso,damian,full-time,2004-05-13,2010-10-07,2008,11,11,8875f7c0749a1de0923c1242a4363622
2,17th da office,besson,bruce,full-time,NaT,2008-01-26,1997,02,11,2c35336b17f9986c7547656bb72508fe
3,17th da office,bourg,billy,full-time,1991-04-24,2010-10-07,1990,10,12,e17ebe5f0a893d9cb6aac11bf9673c32
4,19th da office,cadarette,steve,full-time,2003-08-28,2020-04-28,2016,04,11,84a22650eb29e5d7d17721d59c3a2fc6
...,...,...,...,...,...,...,...,...,...,...
38898,youngsville pd,fruge,hilary,reserve,2010-11-18,2020-06-22,2017,11,27,2e785e632588b75ebe30c3651f80837c
38899,youngsville pd,mouton,todd,reserve,NaT,2020-06-15,2017,07,01,e2642ae3d8360270ac3b4cfd5d8c5ea4
38900,youngsville pd,hidalgo,jeremy,reserve,NaT,2020-07-31,2017,12,01,a5ca9eebadff5a86ea4e7dd507ba1f73
38901,zachary pd,viccellio,david,reserve,NaT,2019-12-04,2019,12,03,3c6043ea0d02ebbab16968c88c9107f0
38902,zachary pd,maurer,john,reserve,NaT,2019-09-07,2017,05,25,095a275299489ede7eaa839daef8b6fe

In [7]:
post.loc[(post.agency == 'e. baton rouge so') & (post.last_name == 'jones')]

,agency,last_name,first_name,employment_status,level_1_cert_date,last_pc_12_qualification_date,hire_year,hire_month,hire_day,uid
7160,e. baton rouge so,jones,chad,full-time,1998-09-03,2020-08-26,1997,02,18,b818c6e8b63dfc9dcbca3e60f308eebb
7182,e. baton rouge so,jones,steve,full-time,NaT,2019-12-05,1990,03,16,8846fed265f082fbb9f284518c436b4b
7209,e. baton rouge so,jones,eric,full-time,1999-09-02,2020-08-24,1996,07,12,6750061bd943a424ba3304358f767800
7210,e. baton rouge so,jones,jason,full-time,2004-03-11,2020-02-20,1998,12,09,006395762bb426844d37766974a2d065
7359,e. baton rouge so,jones,steven,full-time,2008-06-26,2020-03-03,2015,08,27,7fa07c5512a8ab83ea0922f0d620a9a9
7402,e. baton rouge so,jones,johnny,full-time,2009-06-25,2020-09-16,2000,09,06,371b388985dbcfe96dcea432531a50f7
7492,e. baton rouge so,jones,alisha,full-time,NaT,2020-10-08,2009,02,17,8b01c0cd982cfb430948415a0bf5bf74
7558,e. baton rouge so,jones,edward,full-time,NaT,2020-01-13,1994,04,16,f9f311d3e64045c7ea2739c7c3fd8207
7627,e. baton rouge so,jones,ginger,full-time,NaT,NaT,2001,05,23,63bdee60b38a499e4db6218ada2d0731
7717,e. baton rouge so,jones,linda,full-time,NaT,NaT,2010,11,01,70fc11871033c4c3814708b41b79e97b
7770,e. baton rouge so,jones,major,full-time,1992-11-05,NaT,1990,03,07,0e32d34c45383ca692dc6040f3d28a70
7909,e. baton rouge so,jones,myra,full-time,2018-04-02,2019-12-02,2015,09,16,692ceae23349932500ec63570aaaee33
7918,e. baton rouge so,jones,brandon,full-time,2016-10-17,2020-09-15,2018,03,07,fec370f87e606951749320484ad1c3a3