In [83]:
# import os
# os.chdir("../")

In [84]:
import pandas as pd

from clean.post_officer_history import clean

In [ ]:
df = clean()

In [86]:
df.head(10)

    history_id          agency  ... switched_job source_agency
0            0    jefferson-so  ...         True          post
1            0  new-orleans-so  ...         True          post
3            1  new-orleans-pd  ...         True          post
4            1    jefferson-so  ...         True          post
5            2      harahan-pd  ...         True          post
6            2    jefferson-so  ...         True          post
8            4    jefferson-so  ...        False          post
9            5  new-orleans-so  ...         True          post
10           5   st-bernard-so  ...         True          post
11           5   st-tammany-so  ...         True          post

[10 rows x 12 columns]

In [87]:
"""
Filter out officers who haven't switched employers
"""
df = df[df.switched_job == True]

In [88]:
"""
Number of officers who have switched a job, at any point in their career
"""
df.history_id.nunique()

459

In [89]:
"""
Number officers, who have switched a job, have moved between 172 agencies
"""
df.agency.nunique()

172

In [90]:
df.loc[:, "left_reason"] = df.left_reason.fillna("n/a")

In [91]:
"""
A left reason is provided for 13% of the data
"""
df.left_reason.value_counts(normalize=True)

n/a                        0.865766
voluntary resignation      0.076577
resignation                0.036937
termination                0.019820
involuntary resignation    0.000901
Name: left_reason, dtype: float64

In [92]:
def drop_na_rows(df):
    df.loc[:, "left_reason"] = df.left_reason.str.replace(r"^n\/a$", "", regex=True)
    return df[~((df.left_reason == ""))]

In [93]:
df = df.pipe(drop_na_rows)

In [94]:
"""
Of the 13%: 57% were voluntary resignations, 28% were resignations, and 15% were terminations
"""
df.left_reason.value_counts(normalize=True)

voluntary resignation      0.570470
resignation                0.275168
termination                0.147651
involuntary resignation    0.006711
Name: left_reason, dtype: float64