In [1]:
import sys; sys.path.append('../')
import pandas as pd

from clean.shreveport_pd_cprr import clean_cprr, clean_codebook

In [2]:
df = clean_cprr('shreveport_pd/shreveport_pd_cprr_dispositions_2018.csv', 'shreveport_pd/shreveport_pd_cprr_names_2018.csv', '2018')
# df = clean_cprr(
#     'shreveport_pd/shreveport_pd_cprr_dispositions_2019.csv',
#     'shreveport_pd/shreveport_pd_cprr_names_2019.csv',
#     '2019',
# )
df

/Users/khoipham/.virtualenvs/base/lib/python3.9/site-packages/pandas/core/indexing.py:1597: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = value
/Users/khoipham/.virtualenvs/base/lib/python3.9/site-packages/pandas/core/indexing.py:1676: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)
/Users/khoipham/.virtualenvs/base/lib/python3.9/site-packages/pandas/core/indexing.py:1843: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item_labels[indexer[info_axis]]] = value

,receive_date,tracking_number,allegation,disposition,agency,data_production_year,uid,first_name,last_name,middle_name,middle_initial,complainant_name,complaint_uid
0,01/08/2018,N 01-001,701.01 communi,NaN,Shreveport PD,2018,NaN,NaN,NaN,NaN,NaN,NaN,815e5cd224fa80da88ce7615df567126
1,01/08/2018,N 01-001,306.01 duties,SUSTAINED,Shreveport PD,2018,NaN,NaN,NaN,NaN,NaN,NaN,9e443ab830bb4dc4d7608e7f5906a259
2,01/08/2018,N 01-001,606.10 firearms,SUSTAINED,Shreveport PD,2018,NaN,NaN,NaN,NaN,NaN,NaN,b13ba4310bb22e5bbe4fdd0e927fc3a1
3,01/08/2018,N 01-002,"a-105 iii, (c) (4",NOT SUSTAINED,Shreveport PD,2018,NaN,NaN,NaN,NaN,NaN,NaN,4749037a0a526a6cfff3a73a4b25e0ef
4,01/08/2018,N 01-002,306.01 duties &,NOT SUSTAINED,Shreveport PD,2018,NaN,NaN,NaN,NaN,NaN,NaN,b688cfc73a57789baf98f6e252a1b68e
...,...,...,...,...,...,...,...,...,...,...,...,...,...
350,12/20/2018,N 12-212,404.01 completion o,NaN,Shreveport PD,2018,3407f73afee796ec143c57db964be646,henry,burak,,,"Mims, Katie",a9e151c07ff7f629b1d6a2a6ec41baa7
351,12/28/2018,N 12-213,501.06 police vehicl,NaN,Shreveport PD,2018,a2fdb843916725ce82c0775cef7279a8,treveion,brooks,,,"Grant, Keith",dd176dae434659ad20cd43f1f9a9738a
352,12/28/2018,N 12-214,404.01 completion o,NaN,Shreveport PD,2018,2fa8f986e10deb410d5ee8cc7961dcf2,michael,flentge,,,"Miles, LaShunda",deaa7d0604377f88dad33bdffa15295d
353,12/28/2018,N 12-214,602.01 traffic crash inve,NaN,Shreveport PD,2018,2fa8f986e10deb410d5ee8cc7961dcf2,michael,flentge,,,"Miles, LaShunda",ecd1f71eb155bead8e8ebae29e49199c
354,12/28/2018,N 12-215,404.01 completion o,NaN,Shreveport PD,2018,ad532aedb39a1def4924afd4d962781c,dylan,hudson,,,"Brown, Keith",955e6ac8ad7ab9b453379a43cb5b262d

In [3]:
df.allegation.unique()

array(['701.01 communi', '306.01 duties', '606.10 firearms',
       'a-105 iii, (c) (4', '306.01 duties &', '301.06 sick leave',
       '604.03 felony/', '306.01 courtesy', '701.01 commu',
       '604.03 felony', '601.10 use of force', '502.01 evidencence',
       '303.03 police t', '305.12 supervi', '601.01 arrests',
       '606.01 vehicle', '606.13 mvs', '306.01 duties a',
       '601.01 arrest ge', '306.02 supervi', '100c.7 unbecoming',
       '100c.9 disobedience', 'rules & regulation', '501.01 depart',
       '306.01 commis', '306.01 knowledg', '404.01 complet',
       '902.03 police 1', '402.05 missing p', '601.01 juvenile/',
       'rules & regula  lrs 33:2500 statue', '306.01 professi',
       '306.01 general', '306.01 chain of command', '602.01 traffic',
       '301.05 legal pr', '603.01 radio c', '603.01 radio co',
       '306.01 reporti', '306.01 duties an', '306.01 cooperati',
       '606.10 firearm', '606.12 use of force', '604.03 felony/misde',
       '306.01 duties & res', '601.01 arrests g', '501.06 police v',
       '404.02 field int', '404.02 field intervie', '602.04 vehicle',
       'chain of command courtesy', '601.01 arrests gene',
       '301.13 absence', '306.01 knowle', '304.05 dept. v',
       '304.05 dept. vehicle', '602.01traffic cra', '502.01 evidence',
       '306.01 knowledge o', '502.01 evidence handling',
       '604.03 felony/mi', '604.03 felony/misd inves',
       '604.03 felony/misd. inves', '', '501.01 departme',
       '606.16 handcuffi', '402.05 missing', 'a 104 jailer duti',
       '501.01 dept. pro', '306.01 knowledge of law', '603.01 radio comm',
       '606.17 forcible', '606.17 forcible entr', '404.01 completio',
       '601.10', '404.01 completi', '404.01 completion o',
       '603.03 traffic', '501.04 wearing o', '306.01 unbecoming',
       's-100 jail security', 's 114 door acces', '403.02 initial rep',
       '601.01 use of force', '305.09 substan', '306.01 profession',
       '602.04 vehicle to', '306.01 chain-o', '602.01 traffic cra',
       '604.03 felony/misd.', '100 c.4 courte', '306.02 superviso',
       '502.01 evidence/pro', '302.06 ethics', '606.01 arrests',
       '606.25 conducte', '606.13 recording', '306.01 b knowl',
       '306.01 d chain of command', '501.04 wearing b', '305.14 persona',
       '305.04 special ev', '302.01 uniform', '501.06 police vehicl',
       '602.01 traffic crash inve'], dtype=object)

In [4]:
df2 = df.allegation.str.extract(r'^(\w{3,4}) (.+)')
df2.loc[:, 0].unique()

array([nan, '100'], dtype=object)

In [5]:
cb = clean_codebook()
cb

                                         name    code
0                            abo / sob; absob  606.21
1                           absence from work  301.06
2                                 absenteeism  301.06
3                              abuse of leave  301.06
4                                     academy  307.01
..                                        ...     ...
926                        work, absence from  301.06
927                   workplace relationships  302.03
928                     worksheet, assignment  404.03
929                                 work week  203.05
930  wreckers, use of for towing, paying fees  602.04

[931 rows x 2 columns]

In [8]:
# cb[cb.name.fillna('').str.contains("rules")]
cb.loc[(cb.code == '306.01') & (cb.name.str.contains('professi'))]

Empty DataFrame
Columns: [name, code]
Index: []