In [1]:
import sys; sys.path.append('../')
import pandas as pd

from clean.slidell_pd import clean_pprr_19

In [2]:
df = clean_pprr_19()
df

/Users/khoipham/.virtualenvs/base/lib/python3.9/site-packages/pandas/core/indexing.py:1676: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

,rank_desc,salary_date,hire_date,salary,salary_freq,department_desc,badge_no,employment_status,first_name,last_name,agency,uid
0,police officer 2nd class,01/01/2010,03/24/2004,16.21,hourly,criminal investigations,221,no longer with spd,mario,arthur iii,Slidell PD,275f97ca9b93dd81741a05d40836accb
1,police officer 1st class,12/09/2010,03/24/2004,17.62,hourly,criminal investigations,221,no longer with spd,mario,arthur iii,Slidell PD,275f97ca9b93dd81741a05d40836accb
2,police officer 1st class,01/02/2012,03/24/2004,18.06,hourly,criminal investigations,221,no longer with spd,mario,arthur iii,Slidell PD,275f97ca9b93dd81741a05d40836accb
3,police officer 1st class,07/01/2014,03/24/2004,19.23,hourly,criminal investigations,221,no longer with spd,mario,arthur iii,Slidell PD,275f97ca9b93dd81741a05d40836accb
4,police officer 1st class,07/01/2015,03/24/2004,19.73,hourly,criminal investigations,221,no longer with spd,mario,arthur iii,Slidell PD,275f97ca9b93dd81741a05d40836accb
...,...,...,...,...,...,...,...,...,...,...,...,...
875,police officer 1st class,07/01/2014,11/05/2018,20.71,hourly,patrol division,720,still employed,thomas,williams,Slidell PD,5a24751a774422601e050f7acf48d744
876,police officer 1st class,07/01/2015,11/05/2018,21.21,hourly,patrol division,720,still employed,thomas,williams,Slidell PD,5a24751a774422601e050f7acf48d744
877,temporary police officer,11/05/2018,11/05/2018,18.00,hourly,patrol division,720,still employed,thomas,williams,Slidell PD,5a24751a774422601e050f7acf48d744
878,police officer 1st class,01/01/2010,08/05/2010,19.45,hourly,patrol division,152,retired,david,wortmann,Slidell PD,6fd3b227b3b99ddbf32edcd31f1ce9b6
879,temporary police officer,08/05/2010,08/05/2010,19.45,hourly,patrol division,152,retired,david,wortmann,Slidell PD,6fd3b227b3b99ddbf32edcd31f1ce9b6

In [3]:
df.badge_no.unique()

array(['221', '600', '780', '716', '238', '143', '102', '722', '136',
       '130', '213', '220', '119', '210', '245', '139', '231', '153', '',
       '142', '131', '113', '290', '135', '101', '110', '147', '129',
       '114', '1', '132', '180', '112', '121', '111', '3', '122', '215',
       '120', '141', '148', '134', '133', '223', '123', '246', '150',
       '118', '218', '260', '138', '519', '127', '187', '601', '734',
       '125', '201', '4', '137', '229', '156', '5', '154', '124', '106',
       '186', '158', '10', '850', '126', '144', '228', '115', '219',
       '116', '212', '104', '155', '291', '117', '11', '214', '105',
       '157', '2', '211', '225', '244', '145', '146', '170', '151', '240',
       '152', '720'], dtype=object)